:root {
/** COLORS **/
    --text: #323232;
    --less-important: #646464;
    --body: #e1e1e1; /*rowa*/
    --rowb: #dcdcdc;
    --box: #f5f5f5;
    --edition: #ebebeb;
    --input: #f0f0f0;
    --bar1: #12c9c2; --bar3: #83dfdb; /* 60% #6cdad6 */
    --bar2: #51cca5; --bar4: #a2e0cd; /* 60% #92dcc5 */
    --bar01: rgba(18, 201, 194, 0);
    --bar02: rgba(81, 204, 165, 0);
    --anchor: #0b7a76; /* #bd002c */
    --anchor-hover: #000; /* #053d3b #630017 */
    --anchor-hover-bcg: rgba(18, 201, 194, .1);
	--header-shadow-color: rgba(0,0,0,.1);
    --main-shadow-color: rgba(0,0,0,.2);
    --main-border-color: #cdcdcd;
    --table-border-color: #d7d7d7;
    --input-border-color: #c8c8c8;
    --near-img-anchor: #E6F2F2;
    --on: #3f932a;
    --off: #910000;
    --row-hover: #e6e6e6;
    --colhead-clickable: rgba(255, 255, 255, .15);
    --colhead-active: rgba(255, 255, 255, .3);
    
    --fl: #6441a5;
/** 10 stages, bar1 to bar2 **/
    --b1: #12c9c2; --b2: #19c9bf; --b3: #20cabc; --b4: #27cab8; --b5: #2ecab5; --b6: #35cbb2; --b7: #3ccbaf; --b8: #43cbab; --b9: #4acca8; --b10: #51cca5;
/** 50% opacity vs --box **/
    --b501: #83dfdb; --b502: #86dfda; --b503: #8adfd8; --b504: #8ddfd6; --b505: #91dfd5; --b506: #94e0d3; --b507: #98e0d2; --b508: #9be0d0; --b509: #9fe0ce; --b5010: #a2e0cd;
/** /COLORS **/
    --searchbar-gradient: linear-gradient(155deg,var(--bar1),var(--bar2));
    --header-gradient: linear-gradient(155deg,var(--bar3),var(--bar4));
    --header-shadow: 0 0px 4px var(--header-shadow-color);
    --main-shadow: 0 0 4px var(--main-shadow-color);
    --main-border: 1px solid var(--main-border-color);
    --table-border: 1px solid var(--table-border-color);
    --input-border: 1px solid var(--input-border-color);
    --input-shadow: inset 1px 1px 2px var(--header-shadow-color);
    --expand-hover: linear-gradient(to top, var(--bar1) 0%, var(--bar01));
    --expand-active: linear-gradient(to top, var(--bar1) 0%, var(--bar2));
    --img-border: 3px solid var(--main-border-color);
    --img-hover: 3px solid var(--bar3);
    --img-anchor-border: 3px solid var(--bar4);
    --img-anchor-border-hover: 3px solid var(--bar1);
    --poll-gradient: linear-gradient(to bottom, var(--bar01), var(--anchor)), linear-gradient(to right, var(--bar1), var(--bar2));
    --colhead-tr-bcg: var(--box) linear-gradient(to top,var(--table-border-color),var(--box));
    --lsfl-pulse: linear-gradient(to right,var(--bar02) 20%, var(--bar1) 60%, var(--bar2) 100%);
    --show-hide-border-shadow: inset -1px 0 0px var(--table-border-color);
    --sticky-border: 1px solid var(--bar1);}

.amigacd32 {background: url(caticons/amigacd32_dark.svg);}
.amstradcpc {background: url(caticons/amstradcpc_dark.svg);}
.atarist {background: url(caticons/atarist_dark.svg);}
.fairchildchannelf {background: url(caticons/fairchildchannelf_dark.svg);}
.gameboycolor {background: url(caticons/gameboycolor_dark.svg);}
.gamegear {background: url(caticons/gamegear_dark.svg);}
.nes {background: url(caticons/nes_dark.svg);}
.newnintendo3ds {background: url(caticons/newnintendo3ds_dark.svg);}
.nintendo3ds {background: url(caticons/nintendo3ds_dark.svg);}
.nokian-gage {background: url(caticons/nokian-gage_dark.svg);}
.rcastudioii {background: url(caticons/rcastudioii_dark.svg);}
.tangerineoric {background: url(caticons/tangerineoric_dark.svg);}
.v\.smile {background: url(caticons/v.smile_dark.svg);}
.watarasupervision {background: url(caticons/watarasupervision_dark.svg);}
.wiiu {background: url(caticons/wiiu_dark.svg);}
.Amazon {background: url("weblinks/svg/Amazon_dark.svg");}
#torrents #torrentbrowse #torrent_table td.center.cats_col >div[title=""][class=""] {background: url(caticons/missing.svg);}
.\33 do {background: url(caticons/3do.svg);}
.android {background: url(caticons/android.svg);}
.applebandaipippin {background: url(caticons/applebandaipippin.svg);}
.apps {background: url();}
.atari2600 {background: url(caticons/atari2600.svg);}
.atari5200 {background: url(caticons/atari5200.svg);}
.atari7800 {background: url(caticons/atari7800.svg);}
.atarijaguar {background: url(caticons/atarijaguar.svg);}
.atarilynx {background: url(caticons/atarilynx.svg);}
.bandaiwonderswan,
.wonderswan {background: url(caticons/bandaiwonderswan.svg);}
.bandaiwonderswancolor {background: url(caticons/bandaiwonderswancolor.svg);}
.boardgame {background: url(caticons/boardgame.svg);}
.cardgame {background: url(caticons/cardgame.svg);}
.casioloopy {background: url(caticons/casioloopy.svg);}
.casiopv-1000 {background: url(caticons/casiopv-1000.svg);}
.colecovision {background: url(caticons/colecovision.svg);}
.commodore128 {background: url(caticons/commodore128.svg);}
.commodore64 {background: url(caticons/commodore64.svg);}
.commodoreamiga {background: url(caticons/commodoreamiga.svg);}
.commodoreplus-4 {background: url(caticons/commodoreplus-4.svg);}
.commodorevic-20 {background: url(caticons/commodorevic-20.svg);}
.creativision {background: url(caticons/creativision.svg);}
.dos {background: url(caticons/dos.svg);}
.dreamcast {background: url(caticons/dreamcast.svg);}
.dsiware {background: url();}
.dvd {background: url();}
.emersonarcadia2001 {background: url(caticons/emersonarcadia2001.svg);}
.entexadventurevision {background: url(caticons/entexadventurevision.svg);}
.epochsupercasettevision {background: url(caticons/epochsupercasettevision.svg);}
.ex-bgcollections {background: url();}
.ex-bgfullsets {background: url();}
.ex-bggoldens {background: url();}
.funtechsuperacan {background: url(caticons/funtechsuperacan.svg);}
.game\.com,
.game.com,
.gamecom {background: url(icon/gamecom56.png);}
.gameboy {background: url(caticons/gameboy.svg);}
.gameboyadvance {background: url(caticons/gameboyadvance.svg);}
.gameparkgp32 {background: url(caticons/gameparkgp32.svg);}
.generalcomputervectrex {background: url(caticons/generalcomputervectrex.svg);}
.gizmondo {background: url(caticons/gizmondo.svg);}
.hartungamemaster,
.hartunggamemaster {background: url(caticons/hartunggamemaster.svg);}
.intellivision {background: url(caticons/interactivedvd.svg);}
.interactivedvd {background: url(caticons/interactivedvd.svg);}
.ios {background: url(caticons/ios.svg);}
.linux {background: url(caticons/linux.svg);}
.mac {background: url(caticons/mac.svg);}
.magnavox-phillipsodyssey {background: url(caticons/magnavox-phillipsodyssey.svg);}
.mastersystem {background: url(caticons/mastersystem.svg);}
.mattelintellivision {background: url(caticons/mattelintellivision.svg);}
.megadrive {background: url(caticons/megadrive.svg);}
.memotechmtx {background: url(caticons/memotechmtx.svg);}
.milesgordonsamcoupe {background: url(caticons/milesgordonsamcoupe.svg);}
.miniaturewargames {background: url(caticons/miniaturewargames.svg);}
.msx {background: url(caticons/msx.svg);}
.msx2 {background: url(caticons/msx2.svg);}
.music,
.cats_ost {background: url(caticons/music.svg);}
.necpc-fx {background: url(caticons/necpc-fx.svg);}
.necpc-98 {background: url(caticons/necpc-98.svg);}
.necsupergrafx {background: url(caticons/necsupergrafx.svg);}
.necturbografx-16 {background: url(caticons/necturbografx-16.svg);}
.newnintendo3dsvc {background: url();}
.nintendo3dsvc {background: url();}
.nintendo64 {background: url(caticons/nintendo64.svg);}
.nintendods {background: url(caticons/nintendods.svg);}
.nintendogamecube {background: url(caticons/nintendogamecube.svg);}
.penandpaperrpg {background: url(caticons/penandpaperrpg.svg);}
.philipsvideopac {background: url();}
.philipsvideopac\+ {background: url(caticons/philipsvideopac+.svg);}
.phonepda {background: url(caticons/phonepda.svg);}
.pico {background: url(caticons/pico.svg);}
.playstation1 {background: url(caticons/playstation.svg);}
.playstation2 {background: url(caticons/playstation2.svg);}
.playstation3 {background: url(caticons/playstation3.svg);}
.playstation4 {background: url(caticons/playstation4.svg);}
.playstationportable {background: url(caticons/playstationportable.svg);}
.playstationvita {background: url(caticons/playstationvita.svg);}
.pokemonmini {background: url(caticons/pokemonmini.svg);}
.psonpsp {background: url();}
.psponps3 {background: url();}
.retro-other {background: url(caticons/retro-other.svg);}
.saturn {background: url(caticons/saturn.svg);}
.sg-1000 {background: url(caticons/sg-1000.svg);}
.sharpx1 {background: url(caticons/sharpx1.svg);}
.sharpx68000 {background: url(caticons/sharpx68000.svg);}
.snkneogeo {background: url(caticons/snkneogeo.svg);}
.snkneogeopocket {background: url(caticons/snkneogeopocket.svg);}
.snes,
.supernes {background: url(caticons/snes.svg);}
.switch {background: url(caticons/switch.svg);}
.taitotypex {background: url(caticons/taitotypex.svg);}
.tandycolorcomputer {background: url(caticons/tandycolorcomputer.svg);}
.thomsonmo5 {background: url(caticons/thomsonmo5.svg);}
.turbografx {background: url();}
.vectrex {background: url(caticons/vectrex.svg);}
.virtualboy {background: url(caticons/virtualboy.svg);}
.wii {background: url(caticons/wii.svg);}
.wiiuvc {background: url();}
.wiivc {background: url();}
.wiiware {background: url();}
.windows {background: url(caticons/windows.svg);}
.windows95 {background: url();}
.windowsxp {background: url();}
.xbla {background: url();}
.xbox {background: url(caticons/xbox.svg);}
.xbox360 {background: url(caticons/xbox360.svg);}
.xboxon360 {background: url();}
.zxspectrum {background: url(caticons/zxspectrum.svg);}
.cats_guides,
.cats_ebooks,
.ebook {background: url(caticons/ebook.svg);}
.cats_applications {background: url(caticons/applications.svg);}

.ign {	background: url(weblinks/ign.svg);}
.meta {	background: url(weblinks/metacritic.svg);}
.gamespot {	background: url(weblinks/gamespot.svg);}

.Bandcamp {background: url("weblinks/Bandcamp.svg");}
.Discogs {background: url("weblinks/Discogs.svg");}
.MusicBrainz {background: url("weblinks/MusicBrainz.svg");}
.VGMdb {background: url("weblinks/VGMdb.svg");
filter: drop-shadow(0px 0 1px black);}
.GamesWebsite {background: url("weblinks/GamesWebsite.svg");}
.BoardGameGeek {background: url("weblinks/BoardGameGeek.png");}
.Desura {background: url("weblinks/Desura.svg");}
.DriveThruRPG {background: url("weblinks/DriveThruRPG.png");}
.GameFAQs {background: url("weblinks/GameFAQs.svg");}
.Giantbomb {background: url("weblinks/Giantbomb.svg");}
.GOG {background: url("weblinks/GOG.svg");}
.GooglePlay {background: url("weblinks/GooglePlay.svg");}
.HowLongToBeat {background: url("weblinks/HowLongToBeat.svg");}
.HumbleBundle {background: url("weblinks/HumbleBundle.svg");}
.Itch {background: url("weblinks/Itch.svg");}
.iTunes {background: url("weblinks/iTunes.svg");}
.MobyGames {background: url("weblinks/MobyGames.svg");}
.NexusMods {background: url("weblinks/NexusMods.svg");}
.Origin {background: url("weblinks/Origin.svg");}
.Ouya {background: url("weblinks/Ouya.svg");}
.PSN {background: url("weblinks/PSN.svg");}
.RPGGeek {background: url("weblinks/RPGGeek.png");}
.RPGnet {background: url("weblinks/RPGnet.svg");}
.Steam {background: url("weblinks/Steam.svg");}
.VNDB {background: url("weblinks/VNDB.png");}
.Wikipedia {background: url("weblinks/Wikipedia.png");}
.XboxStore {background: url("weblinks/XboxStore.svg");}
.PCGamingWiki {background: url("weblinks/PCGamingWiki.svg");}

@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Regular.ttf);}
@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Italic.ttf);
    font-style: italic;}
@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-SemiBold.ttf);
    font-weight: 600;}
@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Bold.ttf);
    font-weight: bold;}

@keyframes expandWidth {
	0% {transform: scaleX(0);}
	100% {transform: scaleY(1);}}
@-webkit-keyframes lsfl-pulse-a {
    0% {background-position: 0 0;} 
    100% {background-position: 900px 0;}}

html {
    line-height: 16px;
    font-size: 14px;
    scroll-behavior: smooth;}
body {
    color: var(--text);
    background-color: var(--body);
    background-size: 50px 50px;
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100%;
    min-width: 950px;
    overflow-wrap: break-word;
    position: relative;}
body,
html {
    width: 100%;}
#content,
#wrapper,
#footer {
    margin: 0 auto;}
#content,
#footer {
    max-width: 1300px;
    width: 100%;}

#logo {
    height: 201px;
    width: 200px;
    top: 40px;
    left: 0;
    position: absolute;
    z-index: 99;}
#logo a {
    display: block;
    height: 201px;
    width: 200px;}
#logo a:hover{
    opacity: 1;}

#header,
#menu ul,
#menu ul li,
#searchbars ul,
#userinfo_minor li,
#userinfo_minor,
#userinfo_stats,
#userinfo_username,
#userinfo_username #nav_userinfo,
#userinfo_username .sub,
#nav_useredit,
#nav_logout,
#nav_donate,
.sidebar ul,
#userinfo_stats li,
.sidebar .head li,
.sidebar #polcont .pad,
#dailygazelle {
    padding:0;}
#menu ul,
#menu ul li a,
#userinfo_minor,
#userinfo_stats,
#userinfo_username,
.sidebar .head ul,
#dailygazelle .colhead_dark {
    margin:0;}
#menu ul,
#searchbars ul,
#userinfo_minor,
#userinfo_stats,
#userinfo_username,
.sidebar ul {
    list-style:none;}

#index #recommended .head a,
.box.news_post .head a:not(#markread),
#index #freeleech .group_torrent span:first-child,
#userinfo_stats #connectable,
#stats_ratio,
#stats_seeding a,
#stats_leeching a,
#stats_gold a,
#nav_userinfo,
#toplink,
#nav_logout,
#nav_donate,
#nav_donate a,
#nav_useredit a {
    font-size:0;}

#menu ul li a,
#nav_userinfo a.username {
    font-size: 20px;}

b, strong {
    font-weight: bold;}
ul, ol {
    margin-bottom: 0px;}
li:first-of-type {
    padding-top: 0px;}
li {
    padding: 2px 0;}
table {
    border: 0;
    border-collapse: collapse;
    width: 100%;}
td, th {
    padding: 5px;
    text-align: left;}
td, th, tr {
    border: 0;}

.sub {
    visibility: hidden;}

#slides img {
    cursor: pointer;}

#header {
    font-size: 1em;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    margin-bottom: 20px;
    position: sticky;
    top: -41px;}

#header #announcement {
    width: 100%;
    padding: 5px 0;
    background-color: var(--box);
    border-bottom: var(--main-border);
    box-shadow: var(--header-shadow);
    z-index: -11;
    position: relative;}

#menu ul li a {
    line-height: 34px;
    width: 100%;
    display: block;}

#header:before,
#header:after {
    background-color: var(--body);
    -webkit-box-shadow: inset var(--main-shadow);
    box-shadow: inset var(--main-shadow);
    content: '';
    width: 200px;
    top: 0;
    position: fixed;
    z-index: -10;
    height: 100vh;}
#header:before {
    left: 0;
    border-right: var(--main-border);}
#header:after {
    right: 0;
    border-left: var(--main-border);}

#menu {
    width: 200px;
    position: absolute;
    top: 241px;
    left: 0;}
#menu ul li {
    display: inline-block;
    width: 200px;}
#menu >ul {
    position: sticky;
    top: 200px;}

li.active {
    font-weight: 600;}

#searchbars {
    text-align: center;
    width: 100%;
    height: 40px;
    background: var(--searchbar-gradient);
    -webkit-box-shadow: var(--header-shadow);
    box-shadow: var(--header-shadow);
    border-bottom: var(--main-border);}
#searchbars ul {
    margin: 0 auto;
    max-width: 1314px;
    padding: 2px 0;
    display: flex;}
#searchbars ul li {
    width: 100%;
    padding: 0 7px;}
#searchbars ul li form {
    width: 100%;}
#searchbars input {
    -webkit-box-shadow: var(--input-shadow);
    box-shadow: var(--input-shadow);
    -webkit-box-sizing: border-box;
    border: var(--input-border);
    background-color: var(--input);
    box-sizing: border-box;
    font-size: 1em;
    height: 26px;
    line-height: 24px;
    margin: 5px 0;
    padding: 2px 9px 0;
    position: relative;
    width: 100%;}

.autocomplete_list {
    background: var(--box);
    border: var(--main-border);
    -webkit-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
    position: absolute;
    text-align: left;
    top: 40px;
    z-index: -1;
    padding: 0 14px 0 0 !important;}
.autocomplete_list li {
    cursor: pointer;
    color: var(--anchor);
    line-height: 24px;}
.autocomplete_list li:hover {
    background-color: var(--bar3);
    color: var(--text);}
.autocomplete_list li:hover:active {
    background-color: var(--bar1);}

#userinfo_minor a {
    color: var(--text);
    font-size: 17px;
    width: 100%;
    display: inline-block;
    line-height: 30px;}

#nav_index {
    display: none !important;}
#userinfo_minor {
    width: 200px;
    position: absolute;
    top: 549px;
    left: 0;}
#userinfo_username {
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;}

#userinfo_stats li, #userinfo_stats li a {
    height: 26px;}

#nav_userinfo {
    text-align: center;
    line-height: 36px;
    height: 36px;
    width: 100%;}
#nav_userinfo a.username {
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: inline-block;}
#userinfo_username .sub {
    width: 200px;
    line-height: 28px;
    text-align: center;
    visibility: visible !important;
    right: 0;
    top: 73px;
    position: absolute;
    font-size: 16px;}
#userinfo_stats {
    position: absolute;
    top: 311px;
    right: 0;
    width: 200px;
    display: flex;
    flex-flow: column;
    line-height: 26px;
    font-size: 15px;
    flex-direction: row;
    flex-wrap: wrap;}
#userinfo_username .sub a {
    width: 100%;
    display: block;}

#userinfo_stats li a,
#userinfo_username .sub a,
#menu a,
#userinfo_username li:not(.sub) a {
    color: var(--text);}

#nav_useredit,
#nav_logout,
#nav_donate {
    padding-top: 1px;
    height: 36px;
    line-height: 36px;
    width: calc(100%/3);}

#index #freeleech .group_torrent >span:not(:first-child) {
    padding: 0 2px;}

#index #freeleech .group_torrent >span:first-child,
#stats_ratio,
#nav_useredit {
    order: 1;}
#index #freeleech .group_torrent span.tor_size,
#nav_donate {
    order: 2;}
#index #freeleech .group_torrent >a,
#stats_seeding,
#nav_logout {
    order: 3;}
#index #freeleech .group_torrent span.platform,
#stats_leeching {
    order: 4;}
#index #freeleech .group_torrent span.tor_info,
 #stats_hnr {
    order: 5;}
 #stats_share_score {
    order: 6;}
#stats_gold {
    order: 7;}
#online_irc {
    order: 8;}
#connectable {
    order: 2;}

#index #freeleech .group_torrent >span:first-child a,
#userinfo_stats #connectable .stat span,
#stats_ratio:before,
#stats_seeding a,
#stats_leeching a,
#stats_gold a,
#logo a,
#nav_logout a,
#toplink a,
#nav_donate a,
#nav_useredit a,
.torrent_table .show_torrents_link,
.torrent_table #snatches_icon img,
.torrent_table #user_rating_icon img,
.ign,
.meta,
.gamespot,
.Bandcamp,
.Discogs,
.MusicBrainz,
.VGMdb,
.GamesWebsite,
.Amazon,
.BoardGameGeek,
.Desura,
.DriveThruRPG,
.GameFAQs,
.Giantbomb,
.GOG,
.GooglePlay,
.HowLongToBeat,
.HumbleBundle,
.Itch,
.iTunes,
.MobyGames,
.NexusMods,
.Origin,
.Ouya,
.PSN,
.RPGGeek,
.RPGnet,
.Steam,
.VNDB,
.Wikipedia,
.XboxStore,
.PCGamingWiki {
    background-repeat: no-repeat;
    background-position: center;}

#index #freeleech .group_torrent >span:first-child a {
    display: inline-block;}

#toplink a {
    background-size: 150px 24px;
    opacity: 0.3;}
#toplink a:hover {
    opacity: 1;
    background-color: var(--colhead-clickable);}
#toplink a:hover:active {
    background-color: var(--colhead-active);}

#nav_logout a,
#nav_donate a,
#nav_useredit a {
    width: 100%;
    display: block;
    background-size: 26px 26px;}

.thin {
    margin: 0 auto;}
.sidebar {
    float: right;
    height: 100%;
    width: 300px;}
.main_column >.box,
.sidebar .box {
    background-color: var(--box);
    -webkit-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
    border: var(--main-border);
    margin: 0 0 15px;}
.sidebar .box {
    padding: 10px;}
.sidebar ul {
    margin: 10px 0;}
.sidebar #freeleech li.group_torrent {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.box {
    font-size: 1em;}
.head {
    background: var(--header-gradient);
    font-size: 20px;
    padding: 10px;}
.sidebar .head {
    margin: -10px -10px 0;
    font-weight: 600;}
.sidebar .head strong {
    font-weight: inherit;}
a, a:hover {
    text-decoration: none;}
a {
    color: var(--anchor);
    border: 0;
    background-color: transparent;}
#index #freeleech .group_torrent >span:first-child:hover,
a:hover {
    background-color: var(--anchor-hover-bcg);
    color: var(--anchor-hover);}
#index #freeleech .group_torrent >span:first-child a,
.torrent_table .show_torrents_link,
.colhead_dark a,
.colhead a,
#toplink a,
#header a {
    background-color: transparent;}

a,
#userinfo_stats li,
#userinfo_stats #connectable span.stat >span:after,
#nav_logout,
#nav_donate,
#nav_useredit,
#nav_userinfo,
#menu li,
#userinfo_minor li,
#userinfo_username .sub span,
.box.news_post .head:before,
#index #recommended .head:before,
#slides img,
#recommended #vanityhouse a:first-child:before,
#recommended #vanityhouse img,
.autocomplete_list li,
.torrent_table .show_torrents_link,
.torrent_table td.center:first-child,
.torrent_table .colhead img,
.torrent_table .group,
#index #clans .large_progress_bar,
#header .global_buffs span,
#header .global_buffs i {
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;}

#userinfo_stats li:not(#stats_ratio):not(#connectable):hover,
#userinfo_stats li:not(#stats_ratio):not(#connectable):hover a,
#userinfo_username .sub a:hover,
#menu a:hover,
#userinfo_minor a:hover,
#userinfo_username li:not(.sub) a:hover,
#menu li.active a,
#userinfo_minor li.active a,
#userinfo_username .donateico.active a,
#userinfo_username .welcome.active a,
#userinfo_username .sub span.active a,
.box.news_post .head:hover {
    color: var(--anchor-hover);}

.sidebar img {
    height: unset;
    max-width: 100%;}
img {
    border: 0;
    border-style: none;}
.center,
#footer {
    text-align: center;}
.pad {
    padding: 10px;
    line-height: 17px;}
.main_column {
    margin: 0 315px 0 0;}

#index #freeleech .group_torrent {
    display: flex;}

#userinfo_stats li {
    width: 100%;}
#userinfo_stats #stats_ratio, #userinfo_stats #connectable {
    width: 50%;}
#stats_ratio,
#stats_gold,
#stats_leeching,
#stats_seeding {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;}
#stats_seeding {
    border-top: 2px solid var(--main-border-color);}
.torrent_table #snatches_icon img,
.torrent_table #user_rating_icon img,
#index #freeleech .group_torrent >span:first-child a,
#stats_ratio:before,
#stats_ratio a,
#stats_gold a,
#stats_leeching a,
#stats_seeding a {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;}
#userinfo_stats #connectable .stat span {
    height: 26px;
    background-size: 18px 18px;
    display: inline-block;
    width: 18px;}
#stats_gold a {
    filter: grayscale(0.5);}
#stats_gold a:hover{
    filter: grayscale(0);}
#stats_gold a:before,
#stats_leeching a:before,
#stats_seeding a:before,
#stats_share_score a:before,
#stats_hnr a:before,
#online_irc a:before {
    content: '';
    top: 0;
    left: -200px;
    width: 600px;
    height: 26px;
    position: absolute;}
#stats_ratio span.stat {
    font-size: 15px;}
#stats_share_score,
#stats_hnr,
#online_irc {
    position: relative;
    overflow: hidden;}

#userinfo_stats #connectable span.stat >span:after {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px;
    background-color: var(--body);
    opacity: 0;}
#userinfo_stats #connectable .r50:after {
    color: var(--on);
    content: 'Connectable';}
#userinfo_stats #connectable .r00:after {
    color: var(--off);
    content: 'Not Connectable';}
#userinfo_stats #connectable span.stat >span:hover:after {
    opacity: 1;}

#stats_ratio span.stat span,
#stats_gold span,
#stats_leeching span,
#stats_seeding span {
    padding-left: 4px;}

#stats_ratio:before {
    content: '';
    height: 100%;
    width: 22px;}
#stats_ratio span.stat:before {
    content: ':';}

#nav_logout,
#nav_donate,
#nav_useredit,
#nav_userinfo,
#menu li,
#userinfo_minor li,
#userinfo_username .sub span,
.torrent_table .show_torrents_link,
.global_buffs a,
#header .clan_trophy a {
    display: block;}

#stats_seeding:hover:active,
#stats_leeching:hover:active,
#stats_gold:hover:active,
#stats_share_score:hover:active,
#stats_hnr:hover:active,
#online_irc:hover:active,
#menu li:hover:active,
#userinfo_minor li:hover:active,
#userinfo_username .sub span:hover:active,
#userinfo_username >li:hover:active,
#nav_donate:hover:active,
.box.news_post .head:hover:active:before,
#index #recommended .head:hover:active:before,
#recommended #vanityhouse a:first-child:hover:active:before,
.autocomplete_list li:hover:active,
.torrent_table td.center:hover:active:first-child,
.torrent_table .colhead a:hover:active,
#index #clans .large_progress_bar:hover:active,
#header .global_buffs a:hover:active,
#toplink a:hover:active,
#header .clan_trophy:hover:active a {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;}

#menu li:last-child,
#userinfo_username .sub span:last-child {
    border-bottom: 2px solid var(--main-border-color);}

#menu li:not(.active):hover,
#userinfo_minor li:not(.active):hover,
#header .clan_trophy:hover a {
    background-color: var(--bar3);}

#header .global_buffs a:hover,
#userinfo_username li:hover,
#userinfo_username .sub span:not(.active):hover,
#stats_seeding:hover,
#stats_leeching:hover,
#stats_gold:hover,
#stats_share_score:hover,
#stats_hnr:hover,
#online_irc:hover {
    background-color: var(--bar4);}

#header .global_buffs a:hover:active,
#userinfo_username li:hover:active,
#userinfo_username .donateico.active,
#userinfo_username .welcome.active,
#userinfo_username .sub span:not(.active):hover:active,
#userinfo_username .sub span.active,
#stats_seeding:hover:active,
#stats_leeching:hover:active,
#stats_gold:hover:active,
#stats_share_score:hover:active,
#stats_hnr:hover:active,
#online_irc:hover:active {
    background-color: var(--bar2);}

#header .clan_trophy:hover:active a,
#menu li:not(.active):hover:active,
#userinfo_minor li:not(.active):hover:active,
#menu li.active,
#userinfo_minor li.active {
    background-color: var(--bar1);}

#toplink {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 10;
    text-align: center;
    line-height: 36px;}
#toplink a {
    position: fixed;
    z-index: 0;
    width: 200px;
    left: 0;
    bottom: 0;}

.lightbox {
    position: fixed;
    text-align: center;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 1111;}
.lightbox img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: var(--img-border);}
.curtain {
    background-color: var(--text);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    opacity: .7;}

/** close/expand head **/
#index #recommended .head,
.box.news_post .head {
    position: relative;
    display: flex;}
.box.news_post .head .newsdate,
.box.news_post .head .time {
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    right: 15px;
    top: 11px;}
#index #recommended .head a,
.box.news_post .head a:not(#markread) {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 2;}
#index #recommended .head strong,
.box.news_post .head strong {
    z-index: 1;}
/* reverse text indent */
.box.news_post .head strong:before {
    content: '';
    width: 160px;
    float: right;
    height: 15px;}
#index #recommended .head:before,
.box.news_post .head:before {
    content: '';
    background: var(--expand-hover);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;}
#index #recommended .head:hover:before,
.box.news_post .head:hover:before {
    opacity: 1;}
#index #recommended .head:hover:active:before,
.box.news_post .head:hover:active:before {
    background: var(--expand-active);}
/** /close/expand head **/

.box.news_post >.pad img {
    max-width: 100% !important;}

.slides_control {
    height: 345px !important}
#slides >ul,
#slides .slides_container,
#slides .slides_container ul {
    width: 300px;
    margin: 0;}
#slides .slides_container {
    left: -11px;}
#dailygazelle img,
#slides img {
    max-height: 280px !important;
    max-width: 278px !important;
    margin: 7px auto;
    border: var(--img-border);}
#dailygazelle img {
    display: block;}
#dailygazelle img:hover,
#slides img:hover {
    border: var(--img-hover);}
#slides >.nobullet {
    margin-left: -11px;}
#slides .slides_control .center {
    width: 280px;
    margin: 0 auto;}
#dailygazelle #gazelletitle a {
    text-align: center;
    width: 100%;
    display: block;
    margin: 8px 0 10px 0;}

#center_poll {
    background-image: var(--poll-gradient);
    display: block;
    position: relative;
    animation: expandWidth 2s;
    transform-origin: left;
    height: 14px;
    float: left;
    margin: 0;
    padding: 0;}
.sidebar #polcont .pad li:not(.graph):not(:first-child) {
    margin-top: 2px;}
.sidebar #freeleech_time_left {
    height: 36px;
    -webkit-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
    border: var(--main-border);
    background: var(--header-gradient);
    margin: 0 0 15px;}
.sidebar #freeleech_time_left #progress_bar {
    position: relative;}
.sidebar #freeleech_time_left #progress_bar .main_bar {
    background: var(--lsfl-pulse);
    display: block;
    animation: lsfl-pulse-a linear 2s infinite;
    transform-origin: left;
    height: 36px;
    background-repeat: repeat-x;
    background-size: 900px 36px;}
.sidebar #freeleech_time_left .points {
    display: block;
    position: absolute;
    line-height: 36px;
    left: 10px;
    top: 0;
    font-weight: 600;
    z-index: 1;}
#low_seed_fl_more a {
    display: block;
    text-align: center;
    margin: 5px 0 -10px 0;}

#recommended #vanityhouse {
    position: relative;
    z-index: 1;}
#recommended #vanityhouse td {
    border: var(--table-border);
    text-align: center;
    width: 25%;
    padding: 6px;
    overflow: hidden;
    position: relative;
    background-color: var(--near-img-anchor);
    z-index: -2;}
#recommended #vanityhouse img {
    max-width: calc(100% - 6px);
    height: auto;
    border: var(--img-anchor-border);
    position: relative;
    margin-bottom: -10px;}
#recommended #vanityhouse a:nth-child(2) {
    margin-bottom: 1px;
    display: inline-block;}
#recommended #vanityhouse a:nth-child(2):hover {
    text-decoration: underline;}
#recommended #vanityhouse a:first-child {
    padding: 500px;
    margin: -500px;}
#recommended #vanityhouse a:first-child:before {
    background-color: var(--bar3);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;}
#recommended #vanityhouse a:first-child:hover {
    color: var(--text);}
#recommended #vanityhouse a:first-child:hover img {
    border: var(--img-anchor-border-hover);}
#recommended #vanityhouse a:first-child:hover:before {
    opacity: 1;}
#recommended #vanityhouse a:first-child:hover:active:before {
    background-color: var(--bar1);}

.global_buffs {
    position: fixed !important;
    top: unset !important;
    left: unset !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 200px !important;
    border-top: 2px solid var(--main-border-color);
    filter: none !important;}
i.fa.fa-fl-pots {
    color: #6441a5 !important;
	font-family: OpenSans, Helvetica, Arial, sans-serif;
    filter: none !important;}
.global_buffs .buff_text {
    text-shadow: none !important;}
.global_buffs .buff_text .buff_multiplier {
    font-size: 17px !important;}
.global_buffs>div {
    width: calc(200px / 3);
    padding: 0 !important;}
.global_buffs a {
    padding: 5px !important;}
.global_buffs .color_green .fa,
.global_buffs .color_purple .fa,
.global_buffs .color_yellow .fa,
.global_buffs .color_green .buff_text,
.global_buffs .color_purple .buff_text,
.global_buffs .color_yellow .buff_text {
    color: var(--text);}
#header .global_buffs a:hover span,
#header .global_buffs a:hover i {
    color: var(--anchor-hover) !important;}

#header .clan_trophy {
    position: absolute !important;
    top: 819px !important;
    right: unset !important;
    left: 0 !important;
    bottom: unset !important;
    width: 200px !important;
    border-top: 2px solid var(--main-border-color);}
#header .clan_trophy img {
    height: 100px !important;
    filter: none !important;
    padding: 10px 0;}

#header .clan_trophy {
    opacity: .7;}
#header .global_buffs a {
    opacity: .9;}
#header .global_buffs a:hover,
#header .clan_trophy:hover {
    opacity: 1;}

.large_progress_bar .main_bar {
    animation: expandWidth 2s;
    transform-origin: left;}

#index #clans {
    margin: 0 0 15px 0;
    -webkit-box-shadow: var(--main-shadow);
    box-shadow: var( --main-shadow);
    border: var( --main-border);
    background-color: var(--near-img-anchor);}
.large_progress_bar, #progress_bar {
    border: 10px solid var(--bar3);
    height: 14px;
    display: flex;
    justify-content: space-between;
    padding: 3px;}
#index #clans .large_progress_bar:hover {
    border: 10px solid var(--bar1);
    background-color: var(--bar3);}
#index #clans .large_progress_bar:hover:active {
    background-color: var(--bar2);}
#clans .large_progress_bar .main_bar.clan_1_bar {
    animation: expandWidth 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;}
#clans .large_progress_bar .main_bar.clan_2_bar {
    animation: expandWidth 0.5s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;}
#clans .large_progress_bar .main_bar.clan_3_bar {
    animation: expandWidth 0.5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;}
#clans .large_progress_bar .main_bar.clan_4_bar {
    animation: expandWidth 0.7s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;}
#clans .large_progress_bar .main_bar {
    display: inline-block;
    border-radius: 0;
    animation-fill-mode: forwards;
    transform: scaleX(0);}
#clans .large_progress_bar .main_bar {
    height: 14px;
    vertical-align: top;}

#clans .large_progress_bar .main_bar.clan_1_bar {
    background-color: #6a4028;
    background-image: linear-gradient(to top, #5c3823, #aa897d);}
#clans .large_progress_bar .main_bar.clan_2_bar {
    background-color: #6b6b6b;
    background-image: linear-gradient(to top, #6b6b6b, #e8e8e8);}
#clans .large_progress_bar .main_bar.clan_3_bar {
    background-color: #ff0000;
    background-image: linear-gradient(to top, #ff0000 0%, #ff5a00 40%, #ff9a00 65%, #ffce00 90%, #ffe70a 100%);}
#clans .large_progress_bar .main_bar.clan_4_bar {
    background-color: #000d6b;
    background-image: linear-gradient(to top, #000d6b 0%, #0038ff 15%, #0078ff 40%, #009fff 65%, #00dfff 100%);}

#torrent_table td.center.cats_col >div[title=""][class=""],
.\33 do,
.amigacd32,
.amstradcpc,
.android,
.applebandaipippin,
.apps,
.atari2600,
.atari5200,
.atari7800,
.atarijaguar,
.atarilynx,
.atarist,
.bandaiwonderswan,
.bandaiwonderswancolor,
.boardgame,
.cardgame,
.casioloopy,
.casiopv-1000,
.colecovision,
.commodore128,
.commodore64,
.commodoreamiga,
.commodoreplus-4,
.commodorevic-20,
.creativision,
.dos,
.dreamcast,
.dsiware,
.dvd,
.ebook,
.emersonarcadia2001,
.entexadventurevision,
.epochsupercasettevision,
.ex-bgcollections,
.ex-bgfullsets,
.ex-bggoldens,
.fairchildchannelf,
.funtechsuperacan,
.game\.com,
.game.com,
.gameboy,
.gameboyadvance,
.gameboycolor,
.gamecom,
.gamegear,
.gameparkgp32,
.generalcomputervectrex,
.gizmondo,
.hartungamemaster,
.hartunggamemaster,
.intellivision,
.interactivedvd,
.ios,
.linux,
.mac,
.magnavox-phillipsodyssey,
.mastersystem,
.mattelintellivision,
.megadrive,
.memotechmtx,
.milesgordonsamcoupe,
.miniaturewargames,
.msx,
.msx2,
.music,
.necpc-fx,
.necpc-98,
.necsupergrafx,
.necturbografx-16,
.nes,
.newnintendo3ds,
.newnintendo3dsvc,
.nintendo3ds,
.nintendo3dsvc,
.nintendo64,
.nintendods,
.nintendogamecube,
.nokian-gage,
.penandpaperrpg,
.philipsvideopac,
.philipsvideopac\+,
.phonepda,
.pico,
.playstation1,
.playstation2,
.playstation3,
.playstation4,
.playstationportable,
.playstationvita,
.pokemonmini,
.psonpsp,
.psponps3,
.rcastudioii,
.retro-other,
.saturn,
.sg-1000,
.sharpx1,
.sharpx68000,
.snkneogeo,
.snkneogeopocket,
.snes,
.supernes,
.switch,
.taitotypex,
.tandycolorcomputer,
.tangerineoric,
.thomsonmo5,
.turbografx,
.vectrex,
.virtualboy,
.v\.smile,
.watarasupervision,
.wii,
.wiiu,
.wiiuvc,
.wiivc,
.wiiware,
.windows,
.windows95,
.windowsxp,
.wonderswan,
.xbla,
.xbox,
.xbox360,
.xboxon360,
.zxspectrum,
.cats_guides,
.cats_ebooks,
.cats_applications,
.cats_ost {
    background-size: 28px 28px;
    height: 28px;
	width: 28px;
    background-repeat: no-repeat;
    background-position: center;}

.colhead td {
    font-size: 16px;
    line-height: 32px;
    vertical-align: middle;
    background: var(--colhead-tr-bcg);
    font-weight: normal;
    padding: 0 5px;
    overflow: hidden;}
.torrent_table tr td.center {
    text-align: center;
    vertical-align: middle;}

.torrent_table {
    width: 100%;
    -webkit-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
    border: var(--main-border);}
.torrent_table .group.rowa {
    background-color: var(--body);}
.torrent_table .group.rowb {
    background-color: var(--rowb);}
.torrent_table tr:not(.colhead):not(.colhead_dark) td {
    border-top: var(--table-border);
    color: var(--less-important);
    vertical-align: middle;}
.torrent_table td:not(#displayname):not([colspan="4"]) {
    white-space: nowrap;}
.torrent_table .show_torrents,
.torrent_table .hide_torrents {
    cursor: pointer;
    display: block;
    height: 20px;
    width: 20px;}
.torrent_table .show_torrents_link {
    height: 20px;
    width: 20px;
    background-size: contain;}
.torrent_table .show_torrents .show_torrents_link {
    transform: rotateX(0deg);}
.torrent_table .hide_torrents .show_torrents_link {
    transform: rotateX(180deg);}
.torrent_table td.center:first-child {
    width: 1px;
    overflow: hidden;
    position: relative;
    box-shadow: var(--show-hide-border-shadow);}
.torrent_table td.center:hover:first-child {
    background-color: var(--colhead-clickable);}
.torrent_table td.center:hover:active:first-child {
    background-color: var(--colhead-active);}
.torrent_table .show_torrents_link:before {
    content: '';
    position: absolute;
    left: -100px;
    top: -150px;
    width: 300px;
    height: 300px;}
.edition_info {
    background-color: var(--edition);}
.torrent_table tr.group_torrent {
    background-color: var(--box);}

.torrent_table #snatches_icon img,
.torrent_table #user_rating_icon img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 18px;}
.torrent_table .colhead a {
    padding: 100px;
    margin: -100px;}
.torrent_table #user_rating_icon,
.torrent_table #snatches_icon,
.torrent_table #seeders_icon,
.torrent_table #leechers_icon {
    line-height: 0;}
.torrent_table .colhead a:hover {
    background-color: var(--colhead-clickable);}
.torrent_table .colhead a:hover:active {
    background-color: var(--colhead-active);}

.torrent_table .group.rowa .empty_group {
    background-color: var(--body);
    width: calc(100% - 1px);
    height: 100%;
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;}
.torrent_table .group.rowb .empty_group {
    background-color: var(--rowb);
    width: calc(100% - 1px);
    height: 100%;
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;}
.torrent_table .group.sticky {
    background-color: var(--edition);}
.torrent_table .group:hover .empty_group,
.torrent_table .group:hover {
    background-color: var(--row-hover) !important;}
.sticky td {
    border-bottom: var(--sticky-border) !important;
    border-top: var(--sticky-border) !important;}