:root {
/** COLORS **/
    --text: #323232;
    --body: #e6e6e6;
    --box: #f5f5f5;
    --input: #f0f0f0;
    --bar1: #12c9c2; --bar3: #83dfdb; /* 60% #6cdad6 */
    --bar2: #51cca5; --bar4: #a2e0cd; /* 60% #92dcc5 */
    --anchor: #0b7a76; /* #bd002c */
    --anchor-hover: #053d3b; /* #630017 */
    --anchor-hover-active: #000;
	--header-shadow-color: rgba(0,0,0,.1);
    --main-shadow-color: rgba(0,0,0,0.2);
    --main-border-color: #d2d2d2;
    --input-border-color: #ccc;
/** 10 stages, bar1 to bar2 **/
    --b1: #12c9c2; --b2: #19c9bf; --b3: #20cabc; --b4: #27cab8; --b5: #2ecab5; --b6: #35cbb2; --b7: #3ccbaf; --b8: #43cbab; --b9: #4acca8; --b10: #51cca5;
/** 50% opacity vs --box **/
    --b501: #83dfdb; --b502: #86dfda; --b503: #8adfd8; --b504: #8ddfd6; --b505: #91dfd5; --b506: #94e0d3; --b507: #98e0d2; --b508: #9be0d0; --b509: #9fe0ce; --b5010: #a2e0cd;
/** /COLORS **/
    --searchbar-gradient: linear-gradient(155deg,var(--bar1),var(--bar2));
    --header-gradient: linear-gradient(155deg,var(--bar3),var(--bar4));
    --header-shadow: 0 0px 4px var(--header-shadow-color);
    --main-shadow: 0 0 4px var(--main-shadow-color);
    --main-border: 1px solid var(--main-border-color);
    --input-border: 1px solid var(--input-border-color);
    --input-shadow: inset 1px 1px 2px var(--header-shadow-color);}

@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Regular.ttf);}
@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Italic.ttf);
    font-style: italic;}
@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-SemiBold.ttf);
    font-weight: 600;}
@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Bold.ttf);
    font-weight: bold;}

/* delete later */
.error_message,
.global_buffs,
.clan_trophy {
    display: none;}
/* /delete later */

html {
    line-height: 1.1428571em;
    font-size: 14px;
    scroll-behavior: smooth;}
body {
    color: var(--text);
    background-color: var(--body);
    background-size: 50px 50px;
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100%;
    min-width: 950px;
    overflow-wrap: break-word;
    position: relative;}
body, html {
    width: 100%;}
#content, #wrapper {
    margin: 0 auto;}
#content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1300px;
    width: 100%;}

#logo {
    height: 201px;
    width: 200px;
    top: 40px;
    left: 0;
    position: absolute;
    z-index: 99;}
#logo a {
    display: block;
    height: 201px;
    width: 200px;}
#logo a:hover{
    opacity: 1;}

#header,
#menu ul,
#menu ul li,
#searchbars ul,
#userinfo_minor li,
#userinfo_minor,
#userinfo_stats,
#userinfo_username,
#userinfo_username #nav_userinfo,
#userinfo_username .sub,
#nav_useredit,
#nav_logout,
#nav_donate,
.sidebar ul,
#userinfo_stats li {
    padding:0;}
#menu ul,
#menu ul li a,
#userinfo_minor,
#userinfo_stats,
#userinfo_username {
    margin:0;}
#menu ul,
#searchbars ul,
#userinfo_minor,
#userinfo_stats,
#userinfo_username,
.sidebar ul {
    list-style:none;}

#stats_ratio,
#stats_seeding a,
#stats_leeching a,
#stats_gold a,
#nav_userinfo,
#toplink,
#nav_logout,
#nav_donate,
#nav_donate a,
#nav_useredit a {
    font-size:0;}

#menu ul li a,
#nav_userinfo a.username {
    font-size: 1.4285714em;}

b, strong {
    font-weight: bold;}
ul, ol {
    margin-bottom: 0px;}
li:first-of-type {
    padding-top: 0px;}
li {
    padding: 2px 0;}

.sub {
    visibility: hidden;}

#header {
    font-size: 1em;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    margin-bottom: 20px;
    position: sticky;
    top: -41px;}

#menu ul li a {
    line-height: 34px;
    width: 100%;
    display: block;}

#header:before,
#header:after {
    background-color: var(--body);
    -webkit-box-shadow: inset var(--main-shadow);
    box-shadow: inset var(--main-shadow);
    content: '';
    width: 200px;
    top: 0;
    position: fixed;
    z-index: -10;
    height: 100vh;}
#header:before {
    left: 0;
    border-right: var(--main-border);}
#header:after {
    right: 0;
    border-left: var(--main-border);}

#menu {
    width: 200px;
    position: absolute;
    top: 241px;
    left: 0;}
#menu ul li {
    display: inline-block;
    width: 200px;}
#menu >ul {
    position: sticky;
    top: 200px;}

li.active {
    font-weight: 600;}

#searchbars {
    text-align: center;
    width: 100%;
    height: 40px;
    background: var(--searchbar-gradient);
    -webkit-box-shadow: var(--header-shadow);
    box-shadow: var(--header-shadow);
    border-bottom: var(--main-border);}
#searchbars ul {
    margin: 0 auto;
    max-width: 1320px;
    padding: 2px;}
#searchbars ul li {
    display: inline;}
#searchbars ul li form {
    display: inline;
    margin: 0 5px;}
#searchbars input {
    -webkit-box-shadow: var(--input-shadow);
    box-shadow: var(--input-shadow);
    -webkit-box-sizing: border-box;
    border: var(--input-border);
    background-color: var(--input);
    box-sizing: border-box;
    font-size: 1em;
    height: 26px;
    line-height: 24px;
    margin: 5px 0;
    padding: 2px 9px 0;
    position: relative;
    width: 15.55%;}

#userinfo_minor a {
    color: var(--text);
    font-size: 1.2142857em;
    width: 100%;
    display: inline-block;
    line-height: 30px;}

#userinfo_minor {
    width: 200px;
    position: absolute;
    top: 583px;
    left: 0;}
#userinfo_stats {
    position: absolute;
    top: 311px;
    right: 0;
    width: 200px;}
#userinfo_username {
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;}

#userinfo_stats li, #userinfo_stats li a {
    height: 26px;}

#nav_userinfo {
    text-align: center;
    line-height: 36px;
    height: 36px;
    width: 100%;}
#nav_userinfo a.username {
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    height: 100%;
    display: inline-block;}
#userinfo_username .sub {
    width: 200px;
    line-height: 28px;
    text-align: center;
    visibility: visible !important;
    right: 0;
    top: 73px;
    position: absolute;
    font-size: 1.1428571em;}
#userinfo_stats {
    display: flex;
    flex-flow: column;
    line-height: 26px;
    font-size: 1.0714285em;}
#userinfo_username .sub a {
    width: 100%;
    display: block;}

#userinfo_username .sub a,
#menu a,
#userinfo_username li:not(.sub) a {
    color: var(--text);}

#nav_useredit,
#nav_logout,
#nav_donate {
    padding-top: 1px;
    height: 36px;
    line-height: 36px;
    width: calc(100%/3);}

#stats_ratio,
#nav_useredit {
    order: 1;}
#stats_seeding,
#nav_donate {
    order: 2;}
#stats_leeching,
#nav_logout {
    order: 3;}
 #stats_hnr {
    order: 4;}
 #stats_share_score {
    order: 5;}
#stats_gold {
    order: 6;}
#online_irc {
    order: 7;}
#connectable {
    order: 8;}

#stats_ratio:before,
#stats_seeding a,
#stats_leeching a,
#stats_gold a,
#logo a,
#nav_logout a,
#toplink a,
#nav_donate a,
#nav_useredit a {
    background-repeat: no-repeat;
    background-position: center;}

#toplink a {
    background-size: 150px 24px;
    opacity: 0.3;}
#toplink a:hover {
    opacity: 1;}

#nav_logout a,
#nav_donate a,
#nav_useredit a {
    width: 100%;
    display: block;
    background-size: 26px 26px;}

.thin {
    margin: 0 auto;}
.sidebar {
    float: right;
    height: 100%;
    width: 300px;}
.main_column >.box,
.sidebar .box {
    background-color: var(--box);
    -webkit-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
    border: var(--main-border);
    margin: 0 0 15px;}
.sidebar .box {
    padding: 10px;}
.sidebar ul {
    margin: 10px 0;}
.sidebar #freeleech li.group_torrent {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.box {
    font-size: 1em;}
.head {
    background: var(--header-gradient);
    font-size: 1.4em;
    padding: 10px;}
.sidebar .head {
    margin: -10px -10px 0;
    font-weight: 600;}
.sidebar .head strong {
    font-weight: inherit;}
a, a:hover {
    text-decoration: none;}
a {
    color: var(--anchor);
    border: 0;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    background-color: transparent;}
a:hover {
    color: var(--anchor-hover);}
a:hover:active {
    transition: 0s;
    color: var(--anchor-hover-active);}

.sidebar img {
    height: unset;
    max-width: 100%;}
img {
    border: 0;
    border-style: none;}
.center {
    text-align: center;}
.pad {
    padding: 10px;
    line-height: 1.2142857em;}
.main_column {
    margin: 0 315px 0 0;}

#userinfo_stats li {
    transition: .1s linear;}
#stats_ratio,
#stats_gold,
#stats_leeching,
#stats_seeding {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;}
#stats_ratio:before,
#stats_ratio a,
#stats_gold a,
#stats_leeching a,
#stats_seeding a{
    width: 18px;
    height: 18px;
    background-size: 18px 18px;}
#stats_gold a {
    filter: grayscale(0.5);}
#stats_gold a:hover{
    filter: grayscale(0);}
#stats_gold a:before,
#stats_leeching a:before,
#stats_seeding a:before {
    content: '';
    top: 0;
    left: -200px;
    width: 600px;
    height: 26px;
    position: absolute;}
#stats_ratio span.stat {
    font-size: 15px;}

#stats_ratio span.stat span,
#stats_gold span,
#stats_leeching span,
#stats_seeding span {
    padding-left: 4px;}

#stats_ratio:before {
    content: '';
    height: 100%;
    width: 22px;}
#stats_ratio span.stat:before {
    content: ':';}

#nav_logout,
#nav_donate,
#nav_useredit,
#nav_userinfo,
#menu li,
#userinfo_minor li,
#userinfo_username .sub span {
    display: block;
    transition: .1s linear;}

#stats_seeding:hover:active,
#stats_leeching:hover:active,
#stats_gold:hover:active,
#stats_share_score:hover:active,
#stats_hnr:hover:active,
#online_irc:hover:active,
#menu li:hover:active,
#userinfo_minor li:hover:active,
#userinfo_username .sub span:hover:active,
#userinfo_username >li:hover:active,
#nav_donate:hover:active {
    transition: 0s;}

#menu li:last-child,
#userinfo_username .sub span:last-child {
    border-bottom: 2px solid var(--main-border-color);}

#menu li:not(.active):hover,
#userinfo_minor li:not(.active):hover {
    background-color: var(--bar3);}

#userinfo_username li:hover,
#userinfo_username .sub span:not(.active):hover,
#stats_seeding:hover,
#stats_leeching:hover,
#stats_gold:hover,
#stats_share_score:hover,
#stats_hnr:hover,
#online_irc:hover {
    background-color: var(--bar4);}

#userinfo_username li:hover:active,
#userinfo_username .donateico.active,
#userinfo_username .welcome.active,
#userinfo_username .sub span:not(.active):hover:active,
#userinfo_username .sub span.active,
#stats_seeding:hover:active,
#stats_leeching:hover:active,
#stats_gold:hover:active,
#stats_share_score:hover:active,
#stats_hnr:hover:active,
#online_irc:hover:active {
    background-color: var(--bar2);}

#menu li:not(.active):hover:active,
#userinfo_minor li:not(.active):hover:active,
#menu li.active,
#userinfo_minor li.active {
    background-color: var(--bar1);}

#toplink {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 10;
    text-align: center;
    line-height: 36px;}
#toplink a {
    position: fixed;
    z-index: 0;
    width: 200px;
    left: 0;
    bottom: 0;}