:root {
/** COLORS **/
    --text: #323232;
    --body: #e6e6e6;
    --box: #f5f5f5;
    --input: #f0f0f0;
    --bar1: #12c9c2; --bar3: #83dfdb; /* 60% #6cdad6 */
    --bar2: #51cca5; --bar4: #a2e0cd; /* 60% #92dcc5 */
    --bar01: rgba(18, 201, 194, 0);
    --bar02: rgba(81, 204, 165, 0);
    --anchor: #0b7a76; /* #bd002c */
    --anchor-hover: #053d3b; /* #630017 */
    --anchor-hover-active: #000;
	--header-shadow-color: rgba(0,0,0,.1);
    --main-shadow-color: rgba(0,0,0,0.2);
    --main-border-color: #d2d2d2;
    --input-border-color: #ccc;
    --on: #3f932a;
    --off: #910000;
/** 10 stages, bar1 to bar2 **/
    --b1: #12c9c2; --b2: #19c9bf; --b3: #20cabc; --b4: #27cab8; --b5: #2ecab5; --b6: #35cbb2; --b7: #3ccbaf; --b8: #43cbab; --b9: #4acca8; --b10: #51cca5;
/** 50% opacity vs --box **/
    --b501: #83dfdb; --b502: #86dfda; --b503: #8adfd8; --b504: #8ddfd6; --b505: #91dfd5; --b506: #94e0d3; --b507: #98e0d2; --b508: #9be0d0; --b509: #9fe0ce; --b5010: #a2e0cd;
/** /COLORS **/
    --searchbar-gradient: linear-gradient(155deg,var(--bar1),var(--bar2));
    --header-gradient: linear-gradient(155deg,var(--bar3),var(--bar4));
    --header-shadow: 0 0px 4px var(--header-shadow-color);
    --main-shadow: 0 0 4px var(--main-shadow-color);
    --main-border: 1px solid var(--main-border-color);
    --input-border: 1px solid var(--input-border-color);
    --input-shadow: inset 1px 1px 2px var(--header-shadow-color);
    --expand-hover: linear-gradient(to top, var(--bar1) 0%, var(--bar01));
    --expand-active: linear-gradient(to top, var(--bar1) 0%, var(--bar2));
    --img-border: 3px solid var(--main-border-color);
    --img-hover: 3px solid var(--bar3);
    --poll-gradient: linear-gradient(to bottom, var(--bar01), var(--anchor)), linear-gradient(to right, var(--bar1), var(--bar2));}

@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Regular.ttf);}
@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Italic.ttf);
    font-style: italic;}
@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-SemiBold.ttf);
    font-weight: 600;}
@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Bold.ttf);
    font-weight: bold;}

@keyframes expandWidth {
	0% {transform: scaleX(0);}
	100% {transform: scaleY(1);}}

/* delete later */
.error_message,
.global_buffs,
.clan_trophy {
    display: none;}
/* /delete later */

html {
    line-height: 16px;
    font-size: 14px;
    scroll-behavior: smooth;}
body {
    color: var(--text);
    background-color: var(--body);
    background-size: 50px 50px;
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100%;
    min-width: 950px;
    overflow-wrap: break-word;
    position: relative;}
body,
html {
    width: 100%;}
#content,
#wrapper,
#footer {
    margin: 0 auto;}
#content,
#footer {
    max-width: 1300px;
    width: 100%;}

#logo {
    height: 201px;
    width: 200px;
    top: 40px;
    left: 0;
    position: absolute;
    z-index: 99;}
#logo a {
    display: block;
    height: 201px;
    width: 200px;}
#logo a:hover{
    opacity: 1;}

#header,
#menu ul,
#menu ul li,
#searchbars ul,
#userinfo_minor li,
#userinfo_minor,
#userinfo_stats,
#userinfo_username,
#userinfo_username #nav_userinfo,
#userinfo_username .sub,
#nav_useredit,
#nav_logout,
#nav_donate,
.sidebar ul,
#userinfo_stats li,
.sidebar .head li,
.sidebar #polcont .pad {
    padding:0;}
#menu ul,
#menu ul li a,
#userinfo_minor,
#userinfo_stats,
#userinfo_username,
.sidebar .head ul {
    margin:0;}
#menu ul,
#searchbars ul,
#userinfo_minor,
#userinfo_stats,
#userinfo_username,
.sidebar ul {
    list-style:none;}

#index #recommended .head a,
.box.news_post .head a:not(#markread),
#index #freeleech .group_torrent span:first-child,
#userinfo_stats #connectable,
#stats_ratio,
#stats_seeding a,
#stats_leeching a,
#stats_gold a,
#nav_userinfo,
#toplink,
#nav_logout,
#nav_donate,
#nav_donate a,
#nav_useredit a {
    font-size:0;}

#menu ul li a,
#nav_userinfo a.username {
    font-size: 20px;}

b, strong {
    font-weight: bold;}
ul, ol {
    margin-bottom: 0px;}
li:first-of-type {
    padding-top: 0px;}
li {
    padding: 2px 0;}

.sub {
    visibility: hidden;}

#slides img {
    cursor: pointer;}

#header {
    font-size: 1em;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    margin-bottom: 20px;
    position: sticky;
    top: -41px;}

#header #announcement {
    width: 100%;
    padding: 5px 0;
    background-color: var(--box);
    border-bottom: var(--main-border);
    box-shadow: var(--header-shadow);
    z-index: -11;
    position: relative;}

#menu ul li a {
    line-height: 34px;
    width: 100%;
    display: block;}

#header:before,
#header:after {
    background-color: var(--body);
    -webkit-box-shadow: inset var(--main-shadow);
    box-shadow: inset var(--main-shadow);
    content: '';
    width: 200px;
    top: 0;
    position: fixed;
    z-index: -10;
    height: 100vh;}
#header:before {
    left: 0;
    border-right: var(--main-border);}
#header:after {
    right: 0;
    border-left: var(--main-border);}

#menu {
    width: 200px;
    position: absolute;
    top: 241px;
    left: 0;}
#menu ul li {
    display: inline-block;
    width: 200px;}
#menu >ul {
    position: sticky;
    top: 200px;}

li.active {
    font-weight: 600;}

#searchbars {
    text-align: center;
    width: 100%;
    height: 40px;
    background: var(--searchbar-gradient);
    -webkit-box-shadow: var(--header-shadow);
    box-shadow: var(--header-shadow);
    border-bottom: var(--main-border);}
#searchbars ul {
    margin: 0 auto;
    max-width: 1314px;
    padding: 2px 0;
    display: flex;}
#searchbars ul li {
    width: 100%;
    padding: 0;
    margin: 0 7px;}
#searchbars ul li form {
    width: 100%;}
#searchbars input {
    -webkit-box-shadow: var(--input-shadow);
    box-shadow: var(--input-shadow);
    -webkit-box-sizing: border-box;
    border: var(--input-border);
    background-color: var(--input);
    box-sizing: border-box;
    font-size: 1em;
    height: 26px;
    line-height: 24px;
    margin: 5px 0;
    padding: 2px 9px 0;
    position: relative;
    width: 100%;}

#userinfo_minor a {
    color: var(--text);
    font-size: 17px;
    width: 100%;
    display: inline-block;
    line-height: 30px;}

#userinfo_minor {
    width: 200px;
    position: absolute;
    top: 583px;
    left: 0;}
#userinfo_username {
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;}

#userinfo_stats li, #userinfo_stats li a {
    height: 26px;}

#nav_userinfo {
    text-align: center;
    line-height: 36px;
    height: 36px;
    width: 100%;}
#nav_userinfo a.username {
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: inline-block;}
#userinfo_username .sub {
    width: 200px;
    line-height: 28px;
    text-align: center;
    visibility: visible !important;
    right: 0;
    top: 73px;
    position: absolute;
    font-size: 16px;}
#userinfo_stats {
    position: absolute;
    top: 311px;
    right: 0;
    width: 200px;
    display: flex;
    flex-flow: column;
    line-height: 26px;
    font-size: 15px;
    flex-direction: row;
    flex-wrap: wrap;}
#userinfo_username .sub a {
    width: 100%;
    display: block;}

#userinfo_stats li a,
#userinfo_username .sub a,
#menu a,
#userinfo_username li:not(.sub) a {
    color: var(--text);}

#nav_useredit,
#nav_logout,
#nav_donate {
    padding-top: 1px;
    height: 36px;
    line-height: 36px;
    width: calc(100%/3);}

#index #freeleech .group_torrent >span:not(:first-child) {
    padding: 0 2px;}

#index #freeleech .group_torrent >span:first-child,
#stats_ratio,
#nav_useredit {
    order: 1;}
#index #freeleech .group_torrent span.tor_size,
#nav_donate {
    order: 2;}
#index #freeleech .group_torrent >a,
#stats_seeding,
#nav_logout {
    order: 3;}
#index #freeleech .group_torrent span.platform,
#stats_leeching {
    order: 4;}
#index #freeleech .group_torrent span.tor_info,
 #stats_hnr {
    order: 5;}
 #stats_share_score {
    order: 6;}
#stats_gold {
    order: 7;}
#online_irc {
    order: 8;}
#connectable {
    order: 2;}

#index #freeleech .group_torrent >span:first-child a,
#userinfo_stats #connectable .stat span,
#stats_ratio:before,
#stats_seeding a,
#stats_leeching a,
#stats_gold a,
#logo a,
#nav_logout a,
#toplink a,
#nav_donate a,
#nav_useredit a {
    background-repeat: no-repeat;
    background-position: center;}

#index #freeleech .group_torrent >span:first-child a {
    display: inline-block;}

#toplink a {
    background-size: 150px 24px;
    opacity: 0.3;}
#toplink a:hover {
    opacity: 1;}

#nav_logout a,
#nav_donate a,
#nav_useredit a {
    width: 100%;
    display: block;
    background-size: 26px 26px;}

.thin {
    margin: 0 auto;}
.sidebar {
    float: right;
    height: 100%;
    width: 300px;}
.main_column >.box,
.sidebar .box {
    background-color: var(--box);
    -webkit-box-shadow: var(--main-shadow);
    box-shadow: var(--main-shadow);
    border: var(--main-border);
    margin: 0 0 15px;}
.sidebar .box {
    padding: 10px;}
.sidebar ul {
    margin: 10px 0;}
.sidebar #freeleech li.group_torrent {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.box {
    font-size: 1em;}
.head {
    background: var(--header-gradient);
    font-size: 20px;
    padding: 10px;}
.sidebar .head {
    margin: -10px -10px 0;
    font-weight: 600;}
.sidebar .head strong {
    font-weight: inherit;}
a, a:hover {
    text-decoration: none;}
a {
    color: var(--anchor);
    border: 0;
    background-color: transparent;}
a:hover {
    color: var(--anchor-hover);}

a,
#userinfo_stats li,
#userinfo_stats #connectable span.stat >span:after,
#nav_logout,
#nav_donate,
#nav_useredit,
#nav_userinfo,
#menu li,
#userinfo_minor li,
#userinfo_username .sub span,
.box.news_post .head:before,
#index #recommended .head:before,
#slides img {
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;}

a:hover:active,
#userinfo_stats li:not(#stats_ratio):not(#connectable):hover,
#userinfo_stats li:not(#stats_ratio):not(#connectable):hover a,
#userinfo_username .sub a:hover,
#menu a:hover,
#userinfo_minor a:hover,
#userinfo_username li:not(.sub) a:hover,
#menu li.active a,
#userinfo_minor li.active a,
#userinfo_username .donateico.active a,
#userinfo_username .welcome.active a,
#userinfo_username .sub span.active a,
.box.news_post .head:hover {
    color: var(--anchor-hover-active);}

.sidebar img {
    height: unset;
    max-width: 100%;}
img {
    border: 0;
    border-style: none;}
.center,
#footer {
    text-align: center;}
.pad {
    padding: 10px;
    line-height: 17px;}
.main_column {
    margin: 0 315px 0 0;}

#index #freeleech .group_torrent {
    display: flex;}

#userinfo_stats li {
    width: 100%;}
#userinfo_stats #stats_ratio, #userinfo_stats #connectable {
    width: 50%;}
#stats_ratio,
#stats_gold,
#stats_leeching,
#stats_seeding {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;}
#stats_seeding {
    border-top: 2px solid var(--main-border-color);}
#index #freeleech .group_torrent >span:first-child a,
#stats_ratio:before,
#stats_ratio a,
#stats_gold a,
#stats_leeching a,
#stats_seeding a{
    width: 18px;
    height: 18px;
    background-size: 18px 18px;}
#userinfo_stats #connectable .stat span {
    height: 26px;
    background-size: 18px 18px;
    display: inline-block;
    width: 18px;}
#stats_gold a {
    filter: grayscale(0.5);}
#stats_gold a:hover{
    filter: grayscale(0);}
#stats_gold a:before,
#stats_leeching a:before,
#stats_seeding a:before,
#stats_share_score a:before,
#stats_hnr a:before,
#online_irc a:before {
    content: '';
    top: 0;
    left: -200px;
    width: 600px;
    height: 26px;
    position: absolute;}
#stats_ratio span.stat {
    font-size: 15px;}
#stats_share_score,
#stats_hnr,
#online_irc {
    position: relative;
    overflow: hidden;}

#userinfo_stats #connectable span.stat >span:after {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px;
    background-color: var(--body);
    opacity: 0;}
#userinfo_stats #connectable .r50:after {
    color: var(--on);
    content: 'Connectable';}
#userinfo_stats #connectable .r00:after {
    color: var(--off);
    content: 'Not Connectable';}
#userinfo_stats #connectable span.stat >span:hover:after {
    opacity: 1;}

#stats_ratio span.stat span,
#stats_gold span,
#stats_leeching span,
#stats_seeding span {
    padding-left: 4px;}

#stats_ratio:before {
    content: '';
    height: 100%;
    width: 22px;}
#stats_ratio span.stat:before {
    content: ':';}

#nav_logout,
#nav_donate,
#nav_useredit,
#nav_userinfo,
#menu li,
#userinfo_minor li,
#userinfo_username .sub span {
    display: block;}

a:hover:active,
#stats_seeding:hover:active,
#stats_leeching:hover:active,
#stats_gold:hover:active,
#stats_share_score:hover:active,
#stats_hnr:hover:active,
#online_irc:hover:active,
#menu li:hover:active,
#userinfo_minor li:hover:active,
#userinfo_username .sub span:hover:active,
#userinfo_username >li:hover:active,
#nav_donate:hover:active,
#index #freeleech .group_torrent >span:first-child a:hover:active,
.box.news_post .head:hover:active:before,
#index #recommended .head:hover:active:before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;}

#menu li:last-child,
#userinfo_username .sub span:last-child {
    border-bottom: 2px solid var(--main-border-color);}

#menu li:not(.active):hover,
#userinfo_minor li:not(.active):hover {
    background-color: var(--bar3);}

#userinfo_username li:hover,
#userinfo_username .sub span:not(.active):hover,
#stats_seeding:hover,
#stats_leeching:hover,
#stats_gold:hover,
#stats_share_score:hover,
#stats_hnr:hover,
#online_irc:hover {
    background-color: var(--bar4);}

#userinfo_username li:hover:active,
#userinfo_username .donateico.active,
#userinfo_username .welcome.active,
#userinfo_username .sub span:not(.active):hover:active,
#userinfo_username .sub span.active,
#stats_seeding:hover:active,
#stats_leeching:hover:active,
#stats_gold:hover:active,
#stats_share_score:hover:active,
#stats_hnr:hover:active,
#online_irc:hover:active {
    background-color: var(--bar2);}

#menu li:not(.active):hover:active,
#userinfo_minor li:not(.active):hover:active,
#menu li.active,
#userinfo_minor li.active {
    background-color: var(--bar1);}

#toplink {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 10;
    text-align: center;
    line-height: 36px;}
#toplink a {
    position: fixed;
    z-index: 0;
    width: 200px;
    left: 0;
    bottom: 0;}

.lightbox {
    position: fixed;
    text-align: center;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 1111;}
.lightbox img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: var(--img-border);}
.curtain {
    background-color: var(--text);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    opacity: .7;}

/** close/expand head **/
#index #recommended .head,
.box.news_post .head {
    position: relative;
    display: flex;}
.box.news_post .head .newsdate,
.box.news_post .head .time {
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    right: 15px;
    top: 11px;}
#index #recommended .head a,
.box.news_post .head a:not(#markread) {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 2;}
#index #recommended .head strong,
.box.news_post .head strong {
    z-index: 1;}
/* reverse text indent */
.box.news_post .head strong:before {
    content: '';
    width: 160px;
    float: right;
    height: 15px;}
#index #recommended .head:before,
.box.news_post .head:before {
    content: '';
    background: var(--expand-hover);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;}
#index #recommended .head:hover:before,
.box.news_post .head:hover:before {
    opacity: 1;}
#index #recommended .head:hover:active:before,
.box.news_post .head:hover:active:before {
    background: var(--expand-active);}
/** /close/expand head **/

.box.news_post >.pad img {
    max-width: 100% !important;}

.slides_control {
    height: 345px !important}
#slides ul {
    width: 300px;
    margin: 0;}
#dailygazelle img,
#slides img {
    max-height: 280px !important;
    max-width: 278px !important;
    margin: 7px auto;
    border: var(--img-border);}
#dailygazelle img {
    margin-left: -3px;}
#dailygazelle img:hover,
#slides img:hover {
    border: var(--img-hover);}
.slides_container.staff_pick {
    width: 300px;
    left: -11px;}
#slides >.nobullet {
    margin-left: -11px;}
#slides .slides_control .center {
    width: 280px;
    margin: 0 auto;}
#dailygazelle #gazelletitle a {
    text-align: center;
    width: 100%;
    display: block;}

#center_poll {
    background-image: var(--poll-gradient);
    display: block;
    position: relative;
    animation: expandWidth 2s;
    transform-origin: left;
    height: 14px;
    float: left;
    margin: 0;
    padding: 0;}
.sidebar #polcont .pad li:not(.graph):not(:first-child) {
    margin-top: 2px;}