body {
    background-image: url('icons/dark/background.svg');}
/** disabling custom user backgrounds for now **/
#user[style^="background: url("] {
    background-image: url('icons/dark/background.svg') !important;
    background-size: 50px 50px !important;}

/* eliminating loading time by embedding */
table.gazelles_art_display .hovereffect:before,
.fancybox-image,
.lightbox img {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon points="8 16 16 16 16 8 8 0 0 0 0 8 8 16" fill="rgb(255,255,255)"/><rect x="8" width="8" height="8" fill="rgb(204,204,204)"/><rect y="8" width="8" height="8" fill="rgb(204,204,204)"/></svg>');}

@media (min-width: 801px) {
#groupplatform a[href$="=Amiga+CD32"] {background-image: url(caticons/amigacd32_dark.svg);}
#groupplatform a[href$="=Amstrad+CPC"] {background-image: url(caticons/amstradcpc_dark.svg);}
#groupplatform a[href$="=Atari+ST"] {background-image: url(caticons/atarist_dark.svg);}
#groupplatform a[href$="=Fairchild+Channel+F"] {background-image: url(caticons/fairchildchannelf_dark.svg);}
#groupplatform a[href$="=Game+Boy+Color"] {background-image: url(caticons/gameboycolor_dark.svg);}
#groupplatform a[href$="=Game Gear"] {background-image: url(caticons/gamegear_dark.svg);}
#groupplatform a[href$="=NES"] {background-image: url(caticons/nes_dark.svg);}
#groupplatform a[href$="=New+Nintendo+3DS"] {background-image: url(caticons/newnintendo3ds_dark.svg);}
#groupplatform a[href$="=Nintendo+3DS"] {background-image: url(caticons/nintendo3ds_dark.svg);}
#groupplatform a[href$="=Nokia+N-Gage"] {background-image: url(caticons/nokian-gage_dark.svg);}
#groupplatform a[href$="=RCA+Studio+II"] {background-image: url(caticons/rcastudioii_dark.svg);}
#groupplatform a[href$="=Tangerine+Oric"] {background-image: url(caticons/tangerineoric_dark.svg);}
#groupplatform a[href$="=V.Smile"] {background-image: url(caticons/v.smile_dark.svg);}
#groupplatform a[href$="=Watara+Supervision"] {background-image: url(caticons/watarasupervision_dark.svg);}
#groupplatform a[href$="=Wii+U"] {background-image: url(caticons/wiiu_dark.svg);}
#groupplatform a[href$="=3DO"] {background-image: url(caticons/3do.svg);}
#groupplatform a[href$="=Android"] {background-image: url(caticons/android.svg);}
#groupplatform a[href$="=Apple+Bandai+Pippin"] {background-image: url(caticons/applebandaipippin.svg);}
#groupplatform a[href$="=Atari+2600"] {background-image: url(caticons/atari2600.svg);}
#groupplatform a[href$="=Atari+5200"] {background-image: url(caticons/atari5200.svg);}
#groupplatform a[href$="=Atari+7800"] {background-image: url(caticons/atari7800.svg);}
#groupplatform a[href$="=Atari+Jaguar"] {background-image: url(caticons/atarijaguar.svg);}
#groupplatform a[href$="=Atari+Lynx"] {background-image: url(caticons/atarilynx.svg);}
#groupplatform a[href$="=Bandai+WonderSwan"] {background-image: url(caticons/bandaiwonderswan.svg);}
#groupplatform a[href$="=Bandai+WonderSwan+Color"] {background-image: url(caticons/bandaiwonderswancolor.svg);}
#groupplatform a[href$="=Board+Game"] {background-image: url(caticons/boardgame.svg);}
#groupplatform a[href$="=Card+Game"] {background-image: url(caticons/cardgame.svg);}
#groupplatform a[href$="=Casio+Loopy"] {background-image: url(caticons/casioloopy.svg);}
#groupplatform a[href$="=Casio+PV-1000"] {background-image: url(caticons/casiopv-1000.svg);}
#groupplatform a[href$="=Colecovision"] {background-image: url(caticons/colecovision.svg);}
#groupplatform a[href$="=Commodore+128"] {background-image: url(caticons/commodore128.svg);}
#groupplatform a[href$="=Commodore+64"] {background-image: url(caticons/commodore64.svg);}
#groupplatform a[href$="=Commodore+Amiga"] {background-image: url(caticons/commodoreamiga.svg);}
#groupplatform a[href$="=Commodore+Plus-4"] {background-image: url(caticons/commodoreplus-4.svg);}
#groupplatform a[href$="=Commodore+VIC-20"] {background-image: url(caticons/commodorevic-20.svg);}
#groupplatform a[href$="=CreatiVision"] {background-image: url(caticons/creativision.svg);}
#groupplatform a[href$="=DOS"] {background-image: url(caticons/dos.svg);}
#groupplatform a[href$="=Dreamcast"] {background-image: url(caticons/dreamcast.svg);}
#groupplatform a[href$="=Emerson+Arcadia+2001"] {background-image: url(caticons/emersonarcadia2001.svg);}
#groupplatform a[href$="=Entex+Adventure+Vision"] {background-image: url(caticons/entexadventurevision.svg);}
#groupplatform a[href$="=Epoch+Super+Casette+Vision"] {background-image: url(caticons/epochsupercasettevision.svg);}
#groupplatform a[href$="=Funtech+Super+Acan"] {background-image: url(caticons/funtechsuperacan.svg);}
#groupplatform a[href$="=Game.com"] {background-image: url(icon/gamecom56.png);}
#groupplatform a[href$="=Game+Boy"] {background-image: url(caticons/gameboy.svg);}
#groupplatform a[href$="=Game+Boy+Advance"] {background-image: url(caticons/gameboyadvance.svg);}
#groupplatform a[href$="=GamePark+GP32"] {background-image: url(caticons/gameparkgp32.svg);}
#groupplatform a[href$="=General+Computer+Vectrex"] {background-image: url(caticons/generalcomputervectrex.svg);}
#groupplatform a[href$="=Gizmondo"] {background-image: url(caticons/gizmondo.svg);}
#groupplatform a[href$="=Hartung+Game+Master"] {background-image: url(caticons/hartunggamemaster.svg);}
#groupplatform a[href$="=Mattel+Intellivision"] {background-image: url(caticons/mattelintellivision.svg);}
#groupplatform a[href$="=Interactive+DVD"] {background-image: url(caticons/interactivedvd.svg);}
#groupplatform a[href$="=iOS"] {background-image: url(caticons/ios.svg);}
#groupplatform a[href$="=Linux"] {background-image: url(caticons/linux.svg);}
#groupplatform a[href$="=Mac"] {background-image: url(caticons/mac.svg);}
#groupplatform a[href$="=Magnavox-Phillips+Odyssey"] {background-image: url(caticons/magnavox-phillipsodyssey.svg);}
#groupplatform a[href$="=Master+System"] {background-image: url(caticons/mastersystem.svg);}
#groupplatform a[href$="=Mega+Drive"] {background-image: url(caticons/megadrive.svg);}
#groupplatform a[href$="=Memotech+MTX"] {background-image: url(caticons/memotechmtx.svg);}
#groupplatform a[href$="=Miles+Gordon+Sam+Coupe"] {background-image: url(caticons/milesgordonsamcoupe.svg);}
#groupplatform a[href$="=Miniature WargamesMSX"] {background-image: url(caticons/miniaturewargames.svg);}
#groupplatform a[href$="=MSX"] {background-image: url(caticons/msx.svg);}
#groupplatform a[href$="=MSX+2"] {background-image: url(caticons/msx2.svg);}
#groupplatform a[href$="=NEC+PC-FX"] {background-image: url(caticons/necpc-fx.svg);}
#groupplatform a[href$="=NEC+PC-98"] {background-image: url(caticons/necpc-98.svg);}
#groupplatform a[href$="=NEC+SuperGrafx"] {background-image: url(caticons/necsupergrafx.svg);}
#groupplatform a[href$="=NEC+TurboGrafx-16"] {background-image: url(caticons/necturbografx-16.svg);}
#groupplatform a[href$="=Nintendo+64"] {background-image: url(caticons/nintendo64.svg);}
#groupplatform a[href$="=Nintendo+DS"] {background-image: url(caticons/nintendods.svg);}
#groupplatform a[href$="=Nintendo+GameCube"] {background-image: url(caticons/nintendogamecube.svg);}
#groupplatform a[href$="=Pen+and+Paper+RPG"] {background-image: url(caticons/penandpaperrpg.svg);}
#groupplatform a[href$="=Philips+Videopac+"] {background-image: url(caticons/philipsvideopac+.svg);}
#groupplatform a[href$="=Phone%2FPDA"] {background-image: url(caticons/phonepda.svg);}
#groupplatform a[href$="=Pico"] {background-image: url(caticons/pico.svg);}
#groupplatform a[href$="=PlayStation+1"] {background-image: url(caticons/playstation.svg);}
#groupplatform a[href$="=PlayStation+2"] {background-image: url(caticons/playstation2.svg);}
#groupplatform a[href$="=PlayStation+3"] {background-image: url(caticons/playstation3.svg);}
#groupplatform a[href$="=PlayStation+4"] {background-image: url(caticons/playstation4.svg);}
#groupplatform a[href$="=PlayStation+Portable"] {background-image: url(caticons/playstationportable.svg);}
#groupplatform a[href$="=PlayStation+Vita"] {background-image: url(caticons/playstationvita.svg);}
#groupplatform a[href$="=Pokemon+Mini"] {background-image: url(caticons/pokemonmini.svg);}
#groupplatform a[href$="=Retro+-+Other"] {background-image: url(caticons/retro-other.svg);}
#groupplatform a[href$="=Saturn"] {background-image: url(caticons/saturn.svg);}
#groupplatform a[href$="=SG-1000"] {background-image: url(caticons/sg-1000.svg);}
#groupplatform a[href$="=Sharp+X1"] {background-image: url(caticons/sharpx1.svg);}
#groupplatform a[href$="=Sharp+X68000"] {background-image: url(caticons/sharpx68000.svg);}
#groupplatform a[href$="=SNK+Neo+Geo"] {background-image: url(caticons/snkneogeo.svg);}
#groupplatform a[href$="=SNK+Neo+Geo+Pocket"] {background-image: url(caticons/snkneogeopocket.svg);}
#groupplatform a[href$="=SNES"] {background-image: url(caticons/snes.svg);}
#groupplatform a[href$="=Switch"] {background-image: url(caticons/switch.svg);}
#groupplatform a[href$="=Taito+Type+X"] {background-image: url(caticons/taitotypex.svg);}
#groupplatform a[href$="=Tandy+Color+Computer"] {background-image: url(caticons/tandycolorcomputer.svg);}
#groupplatform a[href$="=Thomson+MO5"] {background-image: url(caticons/thomsonmo5.svg);}
#groupplatform a[href$="=General+Computer+Vectrex"] {background-image: url(caticons/vectrex.svg);}
#groupplatform a[href$="=Virtual+Boy"] {background-image: url(caticons/virtualboy.svg);}
#groupplatform a[href$="=Wii"] {background-image: url(caticons/wii.svg);}
#groupplatform a[href$="=Windows"] {background-image: url(caticons/windows.svg);}
#groupplatform a[href$="=Xbox"] {background-image: url(caticons/xbox.svg);}
#groupplatform a[href$="=Xbox+360"] {background-image: url(caticons/xbox360.svg);}
#groupplatform a[href$="=ZX+Spectrum"] {background-image: url(caticons/zxspectrum.svg);}
}

/** logo **/
#logo a:before {
    background-image: url('icons/dark/logo.svg');}

select {
    background-image: url('icons/dark/show.svg');}
/** number **/
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    background-image: url('icons/dark/number.svg');}

/** thumbs **/
.box.box_likes.box_torrents span.likes_icon.flright img,
img[src="static/common/thumbsup.png"],
img[title="ThumbsUp"],
img[title="ThumbsUp "],
#thumbsup img {
    background-image: url('icons/dark/thumbsup.svg');}
#thumbsup img:hover {
    background-color: var(--c-anchor-hvr-bcg);}
img[src="static/common/thumbsdown.png"],
img[title="ThumbsDown"],
img[title="ThumbsDown "],
#thumbsdown img {
    background-image: url('icons/dark/thumbsdown.svg');}
#thumbsdown img:hover {
    background-color: var(--c-anchor-hvr-bcg);}

img[alt="Donor"] {
    background-image: url('icons/donate_bar.svg');}

/** invert white icons **/
img.animate_icon {
    filter: invert(1);}

/** gold **/
img[title="Gold"],
#requests_donate img,
#stats_gold a,
#wrapper .trade_value .trade_value_gold img,
.profile .box_stats #gold .stat {
    background-image: url('icons/gold.svg');}
h2#username span#tip_user img,
#wrapper #trading_panel .gold_trade a#gold_trade_add img {
    background-image: url('icons/gold_plus.svg');}
#wrapper #trading_panel .gold_trade a#gold_trade_subtract img {
    background-image: url('icons/gold_minus.svg');}

/** forum post user stats **/
#forums .forum_post .avatar >div:first-child:after {
    background-image: url('icons/dark/show-hor.svg');}

