@import url('res/core.css');
@import url('res/icons_grish.css');
@import url('res/media.css');

@import url('https://gazellegames.net/static/styles/game_room/cssFiles/holidayeffects.css');

/** COLORS **/
:root {
    --c-post-img:                       rgb(0, 0, 0);
    --c-description:                    #fff;
    --c-low:                            rgb(255, 255, 255);
    --c-quote-brdr:                     rgba(240, 240, 240, .1);
    --c-quote:                          #2B4E66;
    --c-contrast:                       rgba(255, 255, 255, .2);
    --c-txt: 							#FFF;
    --c-text-s: 						#b5b4c2;
    --c-curtain:						rgb(45, 45, 45);
    --c-sticky-id-brdr:                 #38516B;
    --c-input-brdr:						#354E66;
    --c-main-brdr:						#324A61;
    --c-sticky-2:                       #30465C;
    --c-table-brdr: 					#2D4257;
    --c-tor-rowb: 						#2A3E52;
    --c-body: 							#283A4D;
    --c-tor-row-hvr: 					#253647;
    --c-input-focus: 					#223242;
    --c-edition: 						#223242;
    --c-input:							#1B2733;
    --c-input-obj:						#202F3D;
    --c-trowb:							#1E2D3B;
    --c-tgroup:							#1D2B38;                     
    --c-box: 							#1B2733;
    --c-item-desc:                      rgba(27, 39, 51, .8);
    --c-row-hvr:						#131B24;
    --c-high:							rgb(0, 0, 0);
    --c-b1: 							#294763;
    --c-b2: 							#2C5169;    
    --c-b3: 							#1F374D;
    --c-b4: 							#223F52;    
    --c-sb1:                            #1D3347;
    --c-sb2:                            #203B4D;
    --c-bg:                             #D9E473;    
    --c-hovereffect: 					rgba(0, 0, 0, .8);
    --c-b00: 							rgba(0, 0, 0, 0);
    --c-anchor: 						#C6E6F6;
    --c-anchor-hvr: 					#FFF;
    --c-anchor-hvr-bcg: 				unset;
    --c-anchor-hvr-bcg-obj:             #304456;
	--c-header-shdw: 					rgba(0,0,0,.3);
    --c-main-shdw:						rgba(0,0,0,.5);
    --c-img-bcg-anchor: 				#2B3845;
    --c-on: 							#69C077;
    --c-bonus:                          rgba(177, 232, 0, .2);
    --c-donate:                         rgb(255, 77, 77);
    --c-yellow: 						rgb(209, 209, 0);
    --c-off: 							#BF6A6A;
    --c-colhead-click:					rgba(0, 0, 0, .15);
    --c-colhead-act: 					rgba(0, 0, 0, .3);
    --c-em-bcg: 						rgb(140, 25, 13);
    --c-em-hvr: 						rgb(230, 42, 21);
    --c-em-act: 						rgb(115, 36, 28);
    --c-fl: 							#69C077;
    --c-btn-b1: 						#2B4E66;
    --c-btn-b2: 						#2D526B;
    --c-red:                            #DD3434;
    --c-blue:                           rgb(99, 99, 255);
    --c-o-gold:                         rgb(245, 208, 0);
    --c-gold:                           rgb(255, 215, 0);
    --c-orange:                         rgb(255, 165, 0);
    --p-orange:                         unset;
    --p-gold:                           unset;
    --c-leech:                          #69c077;
    --c-seed:                           #d9e473;
    --c-upload:                         #ae83cc;
    --c-snatch:                         #bf6a6a;
    --c-download:                       #bf6a6a;
    
    --c-r01:                            #BF6A6A;
    --c-r02:                            #BF6A6A;
    --c-r03:                            #BF6A6A;
    --c-r04:                            #D9E473;
    --c-r05:                            #D9E473;
    --c-r06:                            #D9E473;
    --c-r07:                            #D9E473;
    --c-r08:                            #D9E473;
    --c-r09:                            #69C077;
    --c-r10:                            #69C077;
    --c-r99:                            #69C077;
/*shop*/
    --c-type-0:                         rgba(116,   56,     66,     .23);
    --c-type-1:                         rgba(58,    77,     115,    .23);
    --c-type-2:                         rgba(70,    114,    59,     .23);
    --c-type-3:                         rgba(115,   118,    0,      .23);
    --c-type-4:                         rgba(84,    84,     84,     .23);
    --c-type-5:                         rgba(0,     92,     119,    .23);
}
/** /COLORS **/

body {
    background-image: url('res/icons/grish/background.svg');}
/* disabling custom user backgrounds for now */
#user[style^="background: url("] {
    background-image: url('res/icons/grish/background.svg') !important;
    background-size: 50px 50px !important;}
#logo a {
    background-image: url('res/icons/grish/logo.svg');}

a:hover {
    text-decoration: underline;}
#menu ul li a:hover {
    color: var(--c-on);
    text-decoration: none;}
button,
#wrapper #trading_panel button,
.alertable button,
input[type=button],
input[type=submit],
.similar_votes a,
.box_tags .stats.nobullet div a,
a[href^="javascript:IndexVote("] strong,
a[href^="javascript:Vote("] strong,
#requests table.border td.nobr:nth-child(2) strong,
#torrents #requests.request_table #requests_list .requestrows a.brackets,
#upload td#image_block a,
#newthreadform #newthreadtext #answer_block a {
    text-decoration: none;}