@import url('res/core.css');
@import url('res/icons_cdcdcd.css');
@import url('res/userscripts.css');
@import url('res/media.css');

@import url('https://gazellegames.net/static/styles/game_room/cssFiles/holidayeffects.css');

/** COLORS **/
:root {
    --c-selection:                      rgba(12, 130, 128, .996);
    --c-selection-i:                    rgba(12, 130, 128, .75);
    --c-post-img:                       rgb(55, 55, 55);
    --p-description:                    invert(1);
    --c-description:                    rgb(245, 245, 245);
    --c-low:                            rgb(255, 255, 255);
    --c-quote-brdr:                     rgba(240, 240, 240, .1);
    --c-quote:                          rgba(240, 240, 240, .05);
    --c-contrast:                       rgba(255, 255, 255, .2);
    --c-unread-s:                       rgb(8, 94, 93);
    --c-unread-i:                       rgb(205, 205, 205);
    --c-unread-br:                      rgb(9,67,66);
    --c-txt: 							rgb(205, 205, 205);
    --c-text-s: 						rgb(155, 155, 155);
    --c-curtain:						rgb(45, 45, 45);
    --c-sticky-id-brdr:                 rgb(65, 65, 65);
    --c-input-brdr:						rgb(60, 60, 60);
    --c-main-brdr:						rgb(55, 55, 55);
    --c-sticky-2:                       rgb(50, 50, 50);
    --c-table-brdr: 					rgb(45, 45, 45);
    --c-tor-rowb: 						rgb(40, 40, 40);
    --c-body: 							rgb(35, 35, 35);
    --c-tor-row-hvr: 					rgb(30, 30, 30);
    --c-input-focus: 					rgb(25, 25, 25);
    --c-edition: 						rgb(25, 25, 25);
    --c-input:							rgb(20, 20, 20);
    --c-input-obj:						rgb(20, 20, 20);
    --c-trowb:							rgb(18, 18, 18);
    --c-tgroup:							rgb(15, 15, 15);                     
    --c-box: 							rgb(10, 10, 10);
    --c-item-desc:                      rgba(10, 10, 10, .8);
    --c-row-hvr:						rgb(5, 5, 5);
    --c-high:							rgb(0, 0, 0);
    --c-high-t:							rgb(0, 0, 0);
    --c-b1: 							rgb(8, 94, 93);
    --c-b2: 							rgb(39, 97, 78);    
    --c-b3: 							rgb(9,67,66);
    --c-b4: 							rgb(30,70,57);    
    --c-sb1:                            rgb(9,56,55);
    --c-sb2:                            rgb(26,57,47);
    --c-bg:                             rgb(12,134,131);    
    --c-hovereffect: 					rgba(0, 0, 0, .8);
    --c-b00: 							rgba(0, 0, 0, 0);
    --c-anchor: 						rgb(16, 173, 168);
    --c-anchor-hvr: 					rgb(255, 255, 255);
    --c-anchor-hvr-bcg: 				rgb(11,45,43);
    --c-anchor-hvr-bcg-obj:             rgb(11,45,43);
	--c-header-shdw: 					rgba(0,0,0,.3);
    --c-main-shdw:						rgba(0,0,0,.5);
    --c-img-bcg-anchor: 				rgb(11,26,25);
    --c-on: 							rgb(41, 204, 0);
    --c-bonus:                          rgba(177, 232, 0, .2);
    --c-donate:                         rgb(255, 77, 77);
    --c-yellow: 						rgb(209, 209, 0);
    --c-off: 							rgb(255, 20, 20);
    --c-colhead-click:					rgba(0, 0, 0, .15);
    --c-colhead-act: 					rgba(0, 0, 0, .3);
    --c-em-bcg: 						rgb(140, 25, 13);
    --c-em-hvr: 						rgb(230, 42, 21);
    --c-em-act: 						rgb(115, 36, 28);
    --c-fl: 							rgb(154, 99, 255);
    --c-btn-b1: 						rgb(9,81,80);
    --c-btn-b2: 						rgb(35,84,68);
    --c-red:                            rgb(255, 10, 10);
    --c-blue:                           rgb(99, 99, 255);
    --c-o-gold:                         rgb(245, 208, 0);
    --c-gold:                           rgb(255, 215, 0);
    --c-orange:                         rgb(255, 165, 0);
    --p-orange:                         unset;
    --p-gold:                           unset;
    --c-leech:                          rgb(194, 162, 0);
    --c-seed:                           rgb(38, 191, 0);
    --c-upload:                         rgb(105, 181, 133);
    --c-snatch:                         rgb(255, 40, 0);
    --c-download:                       rgb(255, 100, 0);
    
    --c-r01:                            rgb(255,    0,      0);
    --c-r02:                            rgb(255,    30,     0);
    --c-r03:                            rgb(255,    60,     0);
    --c-r04:                            rgb(235,    94,     0);
    --c-r05:                            rgb(212,    120,    0);
    --c-r06:                            rgb(181,    139,    0);
    --c-r07:                            rgb(156,    156,    0);
    --c-r08:                            rgb(149,    166,    0);
    --c-r09:                            rgb(141,    176,    0);
    --c-r10:                            rgb(38,     191,    0);
    --c-r99:                            rgba(38,    191,    0,      .5);
/*shop*/
    --c-type-0:                         rgba(116,   56,     66,     .23);
    --c-type-1:                         rgba(58,    77,     115,    .23);
    --c-type-2:                         rgba(70,    114,    59,     .23);
    --c-type-3:                         rgba(115,   118,    0,      .23);
    --c-type-4:                         rgba(84,    84,     84,     .23);
    --c-type-5:                         rgba(0,     92,     119,    .23);
}
/** /COLORS **/

body {
    background-image: url('res/icons/cdcdcd/background.svg');}
/* disabling custom user backgrounds for now */
#user[style^="background: url("] {
    background-image: url('res/icons/cdcdcd/background.svg') !important;
    background-size: 50px 50px !important;}
#logo a {
    background-image: url('res/icons/cdcdcd/logo.svg');}

/* large sidebar */
@media (min-width: 1387px) {
#index .main_column {
    width: calc(100% - 630px);}
#index .sidebar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 615px;}
#index .sidebar #stats,
#index .sidebar #freeleech {
    width: 100%;}
#index .sidebar >div.box {
    width: 300px;}
#index .sidebar #stats .stats li {
    float: left;
    width: 50%;}
#index #blogposts      {order: 1}
#index #dailygazelle   {order: 2}
#index #slides         {order: 3}
#index #polcont        {order: 4}
#index #stats          {order: 5}
#index .box.news_post>.pad img {
    max-width: 614px !important;}
#index .sidebar #freeleech_time_left .points {
    font-size: var(--p-head);}
#index .sidebar #freeleech_time_left #progress_bar .main_bar {
    animation: lsfl-pulse-b linear 2.7s infinite;
    background-size: 1215px 100%;}
}