@media (min-width: 801px) {
html {
    overflow-y: scroll;}
#torrent_table #hyphen {
    display: none;}
#groupplatform {
    width: 34px;
    height: 34px;
    position: absolute;
    left: -36px;
    top: calc(50% - 17px);}
#uploaded_table             td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#seeding_table              td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#leeching_table             td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#snatched_table             td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#snatched_not_seeding_table td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#seeding_not_snatched_table td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#downloaded_table           td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#extlink_table              td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#collections .group.discog td.collicon:nth-child(2) >div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#torrent_table td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#top10 td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#running_freeleech td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications) {
    background: none;}
#groupplatform a {
    width: 100%;
    height: 100%;
    display: block;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;}
#requests .thin >table.border .colhead_dark {
    white-space: nowrap;}
#wrapper h2 #groupplatform {
    width: unset;
    height: unset;
    position: inherit;
    font-size: 21px;
    line-height: 21px;}
#existing_freeleech_pots #groupplatform,
#wrapper .box.box_artists #groupplatform,
#manage_collage_table #groupplatform {
    width: unset;
    height: unset;
    position: inherit;
    font-size: 14px;
    line-height: var(--p-lh);}
#wrapper .box.box_requests #groupplatform {
    width: unset;
    height: unset;
    position: inherit;
    font-size: 15px;
    line-height: var(--p-lh);}
#wrapper .box.box_requests #groupplatform a,
#wrapper .box.box_artists #groupplatform a,
#manage_collage_table #groupplatform a,
#wrapper h2 #groupplatform a {
    background-image: none;
    width: unset;
    height: unset;
    display: inherit;}
    
    
#newthreadpreview .forum_post .colhead_dark span[style="float: left;"] a[href="#newthreadpreview"],
#quickreplypreview .colhead_dark span:not(#barpreview) a[href="#postpreview"],
.forum_post .colhead_dark a.post_id {
    width: auto;
    height: calc(100% + 13px);
    font-size: 15px;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: -6px;
    line-height: 32px;
    padding: 0 4px 0 8px;
    background-color: var(--c-table-brdr) !important;
    border-right: var(--p-main-brdr);
    clip: rect(0, 15px, 32px, 0);}
#newthreadpreview .forum_post .colhead_dark span[style="float: left;"] a[href="#newthreadpreview"]:before,
#quickreplypreview .colhead_dark span:not(#barpreview) a[href="#postpreview"]:before,
.forum_post .colhead_dark a.post_id:before {
    position: absolute;
    content: '#';
    font-size: 24px;
    width: 18px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--c-table-brdr);}
#newthreadpreview .forum_post .colhead_dark span[style="float: left;"] a[href="#newthreadpreview"]:hover,
#quickreplypreview .colhead_dark span:not(#barpreview) a[href="#postpreview"]:hover,
.forum_post .colhead_dark a.post_id:hover {
    clip: rect(0, 300px, 32px, 0);
    z-index: 99;}
.forum_post.forum_unread .colhead_dark a.post_id,
.forum_post.forum_unread .colhead_dark a.post_id:before {
    background-color: var(--c-b3) !important;
    border-color: var(--c-b1) !important;}
.forum_post.sticky_post .colhead_dark a.post_id,
.forum_post.sticky_post .colhead_dark a.post_id:before {
    background-color: var(--c-input-brdr) !important;
    border-color: var(--c-sticky-id-brdr) !important;}
/* flame effect overlap fix */
.forum_post .colhead_dark a.username {
    position: relative;
    z-index: 9;}
}


@media (min-width: 1300px) {
#forums .forum_latest >.search.box.pad table#forumlist {
    white-space: nowrap;}
}



@media (min-width: 1760px) and (min-height: 659px) {
    #header {
        font-size: 1em;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1;
        margin-bottom: 20px;
        position: sticky;
        top: -41px;}
    #header #announcement {
        width: calc(100% - 402px);
        padding: 5px 0;
        margin: 0 auto;
        background-color: var(--c-box);
        border-bottom: var(--p-main-brdr);
        -webkit-box-shadow: var(--p-header-shdw);
        box-shadow: var(--p-header-shdw);
        z-index: -11;
        position: relative;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% + 10px), 0 calc(100% + 10px));
        clip-path: polygon(0 0, 100% 0, 100% calc(100% + 10px), 0 calc(100% + 10px));}
    #userinfo_stats li, #userinfo_stats li a {
        height: 26px;}
    #nav_userinfo {
        text-align: center;
        line-height: 36px;
        height: 36px;
        width: 100%;}
    #nav_userinfo a.username {
        font-weight: 600;
        width: 100%;
        height: 100%;
        display: inline-block;}
    #userinfo_username .sub {
        width: 200px;
        line-height: 28px;
        text-align: center;
        visibility: visible !important;
        right: 0;
        top: 73px;
        position: absolute;
        font-size: 16px;}
    #userinfo_stats {
        position: absolute;
        top: 311px;
        right: 0;
        width: 200px;
        display: flex;
        flex-flow: column;
        line-height: 26px;
        font-size: 15px;
        flex-direction: row;
        flex-wrap: wrap;}
    #userinfo_username .sub a {
        width: 100%;
        display: block;}
    
    #userinfo_minor a {
        color: var(--c-txt);
        font-size: 17px;
        width: 100%;
        display: inline-block;
        line-height: 30px;}
    
    #userinfo_stats li a,
    #userinfo_username .sub a,
    #menu a,
    #userinfo_username li:not(.sub) a {
        color: var(--c-txt);}
    
    #nav_useredit,
    #nav_logout,
    #nav_donate {
        padding-top: 1px;
        height: 36px;
        line-height: 36px;
        width: calc(100%/3);}
    
    #nav_index {
        display: none !important;}
    #userinfo_username {
        position: absolute;
        top: 40px;
        right: 0;
        width: 200px;
        z-index: 10;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;}
    
    #searchbars {
        text-align: center;
        width: 100%;
        height: 40px;
        background: var(--p-searchbar-grdnt);
        -webkit-box-shadow: var(--p-header-shdw);
        box-shadow: var(--p-header-shdw);
        border-bottom: var(--p-main-brdr);}
    #quickreplypreview .colhead_dark #barpreview >a:nth-child(2),
    .forum_post .colhead_dark div[style="float: right;"] >a:nth-child(2),
    #newthreadpreview .forum_post .colhead_dark #barpreview a:nth-child(2) {
        display: none;}
    #quickreplypreview .colhead_dark #barpreview,
    .forum_post .colhead_dark div[style="float: right;"],
    #newthreadpreview .forum_post .colhead_dark #barpreview {
            height: 18px;
        font-size: 0;
        min-width: 18px;
        position: absolute;
        right: 5px;
        top: 6px;
        z-index: 999;}
    #quickreplypreview .colhead_dark span[style="float:left;"],
    .forum_post .colhead_dark div[style="float: left;"],
    .forum_post .colhead_dark div[style="float:left;"],
    #newthreadpreview .forum_post .colhead_dark span[style="float: left;"] {
        width: calc(100% - 23px);}
    
    #extra1,
    #extra2 {
        background-color: var(--c-tor-row-hvr);
        -webkit-box-shadow: inset var(--p-main-shdw);
        box-shadow: inset var(--p-main-shdw);
        width: 200px;
        top: 0;
        position: fixed;
        z-index: 0;
        height: 100vh;}
    #extra1 {
        left: 0;
        border-right: var(--p-main-brdr);}
    #extra2 {
        right: 0;
        border-left: var(--p-main-brdr);}
    
    #userinfo_minor,
    #menu {
        width: 200px;
        position: absolute;
        left: 0;}
    #menu {
        top: 241px;}
    #userinfo_minor {
        z-index: 2;
        top: 541px;}
    #menu >ul,
    #userinfo_minor {
        display: flex;
        flex-flow: wrap;}
    #menu >ul {
        position: sticky;
        top: 200px;
        width: 100%;}
    #userinfo_minor li,
    #menu li {
        width: 50%;
        height: 100%;}
    #userinfo_minor li:first-child {
        left: 50%;
        position: absolute;
        top: -60px;
        height: auto;}
    #userinfo_minor a,
    #menu a {
        line-height: 18px;
        width: 100%;
        display: block;
        font-size: 18px;
        padding: 37px 0 5px;
        background-size: auto 28px;
        background-position: center 6px;
        background-repeat: no-repeat;}
    #userinfo_minor a {
        font-size: 16px;}
    #userinfo_minor a.notificationsico {
        letter-spacing: var(--p-dot3);}
}
@media (min-width: 1760px) and (min-height: 659px) and (max-height: 903px) {
    #header .clan_trophy {
        top: 541px;}
    #userinfo_minor {
        top: 239px;
        background: linear-gradient(to right, var(--c-body) 98%, var(--c-table-brdr) 100%);
        flex-flow: wrap-reverse !important;
        clip: rect(242px, 200px, 302px, 100px);
        border-right: var(--p-main-brdr);
        border-top: 2px solid var(--c-main-brdr);
        -webkit-transition: all .1s linear;
        -o-transition: all .1s linear;
        transition: all .1s linear;}
    #userinfo_minor:hover {
        clip: rect(0, 200px, 302px, 0);}
    #userinfo_minor:before {
        content: 'More';
        position: absolute;
        width: 100px;
        height: 60px;
        bottom: -60px;
        right: 0;
        line-height: 92px;
        font-size: 18px;
        background-size: 28px 28px;
        background-position: center 6px;
        background-repeat: no-repeat;}
    #userinfo_minor.highlighted:before {
        background-color: var(--c-b3);
        font-weight: bold;}
    #userinfo_minor:hover:before {
        color: var(--c-anchor-hvr);
        background-color: var(--c-b1);}
    #userinfo_minor li:first-child {
        left: unset;
        top: unset;
        right: 50%;
        bottom: -60px;
        background-color: var(--c-body);}
    #userinfo_username .sub:before {
        content: 'User Menu';
        width: 200px;
        height: 30px;
        font-size: 17px;
        line-height: 30px;
        font-weight: 600;
        position: absolute;
        top: 0;
        left:0;
        border-top: 2px solid var(--c-main-brdr);
        border-bottom: 2px solid var(--c-main-brdr);}
    #userinfo_username .sub {
        padding-bottom: 2px;
        -webkit-transition: all .15s linear;
        -o-transition: all .15s linear;
        transition: all .15s linear;
        transition-delay: .5s;
        background: linear-gradient(to bottom, var(--c-tor-row-hvr) 14.5%, var(--c-body) 14.6%);
        z-index: 99;
        border-left: var(--p-main-brdr);
        -webkit-box-shadow: inset var(--p-main-shdw);
        box-shadow: inset var(--p-main-shdw);
        clip: rect(0, 200px, 34px, 0px);
        height: auto;}
    #userinfo_username .sub span:first-child {
        margin-top: 32px;}
    #userinfo_username .sub span:last-child {
        border: 0;}
    #userinfo_username .sub:hover {
        transition-delay: 0s;
        clip: rect(0px, 200px, 230px, 0px);}
    #userinfo_username .sub:hover:before {
        background-color: var(--c-b2);
        border-bottom: 0;}
    #userinfo_stats {
        top: 147px;}
}