@media (min-width: 1760px) and (min-height: 659px) {
    .forum_post .colhead_dark div[style="float: right;"] >a:nth-child(2) {
        display: none;}
    .forum_post .colhead_dark div[style="float: right;"] {
        width: 18px;
        height: 18px;}
    .forum_post .colhead_dark div[style="float: left;"] {
        width: calc(100% - 23px);}
    
    #extra1,
    #extra2 {
        background-color: var(--c-tor-row-hvr);
        -webkit-box-shadow: inset var(--p-main-shdw);
        box-shadow: inset var(--p-main-shdw);
        width: 200px;
        top: 0;
        position: fixed;
        z-index: 0;
        height: 100vh;}
    #extra1 {
        left: 0;
        border-right: var(--p-main-brdr);}
    #extra2 {
        right: 0;
        border-left: var(--p-main-brdr);}
    
    #userinfo_minor,
    #menu {
        width: 200px;
        position: absolute;
        left: 0;}
    #menu {
        top: 241px;}
    #userinfo_minor {
        z-index: 2;
        top: 541px;}
    #menu >ul,
    #userinfo_minor {
        display: flex;
        flex-flow: wrap;}
    #menu >ul {
        position: sticky;
        top: 200px;
        width: 100%;}
    #userinfo_minor li,
    #menu li {
        width: 50%;
        height: 100%;}
    #userinfo_minor li:first-child {
        left: 50%;
        position: absolute;
        top: -60px;
        height: auto;}
    #userinfo_minor a,
    #menu a {
        line-height: 18px;
        width: 100%;
        display: block;
        font-size: 18px;
        padding: 37px 0 5px;
        background-size: auto 28px;
        background-position: center 6px;
        background-repeat: no-repeat;}
    #userinfo_minor a {
        font-size: 16px;}
    #userinfo_minor a.notificationsico {
        letter-spacing: var(--p-dot3);}
}
@media (min-width: 1760px) and (min-height: 659px) and (max-height: 903px) {
    #userinfo_minor {
        top: 239px;
        background: linear-gradient(to right, var(--c-body) 98%, var(--c-table-brdr) 100%);
        flex-flow: wrap-reverse !important;
        clip: rect(242px, 200px, 302px, 100px);
        border-right: var(--p-main-brdr);
        border-top: 2px solid var(--c-main-brdr);
        -webkit-transition: all .1s linear;
        -o-transition: all .1s linear;
        transition: all .1s linear;}
    #userinfo_minor:hover {
        clip: rect(0, 200px, 302px, 0);}
    #userinfo_minor:before {
        content: 'More';
        position: absolute;
        width: 100px;
        height: 60px;
        bottom: -60px;
        right: 0;
        line-height: 92px;
        font-size: 18px;
        background-size: 28px 28px;
        background-position: center 6px;
        background-repeat: no-repeat;}
    #userinfo_minor.highlighted:before {
        font-weight: bold;}
    #userinfo_minor:hover:before {
        color: var(--c-anchor-hvr);
        background-color: var(--c-b3);}
    #userinfo_minor li:first-child {
        left: unset;
        top: unset;
        right: 50%;
        bottom: -60px;
        background-color: var(--c-body);}
    #userinfo_username .sub:before {
        content: 'User Menu';
        width: 200px;
        height: 30px;
        font-size: 17px;
        line-height: 30px;
        font-weight: 600;
        position: absolute;
        top: 0;
        left:0;
        border-top: 2px solid var(--c-main-brdr);
        border-bottom: 2px solid var(--c-main-brdr);}
    #userinfo_username .sub {
        padding-bottom: 2px;
        -webkit-transition: all .15s linear;
        -o-transition: all .15s linear;
        transition: all .15s linear;
        transition-delay: .5s;
        background: linear-gradient(to bottom, var(--c-tor-row-hvr) 15%, var(--c-body) 16%);
        z-index: 99;
        border-left: var(--p-main-brdr);
        -webkit-box-shadow: inset var(--p-main-shdw);
        box-shadow: inset var(--p-main-shdw);
        clip: rect(0, 200px, 34px, 0px);
        height: auto;}
    #userinfo_username .sub span:first-child {
        margin-top: 32px;}
    #userinfo_username .sub span:last-child {
        border: 0;}
    #userinfo_username .sub:hover {
        transition-delay: 0s;
        clip: rect(0px, 200px, 230px, 0px);}
    #userinfo_username .sub:hover:before {
        background-color: var(--c-b2);
        border-bottom: 0;}
    #userinfo_stats {
        top: 147px;}
}