@media (min-width: 801px) {
html {
    overflow-x: hidden;
    overflow-y: scroll;}
body {
    overflow-x: unset !important;}

#torrent_table #hyphen {
    display: none;}
#groupplatform {
    width: 34px;
    height: 34px;
    position: absolute;
    left: -36px;
    top: calc(50% - 17px);}
#uploaded_table             td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#seeding_table              td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#leeching_table             td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#snatched_table             td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#snatched_not_seeding_table td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#seeding_not_snatched_table td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#downloaded_table           td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#extlink_table              td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#collections .group.discog td.collicon:nth-child(2) >div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#torrent_table td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#top10 td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications),
#running_freeleech td.center.cats_col div:not(.cats_ost):not(.cats_ebooks):not(.cats_applications) {
    background: none;}
#groupplatform a {
    width: 100%;
    height: 100%;
    display: block;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;}
#requests .thin >table.border .colhead_dark {
    white-space: nowrap;}
#wrapper h2 #groupplatform {
    width: unset;
    height: unset;
    position: inherit;
    font-size: 21px;
    line-height: 21px;}
#wrapper .box.news_post #groupplatform,
#wrapper .forum_post #groupplatform,
#existing_freeleech_pots #groupplatform,
#wrapper .box.box_artists #groupplatform,
#manage_collage_table #groupplatform {
    width: unset;
    height: unset;
    position: inherit;
    font-size: inherit;
    line-height: var(--p-lh);
    left: unset;
    top: unset;}
#wrapper .box.box_requests #groupplatform {
    width: unset;
    height: unset;
    position: inherit;
    font-size: 15px;
    line-height: var(--p-lh);}
#wrapper .box.news_post #groupplatform a,
#wrapper .forum_post #groupplatform a,
#wrapper .box.box_requests #groupplatform a,
#wrapper .box.box_artists #groupplatform a,
#manage_collage_table #groupplatform a,
#wrapper h2 #groupplatform a {
    background-image: none;
    width: unset;
    height: unset;
    display: inherit;}
    
    
#newthreadpreview .forum_post .colhead_dark span[style="float: left;"] a[href="#newthreadpreview"],
#quickreplypreview .colhead_dark span:not(#barpreview) a[href="#postpreview"],
.forum_post .colhead_dark a.post_id {
    width: auto;
    height: calc(100% + 13px);
    font-size: 15px;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: -6px;
    line-height: 32px;
    padding: 0 4px 0 8px;
    background-color: var(--c-table-brdr) !important;
    border-right: var(--p-main-brdr);
    clip: rect(0, 15px, 32px, 0);}
#newthreadpreview .forum_post .colhead_dark span[style="float: left;"] a[href="#newthreadpreview"]:before,
#quickreplypreview .colhead_dark span:not(#barpreview) a[href="#postpreview"]:before,
.forum_post .colhead_dark a.post_id:before {
    position: absolute;
    content: '#';
    font-size: 24px;
    width: 18px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--c-table-brdr);}
#newthreadpreview .forum_post .colhead_dark span[style="float: left;"] a[href="#newthreadpreview"]:hover,
#quickreplypreview .colhead_dark span:not(#barpreview) a[href="#postpreview"]:hover,
.forum_post .colhead_dark a.post_id:hover {
    clip: rect(0, 300px, 32px, 0);
    z-index: 99;}
.forum_post.forum_unread .colhead_dark a.post_id,
.forum_post.forum_unread .colhead_dark a.post_id:before {
    background-color: var(--c-b3) !important;
    border-color: var(--c-b1) !important;}
.forum_post.sticky_post .colhead_dark a.post_id,
.forum_post.sticky_post .colhead_dark a.post_id:before {
    background-color: var(--c-input-brdr) !important;
    border-color: var(--c-sticky-id-brdr) !important;}
/* flame effect overlap fix */
.forum_post .colhead_dark a.username {
    position: relative;
    z-index: 9;}

/* forum post 'back to top' button */
#userhistory .colhead_dark span[id*="bar"],
#quickreplypreview .colhead_dark #barpreview >a:nth-child(2),
.forum_post .colhead_dark div[style="float: right;"] >a:nth-child(2),
#newthreadpreview .forum_post .colhead_dark #barpreview a:nth-child(2) {
    display: none;}
 #quickreplypreview .colhead_dark #barpreview,
 .forum_post .colhead_dark div[style="float: right;"],
 #newthreadpreview .forum_post .colhead_dark #barpreview {
     height: 18px;
     font-size: 0;
     min-width: 18px;
     position: absolute;
     right: 5px;
     top: 6px;
     z-index: 999;}
#quickreplypreview .colhead_dark span[style="float:left;"],
.forum_post .colhead_dark div[style="float: left;"],
.forum_post .colhead_dark div[style="float:left;"],
#newthreadpreview .forum_post .colhead_dark span[style="float: left;"] {
    width: calc(100% - 23px);}
/* /forum post 'back to top' button */
    
/** new boring desktop header **/
#header {
    position: relative;
    border-bottom: var(--p-table-brdr);
    -webkit-box-shadow: var(--p-header-shdw);
    box-shadow: var(--p-header-shdw);
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;}
#header #searchbars {
    width: 100%;
    background: var(--p-searchbar-grdnt);
    display: block;
    order: -99;}
#header #searchbars ul {
    max-width: 1314px; /* content, footer */
    width: 100%;
    margin: 0 auto;
    padding: 2px 0;
    display: flex;}
#header #searchbars ul li {
    width: 100%;
    padding: 0 7px;}
#header #menu {
    order: -98;
    display: block;
    background: var(--p-menu);
    width: 100%;}
#header #menu ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;}
#header #userinfo_minor li,
#header #menu ul,
#header #menu li {
    margin: 0;
    padding: 0;}
#header #menu li a {
    font-size: 18px;
    line-height: 24px;
    padding: 5px 10px;
    display: block;}
#header #menu #nav_index {
    display: none;}
#header #userinfo {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background: var(--p-userinfo);}
#header #userinfo_minor {
    z-index: 0;
    display: flex;
    flex-flow: row;
    width: 100%;
    position: absolute;
    justify-content: center;}
#header #userinfo_username {
    display: flex;
    position: absolute;
    font-size: 15px;
    line-height: var(--p-lh);
    z-index: 99;
    top: -34px;
    right: 0;
    height: 34px;}
#header #userinfo_username #nav_userinfo a {
    font-size: 18px;
    display: block;
    line-height: 24px;
    padding: 5px 8px 5px 5px;}
#header #userinfo_minor li a {
    font-size: 15px;
    line-height: 20px;
    padding: 5px 8px;
    display: block;}
#header #userinfo_stats {
    -webkit-clip-path: polygon(-10px -10px, calc(100% + 10px) -10px, calc(100% + 10px) 30px, -10px 30px);
    clip-path: polygon(-10px -10px, calc(100% + 10px) -10px, calc(100% + 10px) 30px, -10px 30px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 98;
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column;
    transition-delay: .3s;}
#header #userinfo_stats:hover {
    -webkit-clip-path: polygon(-10px -10px, calc(100% + 10px) -10px, calc(100% + 10px) calc(100% + 10px), -10px calc(100% + 10px));
    clip-path: polygon(-10px -10px, calc(100% + 10px) -10px, calc(100% + 10px) calc(100% + 10px), -10px calc(100% + 10px));
    transition-delay: 0s;}
    
#header #alerts {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 98;
    width: 40px;
    height: 40px;
    text-align: left;
    font-size: 0;
    line-height: 0;}
#header #alerts:hover {
    background-color: var(--c-anchor-hvr);}
#header #alerts:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 40px;
    height: 40px;
    background-color: var(--c-txt);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 20px 20px;
    -webkit-mask-image: url('icons/dark/toolbox.svg');
    mask-image: url('icons/dark/toolbox.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 20px 20px;}
#header #alerts:hover:before {
    background-color: var(--c-low);}
#header #alerts .blend {
    z-index: 999;
    -webkit-box-shadow: var(--p-header-shdw);
    box-shadow: var(--p-header-shdw);
    border: var(--p-table-brdr);
    line-height: 26px;
    text-align: center;
    font-size: 15px;
    position: absolute;
    width: auto;
    top: 0;
    right: 40px;
    -webkit-clip-path: polygon(calc(100% + 10px) -10px, calc(100% + 10px) -10px, calc(100% + 10px) -10px, calc(100% + 10px) -10px);
    clip-path: polygon(calc(100% + 10px) -10px, calc(100% + 10px) -10px, calc(100% + 10px) -10px, calc(100% + 10px) -10px);
    transition-delay: 0s;}
#header #alerts:hover .blend {
    -webkit-clip-path: polygon(-10px -10px, calc(100% + 10px) -10px, calc(100% + 10px) calc(100% + 10px), -10px calc(100% + 10px));
    clip-path: polygon(-10px -10px, calc(100% + 10px) -10px, calc(100% + 10px) calc(100% + 10px), -10px calc(100% + 10px));
    transition-delay: .3s;}
#header #alerts a {
    background-color: var(--c-input);
    padding: 0 5px;
    font-weight: normal;
    white-space: nowrap;
    display: block;}
#header #alerts a:nth-child(odd) {
    background-color: var(--c-tgroup);}
    

#nav_logout {
    order: -2;}
#nav_useredit {
    order: -1;}
#stats_ratio {
    order: 1;}
#stats_seeding {
    order: 2;}
#stats_leeching {
    order: 3;}
#stats_hnr {
    order: 4;}
#stats_share_score {
    order: 5;}
#stats_gold {
    order: 6;}
#online_irc {
    order: 7;}
#connectable {
    order: 8;}

#userinfo_stats li:not(#stats_ratio) {
    background-color: var(--c-box);}
#nav_useredit:hover,
#nav_logout:hover,
#header #menu li a:hover,
#header #userinfo_minor a:hover,
#header #userinfo .sub span a:hover,
#content .sub span a:hover,
#userinfo_username #nav_userinfo a:hover,
#userinfo_stats li:hover:not(#stats_ratio):not(#connectable) {
    background-color: var(--c-anchor-hvr-bcg);}
#header #userinfo_username  .active a,
#header #userinfo_minor     .active a,
#header #menu               .active a {
    box-shadow: inset var(--p-selected);}
    
#header .highlight {
    color: var(--c-em-hvr);
    box-shadow: inset 0 -2px 0px 0px var(--c-em-hvr)}
#header .highlight:hover {
    color: var(--c-anchor-hvr);}
    
#header #userinfo_stats:before {
    -webkit-clip-path: polygon(-10px 32px, calc(100% + 10px) 32px, calc(100% + 10px) calc(100% + 10px), -10px calc(100% + 10px));
    clip-path: polygon(-10px 32px, calc(100% + 10px) 32px, calc(100% + 10px) calc(100% + 10px), -10px calc(100% + 10px));
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: var(--p-table-brdr);
    border-right: 0;
    -webkit-box-shadow: var(--p-header-shdw);
    box-shadow: var(--p-header-shdw);
    left: -1px;
    top: -1px;
    z-index: -9;}
    
#header #userinfo_stats a:after {
    content: '';
    top: -10px;
    left: -20px;
    width: 600px;
    height: 40px;
    position: absolute;}

#stats_gold a,
#stats_leeching a,
#stats_seeding a {
    padding: 1px 0;}
    
#header #announcement {
    text-align: center;
    padding: 5px;
    background: var(--p-head-grdnt);}
    
#userinfo_stats li {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 20px;
    padding: 5px 8px;
    width: 100%;}
#userinfo_stats #stats_ratio {
    justify-content: flex-end;}
#stats_ratio,
#stats_gold,
#stats_leeching,
#stats_seeding {
    display: flex;
    justify-content: left;
    position: relative;
    overflow: hidden;}

#userinfo_stats li a ~span {
    color: var(--c-anchor);}
#header #userinfo_stats li:hover a ~span {
    color: var(--c-anchor-hvr);}
    
#stats_ratio .stat:after,
#nav_userinfo a:after {
    transform: rotate(90deg);
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 0 -2px 10px;}
#header #stats_ratio .stat:after {
    width: 16px;
    height: 16px;
    transition-delay: .3s;
    margin: 0 0 -2px 11px;}
#userinfo_stats:hover #stats_ratio .stat:after,
#userinfo_username .sub[style="visibility: visible;"] ~#nav_userinfo a:after {
    transform: rotate(0deg);
    transition-delay: 0s;}
    
#stats_ratio span.stat span,
#stats_gold span,
#stats_leeching span,
#stats_seeding span {
    padding-left: 4px;}

#header #stats_ratio {
    font-size: 0;}
#stats_ratio:before {
    width: 16px;
    height: 16px;
    margin: 2px 2px 0 0;
    content: '';}
#stats_ratio span.stat:before {
    content: ':';}

#header #nav_logout a,
#header #nav_useredit a {
    display: block;
    width: 20px;
    height: 20px;
    padding: 7px 5px;
    mask-size: 20px 20px;
    -webkit-mask-size: 20px 20px;}
    
.global_buffs {
    position: absolute !important;
    top: calc(100% + 1px);
    right: 0 !important;
    left: unset !important;
    width: 200px !important;
    filter: none !important;
    line-height: 17px;
    display: flex;
    flex-flow: wrap;
    direction: rtl;}
#header .clan_trophy {
    position: absolute !important;
    top: calc(100% + 1px);
    right: unset !important;
    left: 0 !important;
    bottom: unset !important;
    width: 64px !important;}
#header .clan_trophy img {
    margin: 0 auto;
    display: block;
    height: 64px !important;
    filter: none !important;
    padding: 10px 0;}
    
/* logo */
#logo {
    height: 64px;
    width: 64px;
    top: 40px;
    left: 0;
    position: absolute;
    z-index: 99;}
#logo a {
    background-color: transparent;
    display: block;
    height: 100%;
    width: 100%;}
#logo:before,
#logo:after {
    content: '';
    width: 128px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 34px;
    z-index: -99;
    pointer-events: none;
    animation: logo_remove .3s linear forwards;
    transform: translateX(-70%);}
#logo:before {
    background: linear-gradient(90deg,var(--c-b1) 60%,var(--c-b00));
    top: 0px;
    height: 34px;}
#logo:after {
    background: linear-gradient(90deg,var(--c-b2) 60%,var(--c-b00));
    top: 34px;
    height: 30px;}
#logo:hover:after,
#logo:hover:before {
    animation: logo_move .3s linear forwards;}
#logo:hover:after {
    animation-delay: .05s;}
#logo a:before {
    content:'';
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background-size: auto 58px;
    background-position: center;}
#logo a:hover:before {
    opacity: 0;}
#logo a:after {
    content: 'GAZELLE GAMES';
    color: var(--c-box);
    font-size: 24px;
    position: absolute;
    width: 128px;
    left: 0;
    z-index: 1;
    opacity: 0;
    text-align: center;
    pointer-events: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    line-height: 32px;
    height: 64px;
    top: 0;}
#logo a:hover:after {
    opacity: 1;}
/* /logo */

}


@media (min-width: 1300px) {
#forums .forum_latest >.search.box.pad table#forumlist {
    white-space: nowrap;}
}