/*** eliminating loading time by embedding SVGs **/

/* this won't do */
/* .forum_post tr.likes >td:first-child a:hover,
.torrent_table #leechers_icon:hover img,
.torrent_table #seeders_icon:hover img {
    -webkit-filter: brightness(0);
    filter: brightness(0);} */

/** lightbox image background **/
/* table.gazelles_art_display .hovereffect:before,
.fancybox-image,
.lightbox img {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon points="8 16 16 16 16 8 8 0 0 0 0 8 8 16" fill="rgb(255,255,255)"/><rect x="8" width="8" height="8" fill="rgb(204,204,204)"/><rect y="8" width="8" height="8" fill="rgb(204,204,204)"/></svg>');}*/

/** bookamrk **/
/*.torrent_table .addbookmark:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 22"><rect x="0.625" y="4.25" width="14.75" height="3" fill="rgb(29,145,0)"/><path d="M0,0V22H1.06067L8,15.06067,14.93933,22H16V0ZM14.5,19.43933l-6.5-6.5-6.5,6.5V1.5h13Z"/></svg>');}
.torrent_table .removebookmark:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 22"><rect y="3.75" width="16" height="4" fill="rgb(163,0,0)"/><polygon points="0 22 1.061 22 8 15.061 14.939 22 16 22 16 7.25 0 7.25 0 22"/><rect width="16" height="4.25"/></svg>');} */