/*** eliminating loading time by embedding SVGs **/

/* this won't do */
a:hover >img[title="Downloaded"],
a:hover >img[title="Uploaded"],
a:hover >img[title="Leechers"],
a:hover >img[title="Seeders"],
.forum_post tr.likes >td:first-child a:hover,
.torrent_table #leechers_icon:hover img,
.torrent_table #seeders_icon:hover img,
a:hover >img[title="Snatches"],
.torrent_table #user_rating_icon:hover img,
.torrent_table .show_torrents_link:hover,
#stats_seeding a:hover,
#stats_leeching a:hover,
#index #freeleech .group_torrent >span:first-child a:hover,
#nav_logout a:hover,
#nav_useredit a:hover,
a[title="Download"]:hover,
a[title="Use a FL Token"]:hover,
a[title="Report"]:hover,
a[title="External Link"]:hover,
a[title="Edit"]:hover,
a[title="Remove"]:hover,
a[title="Permalink"]:hover,
a[title="Original Group"]:hover,
.prev:hover,
.next:hover,
#quickreplypreview .colhead_dark #barpreview >a:nth-child(1):hover,
.forum_post .colhead_dark div[style="float: right;"] >a:nth-child(1):hover,
.forum_post .colhead_dark a[onclick]:hover,
#menu a:hover,
ul:not(.highlighted) li.active a,
#userinfo_minor a:not(.highlight):hover,
#requests table.border a[href^="upload.php"]:hover,
#collections .sidebar .box.box_comment a[href^="reports.php?action=report"]:hover,
.last_read:hover,
.colhead_dark a[onclick^="Quote"]:hover,
.head a[onclick^="Quote"]:hover,
#newthreadpreview .forum_post .colhead_dark #barpreview a:nth-child(1):hover,
.inventory .trash_icon:hover,
#userhistory .colhead_dark a img[alt="Last read post"]:hover {
    -webkit-filter: brightness(0);
    filter: brightness(0);}

/** lightbox image background **/
table.gazelles_art_display .hovereffect:before,
.fancybox-image,
.lightbox img {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon points="8 16 16 16 16 8 8 0 0 0 0 8 8 16" fill="rgb(255,255,255)"/><rect x="8" width="8" height="8" fill="rgb(204,204,204)"/><rect y="8" width="8" height="8" fill="rgb(204,204,204)"/></svg>');}

/** bookamrk **/
.torrent_table .addbookmark:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 22"><rect x="0.625" y="4.25" width="14.75" height="3" fill="rgb(29,145,0)"/><path d="M0,0V22H1.06067L8,15.06067,14.93933,22H16V0ZM14.5,19.43933l-6.5-6.5-6.5,6.5V1.5h13Z"/></svg>');}
.torrent_table .removebookmark:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 22"><rect y="3.75" width="16" height="4" fill="rgb(163,0,0)"/><polygon points="0 22 1.061 22 8 15.061 14.939 22 16 22 16 7.25 0 7.25 0 22"/><rect width="16" height="4.25"/></svg>');}

@media (min-width: 1760px) and (min-height: 659px) {
/* hover */
    #nav_donate a:hover {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 22"><path d="M18.8,0A7.17081,7.17081,0,0,0,13,2.95313,7.19063,7.19063,0,0,0,0,7.2C0,18.08331,13,22,13,22S26,18.08331,26,7.2A7.2,7.2,0,0,0,18.8,0Z" fill="rgb(193,35,35)"/></svg>');}
    .active #inboxlia,
    #inboxlia.highlight {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 28"><path d="M0,0V28H38V0ZM36,2v4.551L19,18.18247,2,6.55094V2ZM24.27173,16.393,33.87866,26H4.12134L13.72827,16.393,19,20ZM2,8.36838l10.46875,7.16285L2,26ZM36,26,25.53125,15.53123,36,8.36838Z" transform="translate(0 0.00002)" fill="rgb(0,0,0)"/></svg>');}
    #userinfo_minor.highlighted:before,
    #userinfo_minor:hover:before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 6"><path d="M3,13a1,1,0,1,1-1,1,1.00113,1.00113,0,0,1,1-1m0-2a3,3,0,1,0,3,3,3,3,0,0,0-3-3Z" transform="translate(0 -11)" fill="rgb(0,0,0)"/><path d="M25,13a1,1,0,1,1-1,1,1.00113,1.00113,0,0,1,1-1m0-2a3,3,0,1,0,3,3,3,3,0,0,0-3-3Z" transform="translate(0 -11)" fill="rgb(0,0,0)"/><path d="M14,13a1,1,0,1,1-1,1,1.00113,1.00113,0,0,1,1-1m0-2a3,3,0,1,0,3,3,3,3,0,0,0-3-3Z" transform="translate(0 -11)" fill="rgb(0,0,0)"/></svg>');}
}