/** COLORS **/
:root {
    --c-selection:                      rgba(163, 100, 65, .996);
    --c-selection-i:                    rgba(163, 100, 65, .75);
    --c-blackout-a:                     rgb(255, 210, 186);
    --c-unread-s:                       #6E432C;
    --c-unread-br:                      #4F3122;
    --c-fbb-c:                          #B87049;
    --c-b1: 							#6E432C;
    --c-b2: 							#704538;    
    --c-b3: 							#4F3122;
    --c-b4: 							#503329;    
    --c-sb1:                            #41291D;
    --c-sb2:                            #422A23;
    --c-bg:                             #AB6945;  
    --c-anchor: 						#E88E5D;
    --c-anchor-hvr-bcg: 				#322219;
    --c-anchor-hvr-bcg-obj:             #322219;
    --c-img-bcg-anchor: 				rgb(11,26,25);
    --c-on: 							rgb(36, 181, 0);
    --c-bonus:                          rgba(177, 232, 0, .2);
    --c-donate:                         rgb(255, 77, 77);
    --c-yellow: 						rgb(209, 209, 0);
    --c-off: 							rgb(255, 20, 20);
    --c-em-bcg: 						#942D1E;
    --c-em-hvr: 						#F54B31;
    --c-em-act: 						#7A1B0C;
    --c-fl: 							rgb(154, 99, 255);
    --c-btn-b1: 						#5E3A27;
    --c-btn-b2: 						#603C31;
    --c-red:                            rgb(255, 10, 10);
    --c-green:                          rgb(0, 180, 0);
    --c-blue:                           rgb(99, 99, 255);
    --c-o-gold:                         rgb(245, 208, 0);
    --c-gold:                           rgb(255, 215, 0);
    --c-orange:                         rgb(255, 165, 0);
    --p-orange:                         unset;
    --p-gold:                           unset;
    --c-leech:                          rgb(194, 162, 0);
    --c-seed:                           rgb(38, 191, 0);
    --c-upload:                         rgb(105, 181, 133);
    --c-snatch:                         rgb(255, 40, 0);
    --c-download:                       rgb(255, 100, 0);
    
    --c-r01:                            rgb(255,    0,      0);
    --c-r02:                            rgb(255,    30,     0);
    --c-r03:                            rgb(255,    60,     0);
    --c-r04:                            rgb(235,    94,     0);
    --c-r05:                            rgb(212,    120,    0);
    --c-r06:                            rgb(181,    139,    0);
    --c-r07:                            rgb(156,    156,    0);
    --c-r08:                            rgb(149,    166,    0);
    --c-r09:                            rgb(141,    176,    0);
    --c-r10:                            rgb(38,     191,    0);
    --c-r99:                            rgba(38,    191,    0,      .5);
/*shop*/
    --c-type-0:                         rgba(116,   56,     66,     .23);
    --c-type-1:                         rgba(58,    77,     115,    .23);
    --c-type-2:                         rgba(70,    114,    59,     .23);
    --c-type-3:                         rgba(115,   118,    0,      .23);
    --c-type-4:                         rgba(84,    84,     84,     .23);
    --c-type-5:                         rgba(0,     92,     119,    .23);
}
/** /COLORS **/

#logo a {
    background-image: url('icons/a5a5a5_brandy/logo.svg');}