:root {
    --c-selection:                      rgba(230, 31, 0, .996);
    --c-selection-i:                    rgba(230, 31, 0, .75);
    --c-blackout-a:                     #FFD1C9;
    --c-unread-s:                       #A81600;
    --c-unread-br:                      #751204;
    --c-fbb-c:                          #D9513C;
    --c-lb1: 							#C21A00;
    --c-lb2: 							#C2212E;
    --c-b1: 							#A81600; /* scarlET */
    --c-b2: 							#A81D28; /* ALIZARin crimson */
    --c-b3: 							#751204;
    --c-b4: 							#75171E;    
    --c-sb1:                            #601105;
    --c-sb2:                            #60141A;
    --c-bg:                             #D44B36;    
    --c-anchor: 						#FF7F6B;
    --c-anchor-hvr-bcg: 				#37221F;
    --c-anchor-hvr-bcg-obj:             #37221F;
    --c-on: 							rgb(36, 181, 0);
    --c-bonus:                          rgba(177, 232, 0, .2);
    --c-donate:                         rgb(255, 77, 77);
    --c-yellow: 						rgb(209, 209, 0);
    --c-off: 							rgb(255, 20, 20);
    --c-em-bcg: 						#612A94;
    --c-em-hvr: 						#A442FF;
    --c-em-act: 						#562683;
    --c-fl: 							rgb(154, 99, 255);
    --c-btn-b1: 						#8F1402;
    --c-btn-b2: 						#8F1A24;
    --c-red:                            rgb(255, 10, 10);
    --c-green:                          rgb(0, 180, 0);
    --c-blue:                           rgb(99, 99, 255);
    --c-o-gold:                         rgb(245, 208, 0);
    --c-gold:                           rgb(255, 215, 0);
    --c-orange:                         rgb(255, 165, 0);
    --p-orange:                         unset;
    --p-gold:                           unset;
    --c-leech:                          rgb(194, 162, 0);
    --c-seed:                           rgb(38, 191, 0);
    --c-upload:                         rgb(105, 181, 133);
    --c-snatch:                         rgb(255, 40, 0);
    --c-download:                       rgb(255, 100, 0);
    
    --c-r01:                            rgb(255,    0,      0);
    --c-r02:                            rgb(255,    30,     0);
    --c-r03:                            rgb(255,    60,     0);
    --c-r04:                            rgb(235,    94,     0);
    --c-r05:                            rgb(212,    120,    0);
    --c-r06:                            rgb(181,    139,    0);
    --c-r07:                            rgb(156,    156,    0);
    --c-r08:                            rgb(149,    166,    0);
    --c-r09:                            rgb(141,    176,    0);
    --c-r10:                            rgb(38,     191,    0);
    --c-r99:                            rgba(38,    191,    0,      .5);
/*shop*/
    --c-type-0:                         rgba(116,   56,     66,     .23);
    --c-type-1:                         rgba(58,    77,     115,    .23);
    --c-type-2:                         rgba(70,    114,    59,     .23);
    --c-type-3:                         rgba(115,   118,    0,      .23);
    --c-type-4:                         rgba(84,    84,     84,     .23);
    --c-type-5:                         rgba(0,     92,     119,    .23);
}