:root {
    --c-selection:                      rgba(232, 31, 0, .996);
    --c-selection-i:                    rgba(232, 31, 0, .75);
    --c-blackout-a:                     #FFC6BD;
    --c-unread-s:                       #FF8E7D;
    --c-unread-br:                      #FAC6BE;
    --c-fbb-c:                          #FFE0DB;
    --c-lb1: 							#E68070;
    --c-lb2: 							#E67781;
    --c-b1: 							#FF8E7D;
    --c-b2: 							#FF858F;
    --c-b3: 							#FAC6BE;
    --c-b4: 							#FAC2C7;
    --c-sb1:                            #F8D9D4;
    --c-sb2:                            #F8D6D9;
    --c-bg:                             #EA553F;  
    --c-anchor: 						#D41C00;
    --c-anchor-hvr-bcg: 				#F7E2DF;
    --c-anchor-hvr-bcg-obj:             #F7E2DF;
    --c-on: 							rgb(26, 130, 0);
    --c-bonus:                          rgba(177, 232, 0, .2);
    --c-donate:                         rgb(203, 60, 60);
    --c-yellow: 						rgb(145, 145, 0);
    --c-off: 							rgb(163, 0, 0);
    --c-em-bcg: 						#AA4FFF;
    --c-em-hvr: 						#8E14FF;
    --c-em-act: 						#C98FFF;
    --c-fl: 							rgb(100, 65, 165);
    --c-btn-b1: 						#FBBCB2;
    --c-btn-b2: 						#FBB7BC;
    --c-red:                            rgb(227, 0, 0);
    --c-green:                          rgb(0, 97, 0);
    --c-blue:                           rgb(33, 33, 217);
    --c-o-gold:                         rgb(255, 215, 0);
    --c-gold:                           rgb(133, 112, 0);
    --c-orange:                         rgb(156, 101, 0);
    --p-orange:                         0 0 1px rgb(255, 165, 0);
    --p-gold:                           0 0 1px rgb(255, 215, 0);
    --c-leech:                          rgb(163, 135, 0);
    --c-seed:                           rgb(32, 161, 0);
    --c-upload:                         rgb(89, 153, 112);
    --c-snatch:                         rgb(204, 35, 0);
    --c-download:                       rgb(230, 71, 0);
    
    --c-r01:                            rgb(227,    0,      0);
    --c-r02:                            rgb(213,    24,     0);
    --c-r03:                            rgb(200,    48,     0);
    --c-r04:                            rgb(186,    73,     0);
    --c-r05:                            rgb(172,    97,     0);
    --c-r06:                            rgb(159,    121,    0);
    --c-r07:                            rgb(145,    145,    0);
    --c-r08:                            rgb(131,    145,    0);
    --c-r09:                            rgb(116,    145,    0);
    --c-r10:                            rgb(29,     145,    0);
    --c-r99:                            rgba(29,    145,    0,      .5);
/*shop*/
    --c-type-0:                         rgba(116,   56,     66,     .17);
    --c-type-1:                         rgba(58,    77,     115,    .17);
    --c-type-2:                         rgba(70,    114,    59,     .17);
    --c-type-3:                         rgba(115,   118,    0,      .17);
    --c-type-4:                         rgba(84,    84,     84,     .17);
    --c-type-5:                         rgba(0,     92,     119,    .17);
}