:root {
    color-scheme: light;
    --c-selection:                      rgba(107, 120, 128, .996);
    --c-selection-i:                    rgba(107, 120, 128, .75);
    --c-blackout:                       rgb(0, 0, 0);
    --c-blackout-a:                     #94A6B1;
    --c-blackout-show:                  rgb(255, 255, 255);
    --c-post-img:                       rgb(200, 200, 200);
    --p-description:                    unset;
    --c-description:                    rgb(250, 250, 250);
    --c-low:                            rgb(0, 0, 0);
    --c-quote-brdr:                     rgba(170, 170, 170, .8);
    --c-quote:                          rgb(240, 240, 240);
    --c-unread-s:                       #7C8B94;
    --c-unread-i: 						rgb(0, 0, 0);
    --c-unread-br:                      #94A6B1;
    --c-txt: 							rgb(0, 0, 0);
    --c-text-s: 						rgb(50, 50, 50);
    --c-fbb-bcg:                        rgb(80, 80, 80);
    --c-fbb-c:                          #D2EBFA;
    --c-curtain:						rgb(110, 110, 110);
    --c-sticky-id-brdr:                 rgb(195, 195, 195);
    --c-input-brdr:						rgb(200, 200, 200);
    --c-main-brdr:						rgb(205, 205, 205);
    --c-sticky-2:                       rgb(210, 210, 210);
    --c-table-brdr: 					rgb(215, 215, 215);
    --c-tor-rowb: 						rgb(220, 220, 220);
    --c-body: 							rgb(225, 225, 225);
    --c-tor-row-hvr: 					rgb(230, 230, 230);
    --c-input-focus: 				    rgb(235, 235, 235);
    --c-edition: 						rgb(235, 235, 235);
    --c-input:							rgb(240, 240, 240);
    --c-input-obj:						rgb(240, 240, 240);
    --c-trowb:							rgb(242, 242, 242);
    --c-tgroup:							rgb(245, 245, 245);                     
    --c-box: 							rgb(250, 250, 250);
    --c-item-desc:                      rgba(250, 250, 250, .8);
    --c-row-hvr:						rgb(255, 255, 255);
    --c-high:							rgb(255, 255, 255);
    --c-high-t:							rgb(255, 255, 255);
    --c-tag:							rgb(233, 233, 233);
    --c-tag-2:                          rgb(255, 255, 255);
    --c-lb1: 							#74818A;
    --c-lb2: 							#6B818C;
    --c-b1: 							#7C8B94;
    --c-b2: 							#728A96;
    --c-b3: 							#94A6B1;
    --c-b4: 							#88A4B3;
    --c-sb1:                            #9AACB8;
    --c-sb2:                            #8DABBA;
    --c-bg:                             #ed5166;    
    --c-hovereffect: 					rgba(255, 255, 255, .8);
    --c-b00: 							rgba(255, 255, 255, 0);
    --c-anchor: 						#255c7c;
    --c-anchor-hvr: 					#C44356;
    --c-anchor-hvr-bcg: 				unset;
    --c-anchor-hvr-bcg-obj:             #D7E1E7;
	--c-header-shdw: 					rgba(153, 153, 153,.3);
    --c-main-shdw:						rgba(153, 153, 153,.5);
    --c-img-bcg-anchor: 				#F5EEEF;
    --c-on: 							rgb(26, 130, 0);
    --c-bonus:                          rgba(177, 232, 0, .2);
    --c-donate:                         rgb(203, 60, 60);
    --c-yellow: 						rgb(145, 145, 0);
    --c-off: 							rgb(163, 0, 0);
    --c-colhead-click:					rgba(255, 255, 255, .15);
    --c-colhead-act: 					rgba(255, 255, 255, .3);
    --c-bcg1:                           #f0f0f0;
    --c-bcg2:                           #e9e9e9;
    --c-em-bcg: 						rgb(245, 44, 22);
    --c-em-hvr: 						rgb(199, 36, 18);
    --c-em-act: 						rgb(245, 139, 127);
    --c-fl: 							rgb(100, 65, 165);
    --c-btn-b1: 						#A1B4BF;
    --c-btn-b2: 						#93B2C2;
    --c-red:                            rgb(227, 0, 0);
    --c-green:                          rgb(0, 97, 0);
    --c-blue:                           rgb(33, 33, 217);
    --c-o-gold:                         rgb(255, 215, 0);
    --c-gold:                           rgb(133, 112, 0);
    --c-orange:                         rgb(156, 101, 0);
    --p-orange:                         0 0 1px rgb(255, 165, 0);
    --p-gold:                           0 0 1px rgb(255, 215, 0);
    --c-leech:                          rgb(163, 135, 0);
    --c-seed:                           rgb(32, 161, 0);
    --c-upload:                         rgb(89, 153, 112);
    --c-snatch:                         rgb(204, 35, 0);
    --c-download:                       rgb(230, 71, 0);
    
    --c-r01:                            rgb(227,    0,      0);
    --c-r02:                            rgb(213,    24,     0);
    --c-r03:                            rgb(200,    48,     0);
    --c-r04:                            rgb(186,    73,     0);
    --c-r05:                            rgb(172,    97,     0);
    --c-r06:                            rgb(159,    121,    0);
    --c-r07:                            rgb(145,    145,    0);
    --c-r08:                            rgb(131,    145,    0);
    --c-r09:                            rgb(116,    145,    0);
    --c-r10:                            rgb(29,     145,    0);
    --c-r99:                            rgba(29,    145,    0,      .5);
/*shop*/
    --c-type-0:                         rgba(116,   56,     66,     .17);
    --c-type-1:                         rgba(58,    77,     115,    .17);
    --c-type-2:                         rgba(70,    114,    59,     .17);
    --c-type-3:                         rgba(115,   118,    0,      .17);
    --c-type-4:                         rgba(84,    84,     84,     .17);
    --c-type-5:                         rgba(0,     92,     119,    .17);
/*hljs*/
    --c-hljs-bcg:                       #fff;
    --c-hljs-txt:                       #000;
    --c-hljs-meta:                      #c0c0c0;
    --c-hljs-comment:                   #007400;
    --c-hljs-tag:                       #aa0d91;
    --c-hljs-variable:                  #3F6E74;
    --c-hljs-code:                      #c41a16;
    --c-hljs-regexp:                    #0E0EFF;
    --c-hljs-title:                     #1c00cf;
    --c-hljs-section:                   #643820;
    --c-hljs-type:                      #5c2699;
    --c-hljs-attr:                      #836C28;
    --c-hljs-formula:                   #eee;
    --c-hljs-selector-id:               #9b703f;
    --s-thumbsup:                       url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='25' x2='25' y2='50' gradientTransform='matrix(1, 0, 0, -1, 0, 50)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235b8221'/%3E%3Cstop offset='1' stop-color='%237fb52d'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='25' y1='2' x2='25' y2='48' gradientTransform='matrix(1, 0, 0, -1, 0, 50)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2362991e'/%3E%3Cstop offset='1' stop-color='%2397cb3a'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0Z' fill='url(%23a)'/%3E%3Cpath d='M25,5.875A19.125,19.125,0,1,0,44.125,25,19.125,19.125,0,0,0,25,5.875Z' fill='%23f5f5f5'/%3E%3Cpath d='M25,2A23,23,0,1,0,48,25,23,23,0,0,0,25,2ZM18.77083,37.26667a3.62547,3.62547,0,0,1-3.27231-3.94714q.0059-.063.014-.12578a2.83052,2.83052,0,0,1-1.10208-4.12083,2.25453,2.25453,0,0,1-.23959-3.7375c-2.20416-1.24584-2.06041-5.27084,2.34792-4.36042,0,0,5.31875.52708,5.55833-1.67708C22.31667,16.42292,19.25,16.80625,19.25,12.35s2.06042-3.78542,2.73125-2.20417-.09583.76667,3.30625,4.74375,5.03125,2.68334,8.14583,8.625c.2875,4.64792-1.51414,8.88209-3.21041,12.31459C28.25833,36.69167,20.4,37.45833,18.77083,37.26667Zm16.61113.7347A11.58481,11.58481,0,0,1,31.293,36.5a28.74349,28.74349,0,0,0,3.64167-12.80971s3.09862-.38333,4.85558.575A20.404,20.404,0,0,1,35.382,38.00137Z' fill='url(%23b)'/%3E%3C/svg%3E");
    --s-thumbsdown:                     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='25' x2='25' y2='50' gradientTransform='matrix(1, 0, 0, -1, 0, 50)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23992628'/%3E%3Cstop offset='1' stop-color='%23cc3336'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='25' y1='2' x2='25' y2='48' gradientTransform='matrix(1, 0, 0, -1, 0, 50)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b32d2f'/%3E%3Cstop offset='1' stop-color='%23e6393c'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0Z' fill='url(%23a)'/%3E%3Cpath d='M25,5.875A19.125,19.125,0,1,0,44.125,25,19.125,19.125,0,0,0,25,5.875Z' fill='%23f5f5f5'/%3E%3Cpath d='M25,2A23,23,0,1,0,48,25,23,23,0,0,0,25,2Zm8.87719,25.2162c-3.27851,6.25438-4.99342,4.89254-8.57456,9.07894s-2.77412,3.32895-3.48026,4.99342-2.875,2.37062-2.875-2.32017,3.22807-4.28728,2.97588-7.3136c-.2522-2.32017-5.85088-1.76535-5.85088-1.76535-4.64035.95833-4.79167-3.27851-2.47149-4.58991a2.37319,2.37319,0,0,1,.25219-3.93421,2.97948,2.97948,0,0,1,1.16009-4.33772A3.81627,3.81627,0,0,1,18.31059,12.755q.06607-.00851.13241-.01471c1.71491-.20176,9.98684.60526,12.05483,1.51316C32.28335,17.86663,34.17982,22.32365,33.87719,27.2162Zm6.69154-.79018c-1.84943,1.00878-5.11114.60527-5.11114.60527a30.25629,30.25629,0,0,0-3.83334-13.48395,12.19561,12.19561,0,0,1,4.30413-1.5804A21.478,21.478,0,0,1,40.56873,26.426Z' fill='url(%23b)'/%3E%3C/svg%3E");
    --s-select:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 11.41421'%3E%3Cpolygon points='18.586 0 10 8.586 1.414 0 0 1.414 10 11.414 20 1.414 18.586 0' fill='%23646464'/%3E%3C/svg%3E");
    --s-number:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 18'%3E%3Cpolygon points='11.152 11.152 6 16.303 0.848 11.152 0 12 6 18 12 12 11.152 11.152' fill='%23646464'/%3E%3Cpolygon points='11.152 6.848 6 1.697 0.848 6.848 0 6 6 0 12 6 11.152 6.848' fill='%23646464'/%3E%3C/svg%3E");
    --s-gold-plus:                      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle cx='24' cy='23.9996' r='8' fill='%231d9100'/%3E%3Ccircle cx='24' cy='23.9996' r='6.5' fill='%233faf2a'/%3E%3Cpolygon points='28.5 23 25 23 25 19.5 23 19.5 23 23 19.5 23 19.5 25 23 25 23 28.5 25 28.5 25 25 28.5 25 28.5 23' fill='%23f5f5f5'/%3E%3C/svg%3E");
    --s-gold-minus:                     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle cx='24' cy='23.9996' r='8' fill='%23e30000'/%3E%3Ccircle cx='24' cy='23.9996' r='6.5' fill='%23fa0000'/%3E%3Crect x='19.5' y='22.9996' width='9' height='2' fill='%23f5f5f5'/%3E%3C/svg%3E");
    --s-banned:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Ccircle cx='9' cy='9' r='9' fill='%23e30000'/%3E%3Ccircle cx='9' cy='9' r='8' fill='%23fa0000'/%3E%3Cpolygon points='13.95 5.464 12.536 4.05 9 7.586 5.464 4.05 4.05 5.464 7.586 9 4.05 12.536 5.464 13.95 9 10.414 12.536 13.95 13.95 12.536 10.414 9 13.95 5.464' fill='%23f5f5f5'/%3E%3C/svg%3E");
    --s-warned:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 15.58846'%3E%3Cdefs%3E%3Cstyle%3E.b%7Bfill:%23f5f5f5;%7D.c%7Bfill:%23a16d2a;%7D.d%7Bfill:%23b38f00;%7D%3C/style%3E%3C/defs%3E%3Cpath class='c' d='M9,0L0,15.58846H18L9,0Z'/%3E%3Cpolygon class='d' points='9 2 1.732 14.588 16.268 14.588 9 2'/%3E%3Cpath class='b' d='M8.05977,12.67508c-.01837-.25125,.06931-.49871,.24177-.68234,.19538-.16607,.44804-.249,.70383-.231,.25239-.01598,.50077,.06907,.6904,.2364,.32698,.38941,.32584,.95776-.00269,1.34586-.18668,.17124-.43483,.25945-.68771,.24446-.25533,.01621-.50662-.06981-.69845-.23909-.17295-.18038-.26257-.42487-.24715-.67429Zm1.60645-1.83748h-1.31095l-.52397-5.24916h2.359l-.52408,5.24916Z'/%3E%3C/svg%3E");
    --s-rss:                            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='46.26006' y1='46.26006' x2='465.73994' y2='465.73994' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e3702d'/%3E%3Cstop offset='0.5' stop-color='%23fa9d39'/%3E%3Cstop offset='1' stop-color='%23e3702d'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M421.65625,0H90.34375A90.446,90.446,0,0,0,0,90.34375v331.3125A90.446,90.446,0,0,0,90.34375,512h331.3125A90.446,90.446,0,0,0,512,421.65625V90.34375A90.446,90.446,0,0,0,421.65625,0Z' fill='%23cc6529'/%3E%3Crect x='28' y='28' width='456' height='456' rx='62.34375' ry='62.34375' fill='url(%23a)'/%3E%3Cpath d='M81.05643,267.04959a162.00674,162.00674,0,0,1,115.66406,48.124,163.88531,163.88531,0,0,1,47.96156,116.44071h67.34951c0-127.88568-103.619-231.92124-230.97515-231.92124v67.35657Zm.106-119.39905c155.7603,0,282.48805,127.41971,282.48805,284.04843H431C431,237.92528,274.05353,80.301,81.1624,80.301Zm93.1342,236.99771a46.6483,46.6483,0,1,1-46.65536-46.64834,46.65687,46.65687,0,0,1,46.65536,46.64834Z' fill='%23f5f5f5'/%3E%3C/svg%3E");
    --s-transparent:                    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolygon points='8 16 16 16 16 8 8 0 0 0 0 8 8 16' fill='%23fff'/%3E%3Crect x='8' width='8' height='8' fill='%23ccc'/%3E%3Crect y='8' width='8' height='8' fill='%23ccc'/%3E%3C/svg%3E");
    --s-transparent50:                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolygon points='8 8 8 0 0 0 0 8 8 8' fill='%23fff' opacity='0.5'/%3E%3Crect x='8' width='8' height='8' fill='%23ccc' opacity='0.5'/%3E%3Crect y='8' width='8' height='8' fill='%23ccc' opacity='0.5'/%3E%3Cpolygon points='16 16 16 8 8 8 8 16 16 16' fill='%23fff' opacity='0.5'/%3E%3C/svg%3E");
    --s-scroll-totop:                   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 11.414'%3E%3Cpolygon points='1.414 11.414 10 2.828 18.586 11.414 20 10 10 0 0 10 1.414 11.414' fill='%23646464'/%3E%3C/svg%3E");
    --s-scroll-tobot:                   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 11.414'%3E%3Cpolygon points='18.586 0 10 8.586 1.414 0 0 1.414 10 11.414 20 1.414 18.586 0' fill='%23646464'/%3E%3C/svg%3E");
    --s-scroll-toleft:                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.414 20'%3E%3Cpolygon points='11.414 18.586 2.828 10 11.414 1.414 10 0 0 10 10 20 11.414 18.586' fill='%23646464'/%3E%3C/svg%3E");
    --s-scroll-toright:                 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.414 20'%3E%3Cpolygon points='0 1.414 8.586 10 0 18.586 1.414 20 11.414 10 1.414 0 0 1.414' fill='%23646464'/%3E%3C/svg%3E");
    --s-scroll-resizer:                 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpolygon points='10.111 14 11.879 14 14 11.879 14 10.111 10.111 14' fill='%23646464'/%3E%3Cpolygon points='6.111 14 7.879 14 14 7.879 14 6.111 6.111 14' fill='%23646464'/%3E%3C/svg%3E");
}

a:has(>.tilt):hover,
a:has(>#linkedgroup):hover,
#torrents .body.center.userratingdiv .vote:hover,
.box .ratings:hover {
    transform: scale(1.07142);
    filter: drop-shadow(0px 0 3px var(--c-anchor-hvr));}