:root {
    --c-selection:                      rgba(69, 120, 168, .996);
    --c-selection-i:                    rgba(69, 120, 168, .75);
    --c-blackout:                       rgb(0, 0, 0);
    --c-blackout-a:                     #C6E6F6;
    --c-blackout-show:                  rgb(255, 255, 255);
    --c-post-img:                       rgb(0, 0, 0);
    --p-description:                    unset;
    --c-description:                    #fff;
    --c-low:                            rgb(255, 255, 255);
    --c-quote-brdr:                     #2B4E66;
    --c-quote:                          #2B4E66;
    --c-unread-s:                       #488271;
    --c-unread-i:                       #FFF;
    --c-unread-br:                      #50916f;
    --c-txt: 							#FFF;
    --c-text-s: 						#b5b4c2;
    --c-fbb-bcg:                        rgb(15, 15, 15);
    --c-fbb-c:                          #6BB8FF;
    --c-curtain:						rgb(45, 45, 45);
    --c-sticky-id-brdr:                 #375778;
    --c-input-brdr:						#355473;
    --c-main-brdr:						#32506E;
    --c-sticky-2:                       #304C69;
    --c-table-brdr: 					#2E4963;
    --c-tor-rowb: 						#2B455E;
    --c-body: 							#294159;
    --c-tor-row-hvr: 					#273D54;
    --c-input-focus: 					#243A4F;
    --c-edition: 						#243A4F;
    --c-input:							#22364A;
    --c-input-obj:						#22364A;
    --c-trowb:							#213447;
    --c-tgroup:							#203245;                     
    --c-box: 							#1d2e3f;
    --c-item-desc:                      rgba(29, 46, 63, .8);
    --c-row-hvr:						#1B2B3B;
    --c-high:							#192736;
    --c-high-t:							#000;
    --c-tag:							rgba(0, 0, 0, .10);
    --c-tag-2:                          rgba(0, 0, 0, .16);
    --c-lb1: 							#4B83B8;
    --c-lb2: 							#4E8FBA;
    --c-b1: 							#41719E;
    --c-b2: 							#437BA1;    
    --c-b3: 							#315678;
    --c-b4: 							#335E7A;    
    --c-sb1:                            #2B4B69;
    --c-sb2:                            #2D526B;
    --c-bg:                             #D9E473;    
    --c-hovereffect: 					rgba(0, 0, 0, .8);
    --c-b00: 							rgba(0, 0, 0, 0);
    --c-anchor: 						#C6E6F6;
    --c-anchor-hvr: 					#FFF;
    --c-anchor-hvr-bcg: 				unset;
    --c-anchor-hvr-bcg-obj:             #243A50;
	--c-header-shdw: 					rgba(0,0,0,.3);
    --c-main-shdw:						rgba(0,0,0,.5);
    --c-img-bcg-anchor: 				#203448;
    --c-on: 							#69C077;
    --c-bonus:                          rgba(177, 232, 0, .2);
    --c-donate:                         rgb(255, 77, 77);
    --c-yellow: 						rgb(209, 209, 0);
    --c-off: 							#BF6A6A;
    --c-colhead-click:					rgba(0, 0, 0, .15);
    --c-colhead-act: 					rgba(0, 0, 0, .3);
    --c-bcg1:                           #22364A;
    --c-bcg2:                           #273D54;
    --c-em-bcg: 						rgb(140, 25, 13);
    --c-em-hvr: 						rgb(230, 42, 21);
    --c-em-act: 						rgb(115, 36, 28);
    --c-fl: 							#69C077;
    --c-btn-b1: 						#39648B;
    --c-btn-b2: 						#3B6D8E;
    --c-red:                            #DD3434;
    --c-green:                          rgb(0, 214, 0);
    --c-blue:                           rgb(99, 99, 255);
    --c-o-gold:                         rgb(245, 208, 0);
    --c-gold:                           rgb(255, 215, 0);
    --c-orange:                         rgb(255, 165, 0);
    --p-orange:                         unset;
    --p-gold:                           unset;
    --c-leech:                          #69c077;
    --c-seed:                           #d9e473;
    --c-upload:                         #ae83cc;
    --c-snatch:                         #bf6a6a;
    --c-download:                       #bf6a6a;
    
    --c-r01:                            #BF6A6A;
    --c-r02:                            #BF6A6A;
    --c-r03:                            #BF6A6A;
    --c-r04:                            #D9E473;
    --c-r05:                            #D9E473;
    --c-r06:                            #D9E473;
    --c-r07:                            #D9E473;
    --c-r08:                            #D9E473;
    --c-r09:                            #69C077;
    --c-r10:                            #69C077;
    --c-r99:                            #69C077;
/*shop*/
    --c-type-0:                         rgba(116,   56,     66,     .23);
    --c-type-1:                         rgba(58,    77,     115,    .23);
    --c-type-2:                         rgba(70,    114,    59,     .23);
    --c-type-3:                         rgba(115,   118,    0,      .23);
    --c-type-4:                         rgba(84,    84,     84,     .23);
    --c-type-5:                         rgba(0,     92,     119,    .23);
/*hljs*/
    --c-hljs-bcg:                       #fff;
    --c-hljs-txt:                       #000;
    --c-hljs-meta:                      #c0c0c0;
    --c-hljs-comment:                   #007400;
    --c-hljs-tag:                       #aa0d91;
    --c-hljs-variable:                  #3F6E74;
    --c-hljs-code:                      #c41a16;
    --c-hljs-regexp:                    #0E0EFF;
    --c-hljs-title:                     #1c00cf;
    --c-hljs-section:                   #643820;
    --c-hljs-type:                      #5c2699;
    --c-hljs-attr:                      #836C28;
    --c-hljs-formula:                   #eee;
    --c-hljs-selector-id:               #9b703f;
    --s-thumbsup:                       url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='25' x2='25' y2='50' gradientTransform='matrix(1, 0, 0, -1, 0, 50)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235b8221'/%3E%3Cstop offset='1' stop-color='%237fb52d'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='25' y1='2' x2='25' y2='48' gradientTransform='matrix(1, 0, 0, -1, 0, 50)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2362991e'/%3E%3Cstop offset='1' stop-color='%2397cb3a'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0Z' fill='url(%23a)'/%3E%3Cpath d='M25,5.875A19.125,19.125,0,1,0,44.125,25,19.125,19.125,0,0,0,25,5.875Z' fill='%23fff'/%3E%3Cpath d='M25,2A23,23,0,1,0,48,25,23,23,0,0,0,25,2ZM18.77083,37.26667a3.62547,3.62547,0,0,1-3.27231-3.94714q.0059-.063.014-.12578a2.83052,2.83052,0,0,1-1.10208-4.12083,2.25453,2.25453,0,0,1-.23959-3.7375c-2.20416-1.24584-2.06041-5.27084,2.34792-4.36042,0,0,5.31875.52708,5.55833-1.67708C22.31667,16.42292,19.25,16.80625,19.25,12.35s2.06042-3.78542,2.73125-2.20417-.09583.76667,3.30625,4.74375,5.03125,2.68334,8.14583,8.625c.2875,4.64792-1.51414,8.88209-3.21041,12.31459C28.25833,36.69167,20.4,37.45833,18.77083,37.26667Zm16.61113.7347A11.58481,11.58481,0,0,1,31.293,36.5a28.74349,28.74349,0,0,0,3.64167-12.80971s3.09862-.38333,4.85558.575A20.404,20.404,0,0,1,35.382,38.00137Z' fill='url(%23b)'/%3E%3C/svg%3E");
    --s-thumbsdown:                     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='25' x2='25' y2='50' gradientTransform='matrix(1, 0, 0, -1, 0, 50)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23992628'/%3E%3Cstop offset='1' stop-color='%23cc3336'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='25' y1='2' x2='25' y2='48' gradientTransform='matrix(1, 0, 0, -1, 0, 50)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b32d2f'/%3E%3Cstop offset='1' stop-color='%23e6393c'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0Z' fill='url(%23a)'/%3E%3Cpath d='M25,5.875A19.125,19.125,0,1,0,44.125,25,19.125,19.125,0,0,0,25,5.875Z' fill='%23fff'/%3E%3Cpath d='M25,2A23,23,0,1,0,48,25,23,23,0,0,0,25,2Zm8.87719,25.2162c-3.27851,6.25438-4.99342,4.89254-8.57456,9.07894s-2.77412,3.32895-3.48026,4.99342-2.875,2.37062-2.875-2.32017,3.22807-4.28728,2.97588-7.3136c-.2522-2.32017-5.85088-1.76535-5.85088-1.76535-4.64035.95833-4.79167-3.27851-2.47149-4.58991a2.37319,2.37319,0,0,1,.25219-3.93421,2.97948,2.97948,0,0,1,1.16009-4.33772A3.81627,3.81627,0,0,1,18.31059,12.755q.06607-.00851.13241-.01471c1.71491-.20176,9.98684.60526,12.05483,1.51316C32.28335,17.86663,34.17982,22.32365,33.87719,27.2162Zm6.69154-.79018c-1.84943,1.00878-5.11114.60527-5.11114.60527a30.25629,30.25629,0,0,0-3.83334-13.48395,12.19561,12.19561,0,0,1,4.30413-1.5804A21.478,21.478,0,0,1,40.56873,26.426Z' fill='url(%23b)'/%3E%3C/svg%3E");
    --s-select:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 11.41421'%3E%3Cpolygon points='18.586 0 10 8.586 1.414 0 0 1.414 10 11.414 20 1.414 18.586 0' fill='%23b5b4c2'/%3E%3C/svg%3E");
    --s-number:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 18'%3E%3Cpolygon points='11.152 11.152 6 16.303 0.848 11.152 0 12 6 18 12 12 11.152 11.152' fill='%23b5b4c2'/%3E%3Cpolygon points='11.152 6.848 6 1.697 0.848 6.848 0 6 6 0 12 6 11.152 6.848' fill='%23b5b4c2'/%3E%3C/svg%3E");
    --s-gold-plus:                      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle cx='24' cy='23.9996' r='8' fill='%231d9100'/%3E%3Ccircle cx='24' cy='23.9996' r='6.5' fill='%233faf2a'/%3E%3Cpolygon points='28.5 23 25 23 25 19.5 23 19.5 23 23 19.5 23 19.5 25 23 25 23 28.5 25 28.5 25 25 28.5 25 28.5 23' fill='%23fff'/%3E%3C/svg%3E");
    --s-gold-minus:                     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle cx='24' cy='23.9996' r='8' fill='%23e30000'/%3E%3Ccircle cx='24' cy='23.9996' r='6.5' fill='%23fa0000'/%3E%3Crect x='19.5' y='22.9996' width='9' height='2' fill='%23fff'/%3E%3C/svg%3E");
    --s-banned:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Ccircle cx='9' cy='9' r='9' fill='%23e30000'/%3E%3Ccircle cx='9' cy='9' r='8' fill='%23fa0000'/%3E%3Cpolygon points='13.95 5.464 12.536 4.05 9 7.586 5.464 4.05 4.05 5.464 7.586 9 4.05 12.536 5.464 13.95 9 10.414 12.536 13.95 13.95 12.536 10.414 9 13.95 5.464' fill='%23fff'/%3E%3C/svg%3E");
    --s-warned:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 15.58846'%3E%3Cdefs%3E%3Cstyle%3E.b%7Bfill:%23fff;%7D.c%7Bfill:%23a16d2a;%7D.d%7Bfill:%23b38f00;%7D%3C/style%3E%3C/defs%3E%3Cpath class='c' d='M9,0L0,15.58846H18L9,0Z'/%3E%3Cpolygon class='d' points='9 2 1.732 14.588 16.268 14.588 9 2'/%3E%3Cpath class='b' d='M8.05977,12.67508c-.01837-.25125,.06931-.49871,.24177-.68234,.19538-.16607,.44804-.249,.70383-.231,.25239-.01598,.50077,.06907,.6904,.2364,.32698,.38941,.32584,.95776-.00269,1.34586-.18668,.17124-.43483,.25945-.68771,.24446-.25533,.01621-.50662-.06981-.69845-.23909-.17295-.18038-.26257-.42487-.24715-.67429Zm1.60645-1.83748h-1.31095l-.52397-5.24916h2.359l-.52408,5.24916Z'/%3E%3C/svg%3E");
    --s-rss:                            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='46.26006' y1='46.26006' x2='465.73994' y2='465.73994' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e3702d'/%3E%3Cstop offset='0.5' stop-color='%23fa9d39'/%3E%3Cstop offset='1' stop-color='%23e3702d'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M421.65625,0H90.34375A90.446,90.446,0,0,0,0,90.34375v331.3125A90.446,90.446,0,0,0,90.34375,512h331.3125A90.446,90.446,0,0,0,512,421.65625V90.34375A90.446,90.446,0,0,0,421.65625,0Z' fill='%23cc6529'/%3E%3Crect x='28' y='28' width='456' height='456' rx='62.34375' ry='62.34375' fill='url(%23a)'/%3E%3Cpath d='M81.05643,267.04959a162.00674,162.00674,0,0,1,115.66406,48.124,163.88531,163.88531,0,0,1,47.96156,116.44071h67.34951c0-127.88568-103.619-231.92124-230.97515-231.92124v67.35657Zm.106-119.39905c155.7603,0,282.48805,127.41971,282.48805,284.04843H431C431,237.92528,274.05353,80.301,81.1624,80.301Zm93.1342,236.99771a46.6483,46.6483,0,1,1-46.65536-46.64834,46.65687,46.65687,0,0,1,46.65536,46.64834Z' fill='%23fff'/%3E%3C/svg%3E");
    --s-transparent:                    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolygon points='8 16 16 16 16 8 8 0 0 0 0 8 8 16' fill='%23666'/%3E%3Crect x='8' width='8' height='8' fill='%23333'/%3E%3Crect y='8' width='8' height='8' fill='%23333'/%3E%3C/svg%3E");
    --s-transparent50:                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolygon points='8 8 8 0 0 0 0 8 8 8' fill='%23666' opacity='0.5'/%3E%3Crect x='8' width='8' height='8' fill='%23333' opacity='0.5'/%3E%3Crect y='8' width='8' height='8' fill='%23333' opacity='0.5'/%3E%3Cpolygon points='16 16 16 8 8 8 8 16 16 16' fill='%23666' opacity='0.5'/%3E%3C/svg%3E");
    --s-scroll-totop:                   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 11.414'%3E%3Cpolygon points='1.414 11.414 10 2.828 18.586 11.414 20 10 10 0 0 10 1.414 11.414' fill='%23b5b4c2'/%3E%3C/svg%3E");
    --s-scroll-tobot:                   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 11.414'%3E%3Cpolygon points='18.586 0 10 8.586 1.414 0 0 1.414 10 11.414 20 1.414 18.586 0' fill='%23b5b4c2'/%3E%3C/svg%3E");
    --s-scroll-toleft:                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.414 20'%3E%3Cpolygon points='11.414 18.586 2.828 10 11.414 1.414 10 0 0 10 10 20 11.414 18.586' fill='%23b5b4c2'/%3E%3C/svg%3E");
    --s-scroll-toright:                 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.414 20'%3E%3Cpolygon points='0 1.414 8.586 10 0 18.586 1.414 20 11.414 10 1.414 0 0 1.414' fill='%23b5b4c2'/%3E%3C/svg%3E");
    --s-scroll-resizer:                 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpolygon points='10.111 14 11.879 14 14 11.879 14 10.111 10.111 14' fill='%23b5b4c2'/%3E%3Cpolygon points='6.111 14 7.879 14 14 7.879 14 6.111 6.111 14' fill='%23b5b4c2'/%3E%3C/svg%3E");
}

a:hover {
    text-decoration: underline;}
#menu ul li a:hover {
    color: var(--c-on);
    text-decoration: none;}
#userinfo_minor li a,
button,
.timeline-nav-button,
.ui-dialog[aria-describedby="expanded_review_box"] .ui-dialog-buttonset button,
#expand_review,
#load_edit_review,
#load_edit_review_dialog,
#wrapper #trading_panel button,
.alertable button,
input[type=button],
input[type=submit],
.forum_latest .search #cat_list a[onclick],
.similar_votes a,
.box_tags .stats.nobullet div a:not([onclick^="deleteTag("]),
a[href^="javascript:IndexVote("] strong,
a[href^="javascript:Vote("] strong,
#requests table.border td.nobr:nth-child(2) strong,
#torrents #requests.request_table #requests_list .requestrows a.brackets,
.tag_vote_button,
#image_block a,
.answers >a[onclick],
#newthreadform #newthreadtext #answer_block a,
.box.box_coltags .pad li a:nth-child(n+2),
a#add_tags_link,
.box.box_coltags .head span[title="Add Tags"] a,
#collections .sidebar .box_addtorrent .subhead a,
#user #userform #platcheckbox +a,
a#tag_show\/hide,
.filter_torrents.advanced .flright,
#shop_search .flright a[onclick],
#adventure_search .flright a[onclick],
a.toggle_tags,
a#toggle_css_gallery,
a#freeleech_pot_show,
a#show_recommend_to_friend,
.box_torrent_checking a[href^="torrents.php?action=deletegroup&"],
#tags_box a#tags_add_toggle,
a#getmorenews,
#group_nofo_bigdiv a#group_quick_edit,
.box_gold a[onclick^="$('#gold_history'"],
table#otherop.hidden ~table.otheroptoggle a,
.torrent_table tr.pad td >.linkbox >a,
.filelist_title a.brackets {
    text-decoration: none;}
blockquote, pre {
    filter: drop-shadow(2px 2px 3px var(--c-main-shdw));}
blockquote code {
    outline: 1px solid var(--c-main-shdw);}
.userratingdiv img:hover {filter: drop-shadow(2px 2px 5px #000);}
.tilt {transition: all 0.5s ease;}
.tilt:hover {transform: rotate(-10deg);}
#grouplinks a:hover {filter: drop-shadow(0.5px 0.5px 5px #69c077);}