::-webkit-scrollbar-button:vertical:decrement {
	background-image: url('icons/grish/scrollbar/to_top.svg');}
::-webkit-scrollbar-button:vertical:increment {
	background-image: url('icons/grish/scrollbar/to_bottom.svg');}
::-webkit-scrollbar-button:horizontal:decrement {
	background-image: url('icons/grish/scrollbar/to_left.svg');}
::-webkit-scrollbar-button:horizontal:increment {
	background-image: url('icons/grish/scrollbar/to_right.svg');}
::-webkit-resizer {
    background-image: url('icons/grish/scrollbar/resizer.svg');}

.fancybox-image,
.lightbox img {
    background-image: url('icons/cdcdcd/transparent.svg');}
#wrapper .userscript-gallery-image,
#artist .sidebar img,
.sidebar .box.box_albumart img,
.similar img,
.screenshots img,
#vanityhouse img,
#likesrow img,
#snatchesrow img,
#uploadsrow img,
#dailygazelle img,
#slides img,
.profile .box_art_gallery .gallery_row img,
.hovereffect,
#collections #coverart.box img,
.sidebar .box.box_image_coverart a img,
#bookmarks #collage_table td img {
    background-image: url('icons/cdcdcd/transparent50.svg');}

.Bandcamp {background-image: url("weblinks/grish/Bandcamp.svg");}
.Discogs {background-image: url("weblinks/grish/Discogs.svg");}
.GamesWebsite {background-image: url("weblinks/grish/GamesWebsite.svg");}
.GOG {background-image: url("weblinks/grish/GOG.svg");}
.HowLongToBeat {background-image: url("weblinks/grish/HowLongToBeat.svg");}
.NexusMods {background-image: url("weblinks/grish/NexusMods.svg");}
.Steam {background-image: url("weblinks/grish/Steam.svg");}

#torrents #torrentbrowse #torrent_table td.center.cats_col >div[title=""][class=""] {
    background-image: url(caticons/missing.svg);}
.amigacd32 {background-image: url(caticons/grish/amigacd32.svg);}
.amstradcpc {background-image: url(caticons/grish/amstradcpc.svg);}
.atarist {background-image: url(caticons/grish/atarist.svg);}
.fairchildchannelf {background-image: url(caticons/grish/fairchildchannelf.svg);}
.gameboycolor {background-image: url(caticons/grish/gameboycolor.svg);}
.gamegear {background-image: url(caticons/grish/gamegear.svg);}
.nes {background-image: url(caticons/grish/nes.svg);}
.newnintendo3ds {background-image: url(caticons/grish/newnintendo3ds.svg);}
.nintendo3ds {background-image: url(caticons/grish/nintendo3ds.svg);}
.nokian-gage {background-image: url(caticons/grish/nokian-gage.svg);}
.rcastudioii {background-image: url(caticons/grish/rcastudioii.svg);}
.tangerineoric {background-image: url(caticons/grish/tangerineoric.svg);}
.v\.smile {background-image: url(caticons/v.smile.svg);}
.watarasupervision {background-image: url(caticons/grish/watarasupervision.svg);}
.wiiu {background-image: url(caticons/grish/wiiu.svg);}
.Amazon {background-image: url(weblinks/grish/Amazon.svg);}
.\33 do {background-image: url(caticons/3do.svg);}
.android {background-image: url(caticons/android.svg);}
.applebandaipippin {background-image: url(caticons/applebandaipippin.svg);}
.apps {background-image: url();}
.atari2600 {background-image: url(caticons/atari2600.svg);}
.atari5200 {background-image: url(caticons/atari5200.svg);}
.atari7800 {background-image: url(caticons/atari7800.svg);}
.atarijaguar {background-image: url(caticons/atarijaguar.svg);}
.atarilynx {background-image: url(caticons/atarilynx.svg);}
.bandaiwonderswan,
.wonderswan {background-image: url(caticons/bandaiwonderswan.svg);}
.bandaiwonderswancolor {background-image: url(caticons/bandaiwonderswancolor.svg);}
.boardgame {background-image: url(caticons/grish/boardgame.svg);}
.cardgame {background-image: url(caticons/grish/cardgame.svg);}
.casioloopy {background-image: url(caticons/casioloopy.svg);}
.casiopv-1000 {background-image: url(caticons/casiopv-1000.svg);}
.colecovision {background-image: url(caticons/colecovision.svg);}
.commodore128 {background-image: url(caticons/commodore128.svg);}
.commodore64 {background-image: url(caticons/commodore64.svg);}
.commodoreamiga {background-image: url(caticons/commodoreamiga.svg);}
.commodoreplus-4 {background-image: url(caticons/commodoreplus-4.svg);}
.commodorevic-20 {background-image: url(caticons/commodorevic-20.svg);}
.creativision {background-image: url(caticons/creativision.svg);}
.dos {background-image: url(caticons/dos.svg);}
.dreamcast {background-image: url(caticons/dreamcast.svg);}
.dsiware {background-image: url();}
.dvd {background-image: url();}
.emersonarcadia2001 {background-image: url(caticons/emersonarcadia2001.svg);}
.entexadventurevision {background-image: url(caticons/entexadventurevision.svg);}
.epochsupercasettevision {background-image: url(caticons/epochsupercasettevision.svg);}
.ex-bgcollections {background-image: url();}
.ex-bgfullsets {background-image: url();}
.ex-bggoldens {background-image: url();}
.funtechsuperacan {background-image: url(caticons/funtechsuperacan.svg);}
.game\.com,
.game.com,
.gamecom {background-image: url(icon/gamecom.png);}
.gameboy {background-image: url(caticons/grish/gameboy.svg);}
.gameboyadvance {background-image: url(caticons/grish/gameboyadvance.svg);}
.gameparkgp32 {background-image: url(caticons/gameparkgp32.svg);}
.generalcomputervectrex {background-image: url(caticons/grish/generalcomputervectrex.svg);}
.gizmondo {background-image: url(caticons/gizmondo.svg);}
.hartungamemaster,
.hartunggamemaster {background-image: url(caticons/hartunggamemaster.svg);}
.mattelintellivision,
.intellivision {background-image: url(caticons/grish/mattelintellivision.svg);}
.interactivedvd {background-image: url(caticons/grish/interactivedvd.svg);}
.ios {background-image: url(caticons/grish/ios.svg);}
.linux {background-image: url(caticons/linux.svg);}
.mac {background-image: url(caticons/grish/mac.svg);}
.magnavox-phillipsodyssey {background-image: url(caticons/magnavox-phillipsodyssey.svg);}
.mastersystem {background-image: url(caticons/mastersystem.svg);}
.megadrive {background-image: url(caticons/megadrive.svg);}
.memotechmtx {background-image: url(caticons/grish/memotechmtx.svg);}
.milesgordonsamcoupe {background-image: url(caticons/milesgordonsamcoupe.svg);}
.miniaturewargames {background-image: url(caticons/grish/miniaturewargames.svg);}
.msx {background-image: url(caticons/msx.svg);}
.msx2 {background-image: url(caticons/msx2.svg);}
.music,
.cats_ost {background-image: url(caticons/grish/music.svg);}
.necpc-fx {background-image: url(caticons/necpc-fx.svg);}
.necpc-98 {background-image: url(caticons/grish/necpc-98.svg);}
.necsupergrafx {background-image: url(caticons/necsupergrafx.svg);}
.necturbografx-16 {background-image: url(caticons/grish/necturbografx-16.svg);}
.newnintendo3dsvc {background-image: url();}
.nintendo3dsvc {background-image: url();}
.nintendo64 {background-image: url(caticons/nintendo64.svg);}
.nintendods {background-image: url(caticons/grish/nintendods.svg);}
.nintendogamecube {background-image: url(caticons/nintendogamecube.svg);}
.ouya {background-image: url(caticons/ouya.svg);}
.penandpaperrpg {background-image: url(caticons/grish/penandpaperrpg.svg);}
.philipsvideopac {background-image: url();}
.philipsvideopac\+ {background-image: url(caticons/philipsvideopac+.svg);}
.phonepda {background-image: url(caticons/grish/phonepda.svg);}
.pico {background-image: url(caticons/pico.svg);}
.playstation1 {background-image: url(caticons/playstation.svg);}
.playstation2 {background-image: url(caticons/grish/playstation2.svg);}
.playstation3 {background-image: url(caticons/grish/playstation3.svg);}
.playstation4 {background-image: url(caticons/grish/playstation4.svg);}
.playstationportable {background-image: url(caticons/grish/playstationportable.svg);}
.playstationvita {background-image: url(caticons/grish/playstationvita.svg);}
.pokemonmini {background-image: url(caticons/pokemonmini.svg);}
.psonpsp {background-image: url();}
.psponps3 {background-image: url();}
.retro-other {background-image: url(caticons/retro-other.svg);}
.saturn {background-image: url(caticons/saturn.svg);}
.sg-1000 {background-image: url(caticons/sg-1000.svg);}
.sharpx1 {background-image: url(caticons/grish/sharpx1.svg);}
.sharpx68000 {background-image: url(caticons/grish/sharpx68000.svg);}
.snkneogeo {background-image: url(caticons/grish/snkneogeo.svg);}
.snkneogeopocket {background-image: url(caticons/snkneogeopocket.svg);}
.snes,
.supernes {background-image: url(caticons/snes.svg);}
.switch {background-image: url(caticons/switch.svg);}
.taitotypex {background-image: url(caticons/grish/taitotypex.svg);}
.tandycolorcomputer {background-image: url(caticons/tandycolorcomputer.svg);}
.thomsonmo5 {background-image: url(caticons/grish/thomsonmo5.svg);}
.turbografx {background-image: url();}
.vectrex {background-image: url(caticons/grish/vectrex.svg);}
.virtualboy {background-image: url(caticons/virtualboy.svg);}
.wii {background-image: url(caticons/grish/wii.svg);}
.wiiuvc {background-image: url();}
.wiivc {background-image: url();}
.wiiware {background-image: url();}
.windows {background-image: url(caticons/windows.svg);}
.windows95 {background-image: url();}
.windowsxp {background-image: url();}
.xbla {background-image: url();}
.xbox {background-image: url(caticons/xbox.svg);}
.xbox360 {background-image: url(caticons/xbox360.svg);}
.xboxon360 {background-image: url();}
.zxspectrum {background-image: url(caticons/zxspectrum.svg);}
.cats_guides,
.cats_ebooks,
.ebook {background-image: url(caticons/grish/ebook.svg);}
.cats_applications {background-image: url(caticons/applications.svg);}

@media (min-width: 801px) {
#groupplatform a[href$="=Amiga+CD32"] {background-image: url(caticons/grish/amigacd32.svg);}
#groupplatform a[href$="=Amstrad+CPC"] {background-image: url(caticons/grish/amstradcpc.svg);}
#groupplatform a[href$="=Atari+ST"] {background-image: url(caticons/grish/atarist.svg);}
#groupplatform a[href$="=Fairchild+Channel+F"] {background-image: url(caticons/grish/fairchildchannelf.svg);}
#groupplatform a[href$="=Game+Boy+Color"] {background-image: url(caticons/grish/gameboycolor.svg);}
#groupplatform a[href$="=Game+Gear"] {background-image: url(caticons/grish/gamegear.svg);}
#groupplatform a[href$="=NES"] {background-image: url(caticons/grish/nes.svg);}
#groupplatform a[href$="=New+Nintendo+3DS"] {background-image: url(caticons/grish/newnintendo3ds.svg);}
#groupplatform a[href$="=Nintendo+3DS"] {background-image: url(caticons/grish/nintendo3ds.svg);}
#groupplatform a[href$="=Nokia+N-Gage"] {background-image: url(caticons/grish/nokian-gage.svg);}
#groupplatform a[href$="=RCA+Studio+II"] {background-image: url(caticons/grish/rcastudioii.svg);}
#groupplatform a[href$="=Tangerine+Oric"] {background-image: url(caticons/grish/tangerineoric.svg);}
#groupplatform a[href$="=V.Smile"] {background-image: url(caticons/v.smile.svg);}
#groupplatform a[href$="=Watara+Supervision"] {background-image: url(caticons/grish/watarasupervision.svg);}
#groupplatform a[href$="=Wii+U"] {background-image: url(caticons/grish/wiiu.svg);}
#groupplatform a[href$="=3DO"] {background-image: url(caticons/3do.svg);}
#groupplatform a[href$="=Android"] {background-image: url(caticons/android.svg);}
#groupplatform a[href$="=Apple+Bandai+Pippin"] {background-image: url(caticons/applebandaipippin.svg);}
#groupplatform a[href$="=Atari+2600"] {background-image: url(caticons/atari2600.svg);}
#groupplatform a[href$="=Atari+5200"] {background-image: url(caticons/atari5200.svg);}
#groupplatform a[href$="=Atari+7800"] {background-image: url(caticons/atari7800.svg);}
#groupplatform a[href$="=Atari+Jaguar"] {background-image: url(caticons/atarijaguar.svg);}
#groupplatform a[href$="=Atari+Lynx"] {background-image: url(caticons/atarilynx.svg);}
#groupplatform a[href$="=Bandai+WonderSwan"] {background-image: url(caticons/bandaiwonderswan.svg);}
#groupplatform a[href$="=Bandai+WonderSwan+Color"] {background-image: url(caticons/bandaiwonderswancolor.svg);}
#groupplatform a[href$="=Board+Game"] {background-image: url(caticons/grish/boardgame.svg);}
#groupplatform a[href$="=Card+Game"] {background-image: url(caticons/grish/cardgame.svg);}
#groupplatform a[href$="=Casio+Loopy"] {background-image: url(caticons/casioloopy.svg);}
#groupplatform a[href$="=Casio+PV-1000"] {background-image: url(caticons/casiopv-1000.svg);}
#groupplatform a[href$="=Colecovision"] {background-image: url(caticons/colecovision.svg);}
#groupplatform a[href$="=Commodore+128"] {background-image: url(caticons/commodore128.svg);}
#groupplatform a[href$="=Commodore+64"] {background-image: url(caticons/commodore64.svg);}
#groupplatform a[href$="=Commodore+Amiga"] {background-image: url(caticons/commodoreamiga.svg);}
#groupplatform a[href$="=Commodore+Plus-4"] {background-image: url(caticons/commodoreplus-4.svg);}
#groupplatform a[href$="=Commodore+VIC-20"] {background-image: url(caticons/commodorevic-20.svg);}
#groupplatform a[href$="=CreatiVision"] {background-image: url(caticons/creativision.svg);}
#groupplatform a[href$="=DOS"] {background-image: url(caticons/dos.svg);}
#groupplatform a[href$="=Dreamcast"] {background-image: url(caticons/dreamcast.svg);}
#groupplatform a[href$="=Emerson+Arcadia+2001"] {background-image: url(caticons/emersonarcadia2001.svg);}
#groupplatform a[href$="=Entex+Adventure+Vision"] {background-image: url(caticons/entexadventurevision.svg);}
#groupplatform a[href$="=Epoch+Super+Casette+Vision"] {background-image: url(caticons/epochsupercasettevision.svg);}
#groupplatform a[href$="=Funtech+Super+Acan"] {background-image: url(caticons/funtechsuperacan.svg);}
#groupplatform a[href$="=Game.com"] {background-image: url(icon/gamecom.png);}
#groupplatform a[href$="=Game+Boy"] {background-image: url(caticons/grish/gameboy.svg);}
#groupplatform a[href$="=Game+Boy+Advance"] {background-image: url(caticons/grish/gameboyadvance.svg);}
#groupplatform a[href$="=GamePark+GP32"] {background-image: url(caticons/gameparkgp32.svg);}
#groupplatform a[href$="=General+Computer+Vectrex"] {background-image: url(caticons/grish/generalcomputervectrex.svg);}
#groupplatform a[href$="=Gizmondo"] {background-image: url(caticons/gizmondo.svg);}
#groupplatform a[href$="=Hartung+Game+Master"] {background-image: url(caticons/hartunggamemaster.svg);}
#groupplatform a[href$="=Mattel+Intellivision"] {background-image: url(caticons/grish/mattelintellivision.svg);}
#groupplatform a[href$="=Interactive+DVD"] {background-image: url(caticons/grish/interactivedvd.svg);}
#groupplatform a[href$="=iOS"] {background-image: url(caticons/grish/ios.svg);}
#groupplatform a[href$="=Linux"] {background-image: url(caticons/linux.svg);}
#groupplatform a[href$="=Mac"] {background-image: url(caticons/grish/mac.svg);}
#groupplatform a[href$="=Magnavox-Phillips+Odyssey"] {background-image: url(caticons/magnavox-phillipsodyssey.svg);}
#groupplatform a[href$="=Master+System"] {background-image: url(caticons/mastersystem.svg);}
#groupplatform a[href$="=Mega+Drive"] {background-image: url(caticons/megadrive.svg);}
#groupplatform a[href$="=Memotech+MTX"] {background-image: url(caticons/grish/memotechmtx.svg);}
#groupplatform a[href$="=Miles+Gordon+Sam+Coupe"] {background-image: url(caticons/milesgordonsamcoupe.svg);}
#groupplatform a[href$="=Miniature WargamesMSX"] {background-image: url(caticons/grish/miniaturewargames.svg);}
#groupplatform a[href$="=MSX"] {background-image: url(caticons/msx.svg);}
#groupplatform a[href$="=MSX+2"] {background-image: url(caticons/msx2.svg);}
#groupplatform a[href$="=NEC+PC-FX"] {background-image: url(caticons/necpc-fx.svg);}
#groupplatform a[href$="=NEC+PC-98"] {background-image: url(caticons/grish/necpc-98.svg);}
#groupplatform a[href$="=NEC+SuperGrafx"] {background-image: url(caticons/necsupergrafx.svg);}
#groupplatform a[href$="=NEC+TurboGrafx-16"] {background-image: url(caticons/grish/necturbografx-16.svg);}
#groupplatform a[href$="=Nintendo+64"] {background-image: url(caticons/nintendo64.svg);}
#groupplatform a[href$="=Nintendo+DS"] {background-image: url(caticons/grish/nintendods.svg);}
#groupplatform a[href$="=Nintendo+GameCube"] {background-image: url(caticons/nintendogamecube.svg);}
#groupplatform a[href$="=Ouya"] {background-image: url(caticons/ouya.svg);}
#groupplatform a[href$="=Pen+and+Paper+RPG"] {background-image: url(caticons/grish/penandpaperrpg.svg);}
#groupplatform a[href$="=Philips+Videopac+"] {background-image: url(caticons/philipsvideopac+.svg);}
#groupplatform a[href$="=Phone%2FPDA"] {background-image: url(caticons/grish/phonepda.svg);}
#groupplatform a[href$="=Pico"] {background-image: url(caticons/pico.svg);}
#groupplatform a[href$="=PlayStation+1"] {background-image: url(caticons/playstation.svg);}
#groupplatform a[href$="=PlayStation+2"] {background-image: url(caticons/grish/playstation2.svg);}
#groupplatform a[href$="=PlayStation+3"] {background-image: url(caticons/grish/playstation3.svg);}
#groupplatform a[href$="=PlayStation+4"] {background-image: url(caticons/grish/playstation4.svg);}
#groupplatform a[href$="=PlayStation+Portable"] {background-image: url(caticons/grish/playstationportable.svg);}
#groupplatform a[href$="=PlayStation+Vita"] {background-image: url(caticons/grish/playstationvita.svg);}
#groupplatform a[href$="=Pokemon+Mini"] {background-image: url(caticons/pokemonmini.svg);}
#groupplatform a[href$="=Retro+-+Other"] {background-image: url(caticons/retro-other.svg);}
#groupplatform a[href$="=Saturn"] {background-image: url(caticons/saturn.svg);}
#groupplatform a[href$="=SG-1000"] {background-image: url(caticons/sg-1000.svg);}
#groupplatform a[href$="=Sharp+X1"] {background-image: url(caticons/grish/sharpx1.svg);}
#groupplatform a[href$="=Sharp+X68000"] {background-image: url(caticons/grish/sharpx68000.svg);}
#groupplatform a[href$="=SNK+Neo+Geo"] {background-image: url(caticons/grish/snkneogeo.svg);}
#groupplatform a[href$="=SNK+Neo+Geo+Pocket"] {background-image: url(caticons/snkneogeopocket.svg);}
#groupplatform a[href$="=SNES"] {background-image: url(caticons/snes.svg);}
#groupplatform a[href$="=Switch"] {background-image: url(caticons/switch.svg);}
#groupplatform a[href$="=Taito+Type+X"] {background-image: url(caticons/grish/taitotypex.svg);}
#groupplatform a[href$="=Tandy+Color+Computer"] {background-image: url(caticons/tandycolorcomputer.svg);}
#groupplatform a[href$="=Thomson+MO5"] {background-image: url(caticons/grish/thomsonmo5.svg);}
#groupplatform a[href$="=General+Computer+Vectrex"] {background-image: url(caticons/grish/vectrex.svg);}
#groupplatform a[href$="=Virtual+Boy"] {background-image: url(caticons/virtualboy.svg);}
#groupplatform a[href$="=Wii"] {background-image: url(caticons/grish/wii.svg);}
#groupplatform a[href$="=Windows"] {background-image: url(caticons/windows.svg);}
#groupplatform a[href$="=Xbox"] {background-image: url(caticons/xbox.svg);}
#groupplatform a[href$="=Xbox+360"] {background-image: url(caticons/xbox360.svg);}
#groupplatform a[href$="=ZX+Spectrum"] {background-image: url(caticons/zxspectrum.svg);}
}

select {
    background-image: url('icons/grish/select.svg');}
/** number **/
input[type="number"] {
    -moz-appearance: textfield;}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    background-image: url('icons/grish/number.svg');}

/** thumbs **/
.box.box_likes.box_torrents span.likes_icon.flright img,
img[src="static/common/thumbsup.png"],
img[title="ThumbsUp"],
img[title="ThumbsUp "],
#thumbsup img {
    background-image: url('icons/grish/thumbsup.svg');}
#thumbsup img:hover {
    background-color: var(--c-anchor-hvr-bcg);}
img[src="static/common/thumbsdown.png"],
img[title="ThumbsDown"],
img[title="ThumbsDown "],
#thumbsdown img {
    background-image: url('icons/grish/thumbsdown.svg');}
#thumbsdown img:hover {
    background-color: var(--c-anchor-hvr-bcg);}

img[alt="Donor"] {
    background-image: url('icons/donate.svg');}

/** gold **/
img[title="Gold"],
#requests_donate img,
#stats_gold a,
#wrapper .trade_value .trade_value_gold img,
.profile .box_stats #gold .stat {
    background-image: url('icons/gold.svg');}
h2#username span#tip_user img,
#wrapper #trading_panel .gold_trade a#gold_trade_add img {
    background-image: url('icons/grish/gold_plus.svg');}
#wrapper #trading_panel .gold_trade a#gold_trade_subtract img {
    background-image: url('icons/grish/gold_minus.svg');}

/** banned **/
img[alt="Banned"] {
    background-image: url('icons/grish/banned.svg');}
/** warned **/
img[alt="Warned"] {
    background-image: url('icons/grish/warned.svg');}

/** forum post user stats **/
#forums .forum_post .avatar >div:first-child:after {
    background-image: url('icons/grish/show-hor.svg');}

