/***
WhutBBCode
https://greasyfork.org/en/scripts/1024-whutbbcode
https://github.com/hateradio/wbb
***/
#wrapper .wbbcode {
    width: auto !important;}
.wbbcode ~.bbbutt,
.wbbemot img[alt=":loveflac:"] {
    display: none;}

.wbbcode.wbbimg .wbbbuttons .whutbbutton span,
.wbbcode.wbbimgless .whutbbutton {
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;}

#wrapper .wbbcode .wbbbuttons {
    background-color: var(--c-input-obj);
    border: var(--p-img-border);
    border-color: var(--c-main-brdr);
    padding: 3px;
    margin: 5px auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    cursor: default;
    width: -moz-fit-content;
    width: fit-content;}

.wbbcode.wbbimgless button:active span,
.wbbcode.wbbimgless button span {
    margin: 0;}

#wrapper .wbbemot {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: var(--p-img-border);
    border-color: var(--c-main-brdr);
    background-color: var(--c-input-obj);
    padding: 3px 6px;
    max-height: unset;
    width: -moz-max-content;
    width: fit-content;
    margin: .2em auto;}

.wbbcode.wbbimgless .whutbbutton {
    text-shadow: 1px 1px 1px var(--c-body);
    border-radius: unset;
    -webkit-box-shadow: var(--p-header-shdw);
    box-shadow: var(--p-header-shdw);
    border: var(--p-border);
    border-color: var(--c-main-brdr);
    line-height: 1em;
    font-weight: 400;
    cursor: pointer;
    padding: 2px;
    color: var(--c-txt);
    margin: 3px;
    background: var(--p-btn);}
.wbbcode.wbbimgless .whutbbutton:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--c-low);
    background: var(--p-btn-hvr);}
.wbbcode.wbbimgless .whutbbutton:active {
    background: var(--p-btn-act);}

.wbbcode.wbbimg .wbbbuttons .whutbbutton {
    text-shadow: unset;
    width: auto;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    margin: 2px 3px;
    padding: 1px;
    align-self: center;
    background: unset;
    color: unset;
    border: unset;
    border-radius: unset;
    box-shadow: unset;}
.wbbcode.wbbimg .wbbbuttons .whutbbutton.wbbpressed {
    background-color: var(--c-box);}

.wbbcode .wbbshortcut {
    color: var(--c-txt);}
.wbbcode .wbbshortcut li {
    border-radius: unset;
    border: var(--p-border);
    border-color: var(--c-table-brdr);
    background-color: var(--c-input-obj);}
.wbbcode .wbbshortcut li strong {
    border-radius: unset;
    border: var(--p-border);
    border-color: var(--c-table-brdr);
    background-color: var(--c-box);}
.wbbcode .wbbcon {
    color: var(--c-red);}

.wbbcode.wbbimg .wbbbuttons .whutbbutton span {
    opacity: .8;
    display: inline-block;
    margin: 0;
    height: 18px;
    width: 18px;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-image: unset;
    background-color: var(--c-txt);}
.wbbcode.wbbimg .wbbbuttons .whutbbutton.wbbpressed span,
.wbbcode.wbbimg .wbbbuttons .whutbbutton:hover span {
    opacity: 1;
    background-color: var(--c-low);}

.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-bold {
    -webkit-mask-image: url('icons/bbbutt/bold.svg');
    mask-image: url('icons/bbbutt/bold.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-text-width {
    -webkit-mask-image: url('icons/bbbutt/und.svg');
    mask-image: url('icons/bbbutt/und.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-italic {
    -webkit-mask-image: url('icons/bbbutt/ita.svg');
    mask-image: url('icons/bbbutt/ita.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-minus {
    -webkit-mask-image: url('icons/bbbutt/strk.svg');
    mask-image: url('icons/bbbutt/strk.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-exclamation-sign {
    width: 20px;
    -webkit-mask-image: url('icons/bbbutt/whut/important.svg');
    mask-image: url('icons/bbbutt/whut/important.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-arrow-right {
    -webkit-mask-image: url('icons/bbbutt/whut/heading.svg');
    mask-image: url('icons/bbbutt/whut/heading.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-leaf {
    -webkit-mask-image: url('icons/bbbutt/whut/code.svg');
    mask-image: url('icons/bbbutt/whut/code.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-tint {
    -webkit-mask-image: url('icons/bbbutt/color.svg');
    mask-image: url('icons/bbbutt/color.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-text-height {
    -webkit-mask-image: url('icons/bbbutt/whut/size.svg');
    mask-image: url('icons/bbbutt/whut/size.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-align-left {
    -webkit-mask-image: url('icons/bbbutt/lef.svg');
    mask-image: url('icons/bbbutt/lef.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-align-center {
    -webkit-mask-image: url('icons/bbbutt/cent.svg');
    mask-image: url('icons/bbbutt/cent.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-align-right {
    -webkit-mask-image: url('icons/bbbutt/righ.svg');
    mask-image: url('icons/bbbutt/righ.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-list-alt {
    -webkit-mask-image: url('icons/bbbutt/whut/n_list.svg');
    mask-image: url('icons/bbbutt/whut/n_list.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-list {
    -webkit-mask-image: url('icons/bbbutt/list.svg');
    mask-image: url('icons/bbbutt/list.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-globe {
    -webkit-mask-image: url('icons/bbbutt/link.svg');
    mask-image: url('icons/bbbutt/link.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-picture {
    -webkit-mask-image: url('icons/bbbutt/img.svg');
    mask-image: url('icons/bbbutt/img.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-comment {
    -webkit-mask-image: url('icons/quote.svg');
    mask-image: url('icons/quote.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-asterisk {
    -webkit-mask-image: url('icons/bbbutt/pre.svg');
    mask-image: url('icons/bbbutt/pre.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-tasks {
    -webkit-mask-image: url('icons/bbbutt/whut/source.svg');
    mask-image: url('icons/bbbutt/whut/source.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-warning-sign {
    -webkit-mask-image: url('icons/bbbutt/spoil.svg');
    mask-image: url('icons/bbbutt/spoil.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-eye-open {
    -webkit-mask-image: url('icons/bbbutt/whut/mature.svg');
    mask-image: url('icons/bbbutt/whut/mature.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-music {
    -webkit-mask-image: url('icons/bbbutt/whut/plat.svg');
    mask-image: url('icons/bbbutt/whut/plat.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-download {
    -webkit-mask-image: url('icons/bbbutt/whut/id.svg');
    mask-image: url('icons/bbbutt/whut/id.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-user {
    -webkit-mask-image: url('icons/nav/user.svg');
    mask-image: url('icons/nav/user.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-share {
    -webkit-mask-image: url('icons/bbbutt/whut/wiki.svg');
    mask-image: url('icons/bbbutt/whut/wiki.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-info-sign {
    -webkit-mask-image: url('icons/bbbutt/whut/rules.svg');
    mask-image: url('icons/bbbutt/whut/rules.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-pencil {
    -webkit-mask-image: url('icons/bbbutt/tex.svg');
    mask-image: url('icons/bbbutt/tex.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-ban-circle {
    width: 24px;
    -webkit-mask-image: url('icons/bbbutt/whut/nobb.svg');
    mask-image: url('icons/bbbutt/whut/nobb.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-remove-sign {
    -webkit-mask-image: url('icons/tor/rm.svg');
    mask-image: url('icons/tor/rm.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-fire {
    -webkit-mask-image: url('icons/bbbutt/whut/emoticons.svg');
    mask-image: url('icons/bbbutt/whut/emoticons.svg');}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-wrench {
    -webkit-mask-image: url(icons/nav/useredit.svg);
    mask-image: url(icons/nav/useredit.svg);}
.wbbcode.wbbimg .wbbbuttons .whutbbutton .icon-question-sign {
    -webkit-mask-image: url('icons/bbbutt/whut/shortcuts.svg');
    mask-image: url('icons/bbbutt/whut/shortcuts.svg');}
/***
/WhutBBCode
***/


/***
Quick Crafter
https://github.com/KingKrab23/Quick_Craft/raw/master/GGn%20Quick%20Crafting.user.js
https://gazellegames.net/forums.php?action=viewthread&threadid=412&postid=1192484#post1192484
***/
#quick-crafter {
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    position: relative !important;
    padding: 10px !important;
    background-color: var(--c-box) !important;
    -webkit-box-shadow: var(--p-main-shdw) !important;
    box-shadow: var(--p-main-shdw) !important;
    border: var(--p-border) !important;
    border-color: var(--c-main-brdr) !important;
    margin: 0 0 15px 0 !important;}
#quick-crafter:before {
    content: 'Quick Crafter';
    display: block;
    text-align: left;
    width: 100%;
    margin: -10px -10px 10px -10px;
    padding: 9px 10px;
    font-size: var(--p-head);
    height: var(--p-head);
    line-height: var(--p-head);
    background: var(--p-head-grdnt);
    font-weight: 600;}

#quick-crafter >p[style^="float:right"]:last-child {
    margin: 0 -10px -10px -10px !important;
    padding: 10px!important;
    line-height: 1em;
    float: unset !important;
    text-align: right !important;
    border-top: var(--p-border);
    border-top-color: var(--c-table-brdr);
    background-color: var(--c-tgroup);}

#quick-crafter button {
    color: var(--c-txt) !important;
    margin-top: 5px !important;}
#quick-crafter br +button {
    margin-top: 8px !important;}
#quick-crafter button +br {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    border-bottom: var(--p-border);
    border-bottom-color: var(--c-table-brdr);
    margin-top: 8px;}

#quick-crafter #clear_button {
    color: var(--c-red) !important;}

#quick-crafter #current_craft_box:empty {
    display: none;}
#quick-crafter #current_craft_box {
    background-color: var(--c-tgroup);
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    border: var(--p-img-border);
    border-color: var(--c-main-brdr);}
#quick-crafter #crafting-submenu >p:first-child {
    font-size: 15px;
    line-height: 1em;
    font-weight: 600;
    margin-top: 0;}
#quick-crafter #crafting-submenu >p:first-child +p {
    margin-bottom: 8px;}
/***
/Quick Crafter
***/


/***
Universal torrent gallery
https://gist.github.com/po5/c27eeed4412c64d7befb37feb868511e/raw/universal-torrent-gallery.user.js
https://gazellegames.net/forums.php?action=viewthread&threadid=16978&postid=1021780#post1021780
***/
#wrapper #userscript-gallery-toggle,
#wrapper #userscript-gallery-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--c-box);
    margin: 0;
    border: var(--p-border);
    border-color: var(--c-main-brdr);
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;}

/* shadows/borders on pseudo-elements because there's no container,
really the whole thing is a mess as a result */
#userscript-gallery-toggle:before,
#userscript-gallery-container:before {
    z-index: -2;
    width: calc(100% + 2px);
    left: -1px;
    -webkit-box-shadow: var(--p-main-shdw);
    box-shadow: var(--p-main-shdw);
    position: absolute;
    content: '';}
#userscript-gallery-toggle:before {
    top: -1px;
    height: calc(100% + 2px);}
#userscript-gallery-container:before {
    bottom: -1px;
    height: 100%;}
#userscript-gallery-toggle:after {
    z-index: -1;
    width: calc(100% + 2px);
    height: 0;
    left: -1px;
    bottom: -1px;
    border-bottom: var(--p-border);
    border-bottom-color: var(--c-main-brdr);
    position: absolute;
    content: '';}
#wrapper #userscript-gallery-container {
    gap: 0;
    margin-bottom: 15px;
    border-top: none;
    padding: 10px 0 0 10px;
    display: flex;
    flex-flow: row wrap;}
#wrapper #userscript-gallery-toggle {
    background-image: unset;
    margin: 0;
    border-bottom: none;
    background: var(--p-head-grdnt);
    text-align: left;
    width: 100%;
    background: var(--p-head-grdnt);
    font-size: var(--p-head) !important;
    line-height: var(--p-head);
    padding: 0;}

#wrapper .userscript-gallery-group {
    align-self: start;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 10px 10px 0;
    padding-bottom: 16px;
    -webkit-box-shadow: var(--p-header-shdw);
    box-shadow: var(--p-header-shdw);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: var(--p-border);
    border-bottom: var(--p-border);
    border-top-color: var(--c-table-brdr);
    border-bottom-color: var(--c-table-brdr);}
#wrapper .userscript-gallery-title,
#wrapper .userscript-gallery-details {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: var(--p-border);
    border-right: var(--p-border);
    border-left-color: var(--c-table-brdr);
    border-right-color: var(--c-table-brdr);}

#wrapper a.userscript-gallery-link {
    border: var(--p-img-border);
    border-color: var(--c-b4);
    background-color: transparent;}
#wrapper a.userscript-gallery-link:hover {
    border-color: var(--c-b1);}

#wrapper .userscript-gallery-group:hover {
    -webkit-box-shadow: none;
    box-shadow: none;}

#wrapper a.userscript-gallery-link,
#wrapper .userscript-gallery-group {
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;}

#userscript-gallery-toggle strong {
    font-weight: 600;
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
    margin: 0;
    padding: 9px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;}

#userscript-gallery-toggle strong:before {
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    z-index: -1;
    content: '';
    background: var(--p-expand-hvr);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;}
#userscript-gallery-toggle:hover strong:before {
    opacity: 1;}
#userscript-gallery-toggle:active strong:before {
    background: var(--p-expand-act);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;}

#wrapper #userscript-gallery-toggle a {
    cursor: default;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 2;
    font-size: 0;}

#wrapper .userscript-gallery-image {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;}

#wrapper .userscript-gallery-details {
    background-color: var(--c-tor-row-hvr);
    background-image: unset;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 16px;
    max-height: 16px;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transition: max-height .45s ease;
    -o-transition: max-height .45s ease;
    transition: max-height .45s ease;}
#wrapper .userscript-gallery-details:hover {
    max-height: 1000%;}
#wrapper .userscript-gallery-title {
    position: relative;
    font-size: 0;
    line-height: 0;
    padding: 0;
    background: var(--c-edition) linear-gradient(155deg,var(--c-edition),var(--c-tgroup));
    -webkit-box-shadow: none;
    box-shadow: none;}
#wrapper .userscript-gallery-image[src="https://ptpimg.me/5975tp.png"] {
    padding-left: 100%;
    height: 100%;}

.userscript-gallery-title >a,
.userscript-gallery-title >span:first-child a,
.torrent_notifications #userscript-gallery-container #groupplatform a {
    font-size: 14px;
    line-height: 14px;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: unset;}

.torrent_notifications #userscript-gallery-container #groupplatform +a,
.userscript-gallery-title >a +span a,
.userscript-gallery-title #hyphen,
.userscript-gallery-title #groupname {
    display: none;}

.userscript-gallery-title >a +span {
    opacity: .12;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;}

#wrapper .userscript-gallery-title >a +span:before {
    content: none;}

#wrapper .userscript-gallery-title >span:first-child {
    width: 100%;
    height: 100%;
    display: inline-block;}
#wrapper .userscript-gallery-title >span:first-child:before {
    opacity: .12;
    width: 100%;
    height: 100%;}

.torrent_notifications #userscript-gallery-container #groupplatform {
    top: 0;
    left: 0;
    position: inherit;}

#wrapper .userscript-gallery-title >#color_leeching:first-child:before,
.userscript-gallery-title >a +#color_leeching {
	background-color: var(--c-leech);}
#wrapper .userscript-gallery-title >#color_seeding:first-child:before,
.userscript-gallery-title >a +#color_seeding {
	background-color: var(--c-seed);}
#wrapper .userscript-gallery-title >#color_uploaded:first-child:before,
.userscript-gallery-title >a +#color_uploaded {
	background-color: var(--c-upload);}
#wrapper .userscript-gallery-title >#color_snatched:first-child:before,
.userscript-gallery-title >a +#color_snatched {
	background-color: var(--c-snatch);}
#wrapper .userscript-gallery-title >#color_downloaded:first-child:before,
.userscript-gallery-title >a +#color_downloaded {
	background-color: var(--c-download);}

#wrapper .userscript-gallery-title a {
    color: var(--c-anchor);}
#wrapper .userscript-gallery-title a:hover {
    background-color: var(--c-anchor-hvr-bcg-obj);
    color: var(--c-anchor-hvr);}

#wrapper #userscript-gallery-container.userscript-gallery-hidden +div,
#wrapper #userscript-gallery-container.userscript-gallery-hidden +table {
    margin-top: 16px;}

@media (min-width: 1295px) {
    #wrapper .userscript-gallery-group {
        width: calc(100% / 6 - 10px);}
}
@media (max-width: 1294px) {
    #wrapper .userscript-gallery-group {
        width: calc(100% / 5 - 10px);}
}
@media (max-width: 1097px) {
    #wrapper .userscript-gallery-group {
        width: calc(100% / 4 - 10px);}
}
@media (max-width: 901px) {
    #wrapper .userscript-gallery-group {
        width: calc(100% / 3 - 10px);}
}
/***
/Universal torrent gallery
***/


/***
GGn Buffer Calculator
https://gazellegames.net/forums.php?action=viewthread&threadid=412&postid=5823#post5823
http://www.mediafire.com/?97dqca3w9ekaweo
***/
#userinfo_stats li.my_buffer {
    order: -1;
    background-color: var(--c-input-obj) !important;}
#userinfo_stats li.my_buffer >span {
    color: var(--c-txt) !important;
    margin: 0 !important;}
/***
/GGn Buffer Calculator
***/


/***
Steam uploady
https://gazellegames.net/forums.php?action=viewthread&threadid=10942#steam
https://git.alice.gensokyo.eu/FlatBartender/ggn_scripts/raw/master/GGn%20New%20Uploady.user.js
***/
a#fill_win,
a#fill_lin,
a#fill_mac {
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    margin: 0 2px;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
    font-family: OpenSans,Helvetica,Arial,sans-serif!important;
    font-weight: 400;
    cursor: pointer;
    outline: 0;
    padding: 5px 10px;
    color: var(--c-txt);
    text-shadow: 1px 1px 1px var(--c-body);
    -webkit-box-shadow: var(--p-header-shdw);
    box-shadow: var(--p-header-shdw);
    border: var(--p-border);
    border-color: var(--c-main-brdr);
    background: var(--p-btn);
    background-size: 200% auto!important;
    display: inline-block;}

a#fill_win:hover,
a#fill_lin:hover,
a#fill_mac:hover {
    color: var(--c-low);
    background: var(--p-btn-hvr);
    -webkit-box-shadow: none;
    box-shadow: none;}
a#fill_win:active,
a#fill_lin:active,
a#fill_mac:active {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    background: var(--p-btn-act);}

a#fill_win ~a[href="forums.php?action=viewthread&threadid=10942#steam"],
a#fill_lin ~a[href="forums.php?action=viewthread&threadid=10942#steam"],
a#fill_mac ~a[href="forums.php?action=viewthread&threadid=10942#steam"] {
    text-decoration: line-through;}
/***
/Steam uploady
***/


/***
Group description helper
https://gazellegames.net/forums.php?action=viewthread&threadid=10942&postid=394206#post394206
https://git.alice.gensokyo.eu/FlatBartender/ggn_scripts/src/master/GGn%20site%20links.user.js
***/
#reviews_table >tbody +tr td {
    width: 100%;
    display: flex;}
input#search_weblinks,
input#validate_weblinks {
    margin-right: 5px;}
input#gameswebsiteuri ~input#search_weblinks,
input#gameswebsiteuri input#validate_weblinks {
    margin-top: 5px;}
/***
/Group description helper
***/


/***
New PTPIMG It
https://gazellegames.net/forums.php?action=viewthread&threadid=10942&postid=394206#post394206
https://git.alice.gensokyo.eu/FlatBartender/ggn_scripts/src/master/GGn%20PTPImg%20It.user.js
***/
input#ptpimg_save,
#image_block input#ptpimg_it_screenshots {
    margin: 0 0 8px 0 !important;}
input#ptpimg_it_cover ~input[value="PTPImg It"],
#image_block input#ptpimg_it_screenshots ~span input[type="button"] {
    display: none;}
#image_block input#ptpimg_it_screenshots ~span input[type=text] {
    width: calc(100% - 75px)!important;}
input#ptpimg_api_key {
    width: 100%;}
#wrapper #image_block input#ptpimg_it_screenshots +br +span input[type="text"] {
    margin: 0;}
/***
/New PTPIMG It
***/


/***
GGn EZ Collection Management
https://gazellegames.net/forums.php?action=viewthread&threadid=412&postid=952920#post952920
https://greasyfork.org/en/scripts/372437-ggn-ez-collection-management
***/
#collections table#manage_collage_table tr:not(.colhead) td:nth-child(7) {
    padding: 0 0 0 2px;}
#collections table#manage_collage_table tr:not(.colhead) td:nth-child(6) input[type="text"] {
    width: 100%;}
/** Chromium table border rendering bug workaround **/
#collections table#manage_collage_table {
    position: relative;}
#collections table#manage_collage_table tr:nth-last-child(2) td:nth-child(7):before {
    border-right: var(--p-border);
    width: 0;
    height: 100%;}
#collections table#manage_collage_table tr:nth-last-child(2) td:nth-child(7):after {
    border-bottom: var(--p-border);
    width: 100%;
    height: 0;}
#collections table#manage_collage_table tr:nth-last-child(2) td:nth-child(7):before,
#collections table#manage_collage_table tr:nth-last-child(2) td:nth-child(7):after {
    content: '';
    right: -1px;
    bottom: -1px;
    position: absolute;
    border-color: var(--c-main-brdr);}
/***
/GGn EZ Collection Management
***/


/**
GazelleGames image preview
https://gazellegames.net/forums.php?action=viewthread&threadid=412&postid=1412773#post1412773
https://greasyfork.org/en/scripts/390270-gazellegames-image-preview
**/
body >#preview-popup {
    background: none;
    border: var(--p-img-border);
    border-color: var(--c-main-brdr);
    -webkit-box-shadow: var(--p-main-shdw);
    box-shadow: var(--p-main-shdw);
    padding: 0;}
body >#preview-popup >img {
    background-size: 16px 16px;
    background-repeat: repeat;
    background-position: top left;}
/**
/GazelleGames image preview
**/